
@import "../mixin.scss";
@import "../reset.scss";

input[type="text"] {
  position: absolute;
  left: 50%;
  top: -2px;
  width: 420px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 40px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500; 
  background: url('~assets/images/common/ic-search@2x.png') #f4f6fa no-repeat 12px center;
  background-size: 20px;
  font-family: $roboto, $noto, sans-serif;
  border: 0; 
  outline: none;
  transform: translateX(-50%);
   &::placeholder {
    color: #7a869a;
   }
}

.login-wrap {
	// 로그인 랩
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	> li {
		display: inline-block;
		font-size: 16px;
	}
	a {
		display: inline-block;
		padding: 0 20px;
		height: 38px;
		line-height: 38px;
		text-align: center;
		color: #2a313b;
		font-weight: 500;
		vertical-align: middle;
		font-family: $roboto;
	}
	img {
		width: 100%;
	}

	.singup-btn {
		position: relative;
		&:before {
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -8px;
			width: 1px;
			height: 16px;
			background: #c7ced9;
			content: '';
		}
	}

	li.active {
		.depth {
			height: auto;
		}
	}
}

button {
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 32px;
}
.status-btn {
	position: relative;
	margin-left: 10px;
	margin-top: 4px;
	border-radius: 50%;
	&:hover {
		background: #f0f2f4;
	}
}
.link-btn {
	img {
		width: 24px;
	}
}

.hover-box {
	// 박스
	position: absolute;
	right: 0;
	top: 114%;
	min-width: 90px;
	z-index: 3;
	padding: 4px 0;
	background: #fff;
	box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25),
		0 0 1px 0 rgba(9, 30, 66, 0.31);
	p {
		text-align: left;
		font-size: 12px;
		color: #5e6b81;
		padding: 8px 12px;
	}
	li {
		font-size: 14px;
		color: #0b1f48;
		font-weight: 500;
		white-space: nowrap;
		font-family: $noto;
		&:hover {
			background-color: #f5f7fa;
		}
		&:active {
			background-color: #deebff;
		}

		&.active {
			button {
				text-decoration: underline;
			}
		}
	}
	.active button {
		text-decoration: underline;
	}

	button {
		width: 100%;
		padding: 0 17px 0 12px;
		height: 36px;
		text-align: left;
	}
	.icon {
		background: url('~assets/images/common/logo-remote@2x.png') 7px center
			no-repeat;
		background-size: 28px;
	}
}

.link-btn {
	li {
		padding-left: 28px;
	}
}

.thumbnail-btn {
	width: 36px;
	height: 36px;
	border: 2px solid $point;
	margin-top: 2px;
	margin-left: 28px;
	> img {
		width: 30px;
		border: 1px solid #fff;
		border-radius: 50%;
	}
	.hover-box {
		width: 358px;
		font-size: 14px;
		border: 1px solid #e6e9ee;
		cursor: default;
	}
	p {
		color: #0b1f48;
	}
	button {
		color: #5e6b81;
		font-weight: 500;
		background: #f2f5f9;
		white-space: nowrap;
	}
}
.thumbnail-head {
	padding: 26px 30px 30px;
	text-align: left;
	@include clearfix();
	.img-wrap {
		position: relative;
		width: 100px;
		height: 100px;
		margin-right: 30px;
		float: left;
	}
	.profile-img {
		overflow: hidden;
		height: 100px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
	}
	.img-btn {
		background-image: url('~assets/images/common/ic-language@2x.png');
		background-position: center;
		background-size: 24px;
		background-repeat: no-repeat;
	}
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	p {
		padding: 0;
	}
	button {
		border-radius: 18px;
		margin-top: 14px;
	}
	.img-btn {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 32px;
		height: 32px;
	}
	.info-wrap {
		float: left;
		width: calc(100% - 160px);
	}
	.name-text {
		font-size: 18px;
		font-weight: 500;
		margin: 2px 0 4px;
		line-height: 1.33;
	}
	button {
		margin-left: -2px;
	}
}
.thumbnail-body {
	border-top: 1px solid #e6e9ee;
	border-bottom: 1px solid #e6e9ee;
	padding: 16px 0;
	button {
		width: 92px;
		padding: 0;
		border-radius: 3px;
		text-align: center;
	}
}
.thumbnail-foot {
	padding: 15px 18px 11px;
	text-align: left;
	font-size: 12px;
	button {
		width: 60px;
		vertical-align: top;
		padding: 0 2px;
		height: 14px;
		float: right;
		background: #fff;
	}
	a {
		color: #566173;
		margin-right: 12px;
		height: 14px;
	}
	img {
		width: 18px;
		vertical-align: middle;
		margin-left: 2px;
	}
}