@import "../mixin.scss";
@import "../reset.scss";

input[type="text"] {
    position: absolute;
    top: -2px;
    left: 50%;
    box-sizing: border-box;
    width: 420px;
    height: 40px;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 14px;
    font-family: $roboto, $noto, sans-serif;
    line-height: 28px;
    background: url("~assets/images/common/ic-search@2x.png") #f4f6fa no-repeat
        12px center;
    background-size: 20px;
    border: 0;
    outline: none;
    transform: translateX(-50%);
    &::placeholder {
        color: #7a869a;
    }
}

.login-wrap {
    // 로그인 랩
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    > li {
        display: inline-block;
        font-size: 16px;
    }
    a {
        display: inline-block;
        height: 38px;
        padding: 0 20px;
        color: #2a313b;
        font-weight: 500;
        font-family: $roboto;
        line-height: 38px;
        text-align: center;
        vertical-align: middle;
    }
    img {
        width: 100%;
    }

    .singup-btn {
        position: relative;
        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 16px;
            margin-top: -8px;
            background: #c7ced9;
            content: "";
        }
    }

    li.active {
        .depth {
            height: auto;
        }
    }
}

button {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: top;
}
.status-btn {
    position: relative;
    margin-top: 4px;
    margin-left: 10px;
    border-radius: 50%;
    &:hover {
        background: #f0f2f4;
    }
}
.link-btn {
    img {
        width: 24px;
    }
}

.hover-box {
    // 박스
    position: absolute;
    top: 114%;
    right: 0;
    z-index: 3;
    min-width: 90px;
    padding: 4px 0;
    background: #fff;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25),
        0 0 1px 0 rgba(9, 30, 66, 0.31);
    p {
        padding: 8px 12px;
        color: #5e6b81;
        font-size: 12px;
        text-align: left;
    }
    li {
        color: #0b1f48;
        font-weight: 500;
        font-size: 14px;
        font-family: $noto;
        white-space: nowrap;
        &:hover {
            background-color: #f5f7fa;
        }
        &:active {
            background-color: #deebff;
        }

        &.active {
            button {
                text-decoration: underline;
            }
        }
    }
    .active button {
        text-decoration: underline;
    }

    button {
        width: 100%;
        height: 36px;
        padding: 0 17px 0 12px;
        text-align: left;
    }
    .icon {
        background: url("~assets/images/common/logo-remote@2x.png") 7px center
            no-repeat;
        background-size: 28px;
    }
}

.link-btn {
    li {
        padding-left: 28px;
    }
}

.thumbnail-btn {
    width: 36px;
    height: 36px;
    margin-top: 2px;
    margin-left: 28px;
    border: 2px solid $point;
    > img {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
    }
    .hover-box {
        width: 358px;
        font-size: 14px;
        border: 1px solid #e6e9ee;
        cursor: default;
    }
    p {
        color: #0b1f48;
    }
    button {
        color: #5e6b81;
        font-weight: 500;
        white-space: nowrap;
        background: #f2f5f9;
    }
}
.thumbnail-head {
    padding: 26px 30px 30px;
    text-align: left;
    @include clearfix();
    .img-wrap {
        position: relative;
        float: left;
        width: 100px;
        height: 100px;
        margin-right: 30px;
    }
    .profile-img {
        height: 100px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .img-btn {
        background-image: url("~assets/images/common/ic-language@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p {
        padding: 0;
    }
    button {
        margin-top: 14px;
        border-radius: 18px;
    }
    .img-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 32px;
        height: 32px;
    }
    .info-wrap {
        float: left;
        width: calc(100% - 160px);
    }
    .name-text {
        margin: 2px 0 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
    }
    button {
        margin-left: -2px;
    }
}
.thumbnail-body {
    padding: 16px 0;
    border-top: 1px solid #e6e9ee;
    border-bottom: 1px solid #e6e9ee;
    button {
        width: 92px;
        padding: 0;
        text-align: center;
        border-radius: 3px;
    }
}
.thumbnail-foot {
    padding: 15px 18px 11px;
    font-size: 12px;
    text-align: left;
    button {
        float: right;
        width: 60px;
        height: 14px;
        padding: 0 2px;
        vertical-align: top;
        background: #fff;
    }
    a {
        height: 14px;
        margin-right: 12px;
        color: #566173;
    }
    img {
        width: 18px;
        margin-left: 2px;
        vertical-align: middle;
    }
}
