<html>

<head>
	<link type="text/css" rel="stylesheet" href="./index.css">
</head>

<body>
	<div class="container six">
		<video src="./bigbuckbunny_720p.webm" autoplay muted></video>
		<video src="./bigbuckbunny_720p.webm" autoplay muted></video>
		<video src="./bigbuckbunny_720p.webm" autoplay muted></video>
		<video src="./bigbuckbunny_720p.webm" autoplay muted></video>
		<video src="./bigbuckbunny_720p.webm" autoplay muted></video>
		<video src="./bigbuckbunny_720p.webm" autoplay muted></video>
	</div>
</body>

</html>