@import "../mixin";
@import "../font";
@import "../reset";
@import "../account/element/index";

$header_height: 80px;
$header_m_height: 57px;
$footer_height: 100px;
$size_pc_min: 1025px;

.qrcode-wrapper {
  min-height: 100vh;
  background: #f8f8f8;

  @include desktop {
    // background: #fff url(~assets/image/bg-login@2x.png) 50% / cover no-repeat;
  }

  .header {
    position: relative;
    border-bottom: 1px solid #dddddd;

    @include desktop {
      margin-top: -1px;
      background-color: #fff;

      &.has-line::before {
        display: block;
        height: 5px;
        @include background-gradient;
        content: "";
      }
    }

    &--inner {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      max-width: $size_pc_min;
      height: $header_height;
      margin: 0 auto;
      padding: 0 20px;
      color: #222;
      text-align: center;

      @include tablet {
        justify-content: center;
        min-width: $size_m_min;
        max-width: $size_m_max;
        height: $header_m_height;
      }
    }

    &--logo {
      line-height: 0;
    }

    &__logo {
      height: 24px;

      a {
        display: flex;
      }
      .logo-image {
        height: 28px;
        vertical-align: middle;
      }
      .logo-text {
        margin-left: 15px;
        padding-left: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        border-left: solid 1px #dbdee3;
      }
    }

    &--language {
      white-space: nowrap;
      vertical-align: middle;

      .el-input {
        display: inline-block;

        .el-input__inner {
          width: 140px;
          height: 32px;
          padding: 0 0 0 35px;
          color: #2f3340;
          font-size: 13px;
          line-height: 32px;
          // background: url(~assets/image/ic-language.svg) 8px 50% no-repeat;
          background-color: #ffffff;
          border: 1px solid #e2e7ed;
          border-radius: 2px;
        }
        .el-input__suffix {
          display: none;
        }

        &:hover .el-input__inner,
        &:focus .el-input__inner,
        &.is-focus .el-input__inner {
          // background-image: url(~assets/image/ic-language-on.svg);
        }
      }
    }

    &--outlink {
      position: relative;
      display: inline-block;
      margin-left: 12px;
      vertical-align: middle;

      .outlink__inner {
        position: relative;
        width: 140px;
        height: 32px;
        padding: 0 42px 0 12px;
        overflow: hidden;
        color: #2f3340;
        font-size: 13px;
        line-height: 32px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #e2e7ed;
        border-radius: 2px;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          width: 32px;
          height: 100%;
          // background: #ffffff url(~assets/image/ic-select.svg) 50% no-repeat;
          border-left: 1px solid #e2e7ed;
          content: "";
        }
      }

      .outlink__popper {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        margin: 5px 0;
        padding: 5px 0;
        overflow: hidden;
        background: #ffffff;
        border: solid 1px #cfcfcf;
        border-radius: 2px;
        box-shadow: 0 3px 6px 0 rgba(19, 19, 20, 0.14);
        opacity: 0;

        &.active {
          height: auto;
          opacity: 1;
        }
      }

      .outlink__item {
        height: 34px;
        padding: 0 20px;
        color: #979fb0;
        font-size: 13px;
        line-height: 34px;
        text-align: left;

        a {
          white-space: nowrap;
        }

        &:hover {
          color: #646d80;
          background-color: #f3f6f9;
        }
      }
    }
  }

  .footer {
    height: $footer_height;
    padding-top: calc(#{$footer_height} - #{$header_height});
    text-align: center;

    &--inner {
      margin: 0 auto;
    }

    &--outlink {
      @include clearfix;
      display: inline-block;

      li {
        float: left;
      }
      li a {
        color: #444;
        vertical-align: middle;
      }

      li + li::before {
        display: inline-block;
        width: 1px;
        margin: 0 12px;
        overflow: hidden;
        line-height: 1;
        text-indent: -99px;
        vertical-align: middle;
        border-left: 1px solid #ccc;
        content: "div";
      }
    }

    .copyright {
      margin-top: 6px;
      opacity: 0.5;
    }
  }

  .qrcode-body {
    margin: 0 auto;
    text-align: center;
    @include desktop {
      display: grid;
      min-height: calc(100vh - 180px);
      > div {
        margin: auto;
      }
    }
  }
  .qrcode-center {
    padding: 0 25px;

    @include desktop {
      position: relative;
      display: inline-block;
      min-width: 860px;
      margin: 45px auto;
      padding: 0;
      padding: 65px 0 0;
      color: #222;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }

  .qrcode {
    &--title {
      margin-bottom: 4px;
      font-size: 38px;

      @include tablet {
        margin-top: 20px;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
      }
    }

    &--text {
      margin-bottom: 30px;
      font-size: 16px;

      @include tablet {
        margin-bottom: 40px;
        color: #545658;
        font-size: 14px;
      }
    }

    &--main {
      color: #2f3340;
      em {
        padding-left: 10px;
        color: #0054f7;
        font-weight: 500;
      }
    }

    &--image {
      position: relative;
      width: 240px;
      height: 240px;
      margin: 0 auto 10px;
      border: 1px solid #e2e7ed;

      &__inner {
        width: 100%;
        height: 100%;
      }

      .c-warning {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #f86161;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.73;
        background-color: #fffcfc;
        border: solid 1px #ff9e9e;
        border-radius: 2px;
      }

      @include tablet {
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
      }
    }

    &--update {
      width: 160px;
      height: 46px;
      margin-top: 30px;
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
      background-image: linear-gradient(to right, #0054f7, #6700ff);
      border-radius: 4px;

      @include tablet {
        margin-top: 40px;
      }
    }

    &--footer {
      margin-top: 55px;
      padding: 40px 10px;
      text-align: left;
      background-color: #fafbfc;
      border-top: 1px solid #ebedf0;

      &__text {
        display: flex;
        align-items: top;

        .title {
          width: 280px;
          margin-bottom: 6px;
          padding-right: 78px;
          font-weight: 500;
          font-size: 16px;
          text-align: right;
          &:lang(en) {
            width: 310px;
            padding-right: 42px;
          }
          &:lang(zh) {
            width: 335px;
            padding-right: 82px;
          }
        }
        .list {
          margin-left: 1em;
        }
        .listitem {
          color: #3f465a;
          font-size: 13px;
          line-height: 1.85;
          white-space: nowrap;
          list-style: decimal;
          &--placeholder {
            margin-top: 10px;
            color: #646d80;
            font-size: 13px;
            text-indent: -10px;
          }
        }
      }
    }
  }

  .login {
    &-body {
      height: calc(100vh - 180px);
      margin: 0 auto;
      text-align: center;

      @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: $size_m_min;
        max-width: $size_m_max;
        height: calc(100vh - 57px);
      }
    }

    &-center {
      padding: 0 $size_m_pad;

      @include desktop {
        position: relative;
        top: 50%;
        width: 540px;
        margin: auto;
        padding: 60px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        transform: translateY(-50%);
      }
    }

    //타이틀
    &--title {
      padding: 15px 0 25px;
      color: #222;
      font-size: 2.71rem;
      text-align: center;

      @include tablet {
        padding: 20px 0 25px;
        font-weight: 500;
        font-size: 20px;
      }
    }

    &--subtitle {
      margin-top: -17px;
      margin-bottom: 35px;
      color: #545658;
      font-size: 16px;

      @include tablet {
        margin-bottom: 24px;
        font-size: 14px;
      }
    }

    //정보입력 영역
    &-form {
      .el-form-item.is-error {
        padding-bottom: 0;
      }

      &--input {
        margin-top: 12px;
      }

      &--failmsg {
        margin: 12px 0;
        color: $color_warning;

        @include tablet {
          margin: 6px 0;
          font-size: 14px;
        }
      }

      &--util {
        margin-top: 30px;

        .keep-login {
          float: left;
        }

        .password-find {
          float: right;
          color: #222;
          vertical-align: middle;
          border-bottom: 1px solid transparent;

          &:hover {
            color: $color_remote_dark;
            border-bottom: 1px solid $color_virnect;
          }
        }

        @include tablet {
          margin-top: 22px;
        }
      }

      &--submit {
        width: 100%;
        margin-top: 15px;

        @include tablet {
          margin-top: 10px;
        }
      }
    }

    //회원가입 안내 영역
    &-join {
      margin-top: 24px;
      text-align: center;

      &--info {
      }

      &--link {
        margin-left: 10px;
        color: $color_remote_dark;

        &:hover {
          color: $color_remote;
        }
      }
    }

    @include tablet {
      &-mobile {
        .family {
          text-align: center;

          &--item {
            display: inline-block;
            margin: 0 5px;
            padding: 6px 10px;
            color: #2f3340;
            font-size: 12px;
            background-color: #fafafa;
            border: 1px solid #e2e7ed;
            border-radius: 2px;
          }
        }

        .etc {
          margin: 8px 0 10px;
          color: #717a84;
          font-size: 11px;

          .etc--item {
            display: inline-block;
          }

          .etc--item + .etc--item::before {
            height: 1em;
            margin: 0 10px 0 8px;
            line-height: 1;
            border-left: 1px solid #ccc;
            content: "";
          }

          .el-input .el-input__inner {
            width: 60px;
            padding: 0 0 0 18px;
            color: #717a84;
            font-size: 11px;
            background-position: 0 50%;
            background-size: 14px;
            border: none;
          }
        }
      }
    }
  }
}

.language__popper {
  margin-right: 15px;
  border: solid 1px #cfcfcf;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(19, 19, 20, 0.14);

  &.el-popper[x-placement^="bottom"] {
    margin-top: 5px;
  }

  .popper__arrow {
    display: none;
  }

  .el-select-dropdown__list {
    padding: 5px 0;
  }

  .el-select-dropdown__item {
    color: #979fb0;
    font-weight: 400;
    font-size: 13px;

    &.is-selected {
      color: #646d80;
      font-weight: 700;
    }
    &.hover,
    &:hover {
      color: #646d80;
      background-color: #f3f6f9;
    }
  }
}
