@import "../mixin";
@import "../font";
@import "../reset";
.overlay {
  --overlay_show_text: false;
  --overlay_show_number: false;
  --overlay_show_dot: false;
  --overlay_persists: false;
  --overlay_anchor_hv: "100,50";
}
.appmenu {
  color: #000;
  &--section {
  }

  &--title {
    padding: 8px 12px;
    font-size: 13px;
    background-color: #f2f2f2;
  }

  &--list {
    &__item {
    }
    &__link {
      display: block;
      padding: 12px 12px;
      color: #333;
      font-size: 16px;
      font-family: $font-family, $font-family2;
      line-height: 1.25;
      word-break: keep-all;
      // background: url(~assets/image/ic-arrow-right.svg) 98% 50%/1em no-repeat;
      border-top: 1px solid #e1e1e1;
    }
  }

  .intro {
    &--title {
      @extend .appmenu--title;
    }

    &--list {
      &__label {
        padding: 8px 12px 3px;
        color: #a1a1a1;
        font-size: 13px;
        font-family: $font-family, $font-family2;
        line-height: 1.25;
        border-top: 1px solid #e1e1e1;
      }
      &__text {
        @extend .appmenu--list__link;
        padding: 0 12px 8px;
        background: none;
        border-top: none;

        p {
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 12px;

          &::before {
            content: "[";
          }
          &::after {
            content: "]";
          }
        }
      }
    }
  }
}
