
$bg-color: #858585;
$txt-color: #000;

@mixin dark-theme {
  $bg-color: #5a5a5a !global;
  $txt-color: #fff !global;
}

@mixin bright-theme {
  $bg-color: #fff !global;
  $txt-color: #000 !global;
}

@mixin theme {
  :root[theme=dark] {
    $bg-color: #5a5a5a;
    $txt-color: #fff;
  }
  :root[theme=bright] {
    $bg-color: #fff;
    $txt-color: #000;
  }
}

// :root .dark {
//   background-color: #5a5a5a;
//   @include dark-theme;
//   // $bg-color: #5a5a5a !global;
// }
// :root .bright {
//   background-color: #fff;
//   @include bright-theme;
//   // $bg-color: #fff !global;
// }
