.login {
  &-body {
    position: relative;
    display: flex;
    height: calc(100vh - 180px);
    min-height: calc(700px - 180px);
    margin: 0 auto;
    text-align: center;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: $size_m_min;
      max-width: $size_m_max;
      height: calc(100% - 57px);
      max-height: -webkit-fill-available;
    }
  }

  &-center {
    padding: 0 $size_m_pad;

    @include desktop {
      position: relative;
      top: 50%;
      display: inline-block;
      width: 540px;
      padding: 60px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      transform: translateY(-50%);
    }
  }

  //타이틀
  &--title {
    padding: 15px 0 25px;
    color: #222;
    font-size: 2.71rem;
    text-align: center;

    @include tablet {
      padding: 20px 0 25px;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &--subtitle {
    margin-top: -17px;
    margin-bottom: 35px;
    color: #545658;
    font-size: 16px;
  }

  //정보입력 영역
  &-form {
    .el-form-item.is-error {
      padding-bottom: 0;
    }

    &--input {
      margin-top: 12px;
    }

    &--failmsg {
      margin: 12px 0;
      // color: $color_warning;

      @include tablet {
        margin: 6px 0;
        font-size: 14px;
      }
    }

    &--util {
      margin-top: 30px;

      .keep-login {
        float: left;

        .el-checkbox__label {
          padding-left: 6px;
        }
      }

      @include tablet {
        margin-top: 22px;
      }
    }

    &--submit {
      width: 100%;
      margin-top: 15px;

      @include tablet {
        margin-top: 10px;
      }
    }
  }
}
