.account-wrapper {
  height: 100vh;
  max-height: -webkit-fill-available;
  background: #f8f8f8;

  @include desktop {
    position: relative;
    height: 100vh;
    min-height: 700px;
    // background: url(~assets/image/bg-login@2x.png) 50% / cover no-repeat;
  }

  .header {
    position: relative;
    border-bottom: 1px solid #dddddd;

    @include desktop {
      margin-top: -1px;
      background-color: #fff;

      &.has-line::before {
        display: block;
        height: 5px;
        content: "";
      }
    }

    &--inner {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      max-width: $size_pc_min;
      height: $header_height;
      margin: 0 auto;
      padding: 0 20px;
      color: #222;
      text-align: center;

      @include tablet {
        justify-content: center;
        min-width: $size_m_min;
        max-width: $size_m_max;
        height: $header_m_height;
      }
    }

    &--logo {
      line-height: 1;

      @include tablet {
        img {
          width: 210px;
        }
      }
    }
  }
}
