// @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700#.css");
// @import url("//fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700,800&display=swap");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/notosanssc.css");

/* Thin */
@font-face {
  font-weight: 200;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Thin"),
    url("~assets/font/NotoSansKR-Thin-Hangul.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Thin-Hangul.woff") format("woff");
  unicode-range: U+0021-33FF, U+A000-F8FF, U+FB00-F251;
}

@font-face {
  font-weight: 200;
  font-family: $font_family3;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Thin"),
    url("~assets/font/NotoSansKR-Thin-Hanja.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Thin-Hanja.woff") format("woff");
  unicode-range: U+4E00-9F95, U+F900-FA0B;
}

/* Light */
@font-face {
  font-weight: 300;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Regular"),
    url("~assets/font/NotoSansKR-Regular-Hangul.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Regular-Hangul.woff") format("woff");
  unicode-range: U+0021-33FF, U+A000-F8FF, U+FB00-F251;
}

@font-face {
  font-weight: 300;
  font-family: $font_family3;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Regular"),
    url("~assets/font/NotoSansKR-Light-Hanja.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Light-Hanja.woff") format("woff");
  unicode-range: U+4E00-9F95, U+F900-FA0B;
}

/* DemiLight */
@font-face {
  font-weight: 350;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-DemiLight"),
    url("~assets/font/NotoSansKR-DemiLight-Hangul.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-DemiLight-Hangul.woff") format("woff");
  unicode-range: U+0021-33FF, U+A000-F8FF, U+FB00-F251;
}

@font-face {
  font-weight: 350;
  font-family: $font_family3;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-DemiLight"),
    url("~assets/font/NotoSansKR-DemiLight-Hanja.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-DemiLight-Hanja.woff") format("woff");
  unicode-range: U+4E00-9F95, U+F900-FA0B;
}

/* Regular */
@font-face {
  font-weight: 400;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Regular"),
    url("~assets/font/NotoSansKR-Regular-Hangul.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Regular-Hangul.woff") format("woff");
  unicode-range: U+0021-33FF, U+A000-F8FF, U+FB00-F251;
}

@font-face {
  font-weight: 400;
  font-family: $font_family3;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Regular"),
    url("~assets/font/NotoSansKR-Regular-Hanja.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Regular-Hanja.woff") format("woff");
  unicode-range: U+4E00-9F95, U+F900-FA0B;
}

/* Medium */
@font-face {
  font-weight: 500;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Medium"),
    url("~assets/font/NotoSansKR-Medium-Hangul.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Medium-Hangul.woff") format("woff");
  unicode-range: U+0021-33FF, U+A000-F8FF, U+FB00-F251;
}

@font-face {
  font-weight: 500;
  font-family: $font_family3;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Medium"),
    url("~assets/font/NotoSansKR-Medium-Hanja.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Medium-Hanja.woff") format("woff");
  unicode-range: U+4E00-9F95, U+F900-FA0B;
}

/* Bold */
@font-face {
  font-weight: 700;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Bold"),
    url("~assets/font/NotoSansKR-Bold-Hangul.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Bold-Hangul.woff") format("woff");
  unicode-range: U+0021-33FF, U+A000-F8FF, U+FB00-F251;
}

@font-face {
  font-weight: 700;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Bold"),
    url("~assets/font/NotoSansKR-Bold-Hanja.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Bold-Hanja.woff") format("woff");
  unicode-range: U+4E00-9F95, U+F900-FA0B;
}

/* Black */
@font-face {
  font-weight: 900;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Black"),
    url("~assets/font/NotoSansKR-Black-Hangul.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Black-Hangul.woff") format("woff");
  unicode-range: U+0021-33FF, U+A000-F8FF, U+FB00-F251;
}

@font-face {
  font-weight: 900;
  font-family: $font_family;
  font-style: normal;
  font-stretch: normal;
  src: local("NotoSansKR-Black"),
    url("~assets/font/NotoSansKR-Black-Hanja.woff2") format("woff2"),
    url("~assets/font/NotoSansKR-Black-Hanja.woff") format("woff");
  unicode-range: U+4E00-9F95, U+F900-FA0B;
}
