@import "_vars";

// 구간 분기
@mixin background-border($direction) {
  &::after {
    position: absolute;
    background-color: $color_bg_border;
    content: '';
    @if $direction == "right" {
      // border-right: $color_bg_shadow_border;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 1px;
    } @else if $direction == "left" {
      // border-left: $color_bg_shadow_border;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 1px;
    } @else if $direction == "top" {
      // border-top: $color_bg_shadow_border;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
    } @else if $direction == "bottom" {
      // border-bottom: $color_bg_shadow_border;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }
}

// 연결 상태값 색상 설정
@mixin status-color($dot: false) {
  &.good {
    color: $color_state_good;
    border-color: $color_state_good;
    background-color: $color_state_good_bg;
    @if $dot {
      &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $color_state_good;
      }
    }
  }
  &.normal {
    color: $color_state_normal;
    border-color: $color_state_normal;
    background-color: $color_state_normal_bg;
    @if $dot {
      &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $color_state_normal;
      }
    }
  }
  &.bad {
    color: $color_state_bad;
    border-color: $color_state_bad;
    background-color: $color_state_bad_bg;
    @if $dot {
      &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $color_state_bad;
      }
    }
  }
}

@function gradient($start_color, $end_color) {
  @return linear-gradient(to right, $start_color, $end_color);
}

@mixin background-gradient($start_color: $color_remote, $end_color: $color_virnect) {
  color: #FFF;
  background-image: gradient($start_color: $color_remote, $end_color: $color_virnect);

  &:hover {
    background-image: gradient(darken($start_color,5%), darken($end_color,5%));
  }
}

@mixin border-gradient($start_color, $end_color) {
  border-image: gradient($start_color, $end_color);
}

@mixin button($type: default) {

  &:hover {
  }

  &:active {
  }
}

@mixin ir {
  overflow: hidden;
  text-indent: -999px;
}

@mixin clearfix {
  &::after {
      clear: both;
      display: block;
      content: '';
  }
}

$colors: (
  remote: $color_remote,
  virnect: $color_virnect,
  warning: $color_warning,
  gray: $color_text_gray
);
@each $key, $value in $colors {
  .c-#{$key} {
      color: $value;
  }
}

.ir {
  @include ir;
}
.clearfix {
  @include clearfix;
}

/* Motion */
.shake {
  animation: shake .6s linear alternate;
}
@keyframes shake {
  0%,
  100% {
      transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% { transform: translateX(1%); }

  20%,
  40%,
  60%,
  80% { transform: translateX(-1%); }
}

/* MediaQuery */
// PC
@mixin desktop {
	@media screen and (min-width: $size_tab_max + 1) {
		@content;
	}
}

// 태블릿
@mixin tablet {
	@media screen and (max-width: $size_tab_max) {
		@content;
	}
}

// 모바일
@mixin mobile {
	@media screen and (max-width: $size_m_max) {
		@content;
	}
}

// 프린트
@mixin print {
    @media print {

    }
}

/*
THEME 사용
root div에 theme 설정
// 선언
@mixin theme-dark() {
    @at-root [theme=dark] & {
        @content;
    }
}
// 호출
@include theme-dark {
    border-color: rgb(31, 31, 31);
}
*/