@import "_vars";

/*
 * 테마 적용
 */
@mixin theme-dark() {
  @at-root [theme="dark"] & {
    @content;
  }
}
@mixin theme-bright() {
  @at-root [theme="bright"] & {
    @content;
  }
}

/*
 * 구간 분기를 위한 보더
 * @param {String} $direction : "right", "left", "top", "bottom"
 */
@mixin background-border($direction) {
  &::after {
    position: absolute;
    background-color: rgba($color_text, 0.04);
    @include theme-bright() {
      background-color: $color_text;
    }
    content: "";
    @if $direction == "right" {
      // border-right: $color_bg_shadow_border;
      right: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
    } @else if $direction == "left" {
      // border-left: $color_bg_shadow_border;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 100%;
    } @else if $direction == "top" {
      // border-top: $color_bg_shadow_border;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
    } @else if $direction == "bottom" {
      // border-bottom: $color_bg_shadow_border;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }
}

// 연결 상태값 색상 설정
@mixin status-color($attr: "background-color") {
  &.good {
    #{$attr}: $color_state_good;
  }
  &.normal {
    #{$attr}: $color_state_normal;
  }
  &.bad {
    #{$attr}: $color_state_bad;
  }
  &.disconnected {
    #{$attr}: #ff4141;
  }
}

@mixin border-gradient($start_color, $end_color) {
  border-image: gradient($start_color, $end_color);
}

@mixin ir {
  overflow: hidden;
  text-indent: -999px;
}
@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin image {
  position: relative;
  overflow: hidden;
  line-height: 0;
  background: url("~assets/image/icon_bg.svg") no-repeat;
  background-size: 100%;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background: url("~assets/image/icon_user_profile.svg") no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%);
    content: "";
  }
  &.group {
    &:before {
      background-image: url("~assets/image/icon_user_remote.svg");
    }
  }
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    mask: url("~assets/image/icon_bg.svg") no-repeat;
    mask-size: 100%;
    -webkit-mask: url("~assets/image/icon_bg.svg") no-repeat;
    -webkit-mask-size: 100%;
    // border-radius: 50%;
  }

  @include responsive-mobile {
    //유저 default 썸네일 이미지
    &:before {
      width: 100%;
      height: 100%;
      background-image: url("~assets/image/icon_user_profile_new.svg");
    }

    //헤더 프로필 메뉴
    &.profile-menu {
      background: none;
      &:before {
        width: 77%;
        height: 77%;
        background-image: url("~assets/image/icon_user_profile_menu_new_.svg");
      }
    }

    //원격협업 항목 deafult 썸네일
    &.group {
      &:before {
        width: 110%;
        height: 110%;
        background-image: url("~assets/image/icon_user_remote_new.svg");
      }
    }
  }
}
@mixin profileMask($innerColor, $borderWidth, $borderColor) {
  position: relative;
  mask: url("~assets/image/icon_bg.svg") no-repeat;
  mask-size: 100%;
  overflow: hidden;
  background-color: $borderColor;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: calc(100% - #{$borderWidth + $borderWidth});
    height: calc(100% - #{$borderWidth + $borderWidth});
    background-color: $innerColor;
    transform: translate(-50%, -50%);
    content: "";
    mask: url("~assets/image/icon_bg.svg") no-repeat;
    mask-size: 100%;
  }
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.ir {
  @include ir;
}
.clearfix {
  @include clearfix;
}

/* Motion */
.shake {
  animation: shake 0.6s linear alternate;
}
.rotate360 {
  animation: rotate360 0.4s linear alternate;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(1%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-1%);
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

/* MediaQuery */
// PC
@mixin desktop {
  @media screen and (min-width: $size_tab_max + 1) {
    @content;
  }
}

// 태블릿
@mixin tablet {
  @media screen and (max-width: $size_tab_max), (max-height: 680px) {
    @content;
  }
}

// 태블릿
@mixin iPad {
  @media only screen and (min-device-width: 768px) and (max-width: $size_tab_max) {
    @content;
  }
}

// 모바일
@mixin mobile {
  @media screen and (max-width: $size_m_max) {
    @content;
  }
}

// 모달 em 세팅
@mixin modal {
  @media screen and (max-width: 900px), (max-height: 790px) {
    font-size: 12px;
  }
  @media screen and (max-width: $size_m_max) {
    font-size: 10px;
  }
  // @include iPad {
  //   font-size: 8px;
  // }
}

// 프린트
@mixin print {
  @media print {
  }
}

/*
THEME 사용
root div에 theme 설정
// 선언
@mixin theme-dark() {
    @at-root [theme=dark] & {
        @content;
    }
}
// 호출
@include theme-dark {
    border-color: rgb(31, 31, 31);
}
*/

@mixin svg-icon($path, $height, $width, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  background-size: cover;
  mask-image: url($path);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@mixin responsive-widecard {
  padding-right: 1.2rem;
  padding-left: 1.5rem;
  background-color: $new_color_bg_item;
  border-radius: 0.6rem;
  &.selected {
    border-color: $new_color_bg_button_primary;
  }
  .profile .profile--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 65%;
    .profile--role__mobile {
      display: block;
      margin-right: 0.6rem;
      margin-left: 0;
      color: #58a3f7;
      border-color: #58a3f7;
    }
    .profile--maintext {
      @include fontLevel(100);
      color: $new_color_text_main;
    }
    .profile--subtext {
      @include fontLevel(75);
      color: $new_color_text_sub;
    }
  }

  .profile--role {
    display: none;
  }
}

@mixin mobile-popover-btn($height) {
  width: 3.8rem;
  height: $height;
  background: none;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 6px;
    width: 100%;
    width: $height;
    height: 100%;
    background-image: url(~assets/image/ic_more_vertical_24.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: calc($height * 0.9);
    border-radius: 50%;
    transition: background-color 0.3s;
    content: "";
  }
  &:hover {
    &:before {
      background-color: $new_color_bg_hover;
    }
  }
}

@mixin responsive-popover {
  &.popover {
    background-color: #606a77; //@추가 color
    border: none; //@추가 color
  }
  .groupcard-popover {
    padding: 0;

    .group-pop__button {
      @include fontLevel(100);
      width: 12.1rem;
      height: 4rem;
      padding: 0;
      padding-left: 2rem;
    }
  }
}

//반응형 모바일 (360px) ~ 767px
@mixin responsive-mobile {
  @media screen and (max-width: $responsive_m_max) {
    @content;
  }
}
