/* Layout */
$header_height: 56px;

/* Layout - Workspace */
$welcome_height: 17.143rem; //156px + 64px + 64px

/* Layout - Service */
$subview_width: 360px;
$videos_height: 100px;
$share_width: 156px;

/* Primary Color */
$color_primary_700: #145fc6;
$color_primary: #0f75f5;
$color_primary_500: #6bb4f9;
$color_primary_400: #bfddff;
$color_primary_300: #d7e7f8;

/* Darkgray Color */
$color_darkgray_1000: #000000;
$color_darkgray: #111012;
$color_darkgray_800: #1e1f22;
$color_darkgray_600: #29292c;
$color_darkgray_500: #313135;
$color_darkgray_400: #38383a;

/* Status Color */
$color_state_good: #3ce900;
$color_state_normal: #4bc6ff;
$color_state_bad: #eb001d;
$color_online: #7ed321;
$color_offline: #cccccc;
$color_busy: #ef3e33;

/* Text Color */
$color_text: #fff;
$color_text_main: #d2d2d2;
$color_text_sub: #fafafa;
$color_text_red: #f55560;

/* Background Color */
$color_bg: #181819;
$color_bg_sub: #242427;
$color_bg_item: #4c5259;

/* Other Color */
$color_white: #ffffff;
$color_red: #eb001d;
$color_yellow: #ffd059;
$color_link: $color_primary_400;

/* Border Color */
$color_sub_border: #979797;
$color_line_border: #eaeeee;

/* Color - background, border */
$color_bg_default: $color_bg;
$color_bg_display: #1e1e20;
$color_bg_border: #434346;
$color_bg_shadow: rgba(16, 16, 17, 0.2);
$color_bg_shadow_border: 1px solid #040810;

$color_chat_bg_default: #26262a;
$color_chat_header: rgba(#a9a9a9, 0.2);
$color_chat_bg_me: #d1dffa;
$color_chat_bg_opponent: $color_white;

$color_videolist_border: rgba(151, 151, 151, 0.21);

$color_state_good_bg: rgba(#0e2805, 0.6);
$color_state_normal_bg: rgba(#1a1e00, 0.6);
$color_state_bad_bg: rgba(#2c070c, 0.72);

/* Screen Size */
$size_pc_max: 1920px;
$size_pc_min: 1025px;
$size_pc_pad: 25px;
$size_tab_max: 1024px;
$size_tab_min: 768px;
$size_m_max: 767px;
$size_m_min: 320px;
$size_m_pad: 20px;

/* Font */
$font_family: "NotoSansKR";
$font_family2: "Roboto";
// $font_family2: "Noto Sans";
$font_family3: "Noto Sans SC";
