@charset "utf-8";

@import "mixin";

html,
body {
  @include desktop {
    font-size: 14px;
  }
  @include tablet {
    font-size: 12px;
  }
  @include mobile {
    font-size: 10px;
  }
  // @include iPad {
  //   font-size: 8px;
  // }
}

@include desktop {
  body {
    min-width: $size_tab_max;
  }
}

body.modal-open {
  overflow: hidden;
}

.flex {
  display: flex;
  height: 100%;
}

.btn {
  min-height: 2.5rem;
  // margin-top: 0.714em;
  padding: 0.714em 2.857em;
  color: #fff;
  font-weight: 500;
  font-size: 1.071em;
  line-height: 1.571em;
  white-space: nowrap;
  background-color: $color_primary;
  border-radius: 2px;
  transition: background-color 0.2s;
  @media (hover: hover) and (pointer: fine) {
    &:focus {
      background-color: $color_primary;
    }
    &:hover {
      background-color: $color_primary_700;
    }
  }
  &:active {
    background-color: $color_primary_dark;
  }
  &:disabled,
  &.disabled {
    background-color: #213d62;
    cursor: default;
  }
  &.large {
    width: 100%;
  }
  &.small {
    min-width: 8.571em;
    padding: 0.429em 2.143em;
    font-size: 1em;
    line-height: 1.429em;
    background-color: rgba($color_primary, 0.27);
    border: solid 1px rgba($color_primary, 0.13);
    @include hover {
      &:focus {
        background-color: rgba($color_primary, 0.27);
      }
      &:hover {
        background-color: rgba($color_primary, 0.5);
      }
    }
    &:active {
      background-color: $color_primary;
    }
    &.sub {
      background-color: rgba($color_bg_item, 0.15);
      border-color: $color_bg_item;
      &:focus {
        background-color: rgba($color_bg_item, 0.15);
      }
      &:hover {
        background-color: rgba($color_bg_item, 0.3);
      }
      &:active {
        background-color: rgba($color_bg_item, 0.5);
      }
    }
  }
  &.normal {
    padding: 0.714em 1.571em;
    color: rgba(#fff, 0.6);
    font-weight: 300;
    background-color: $color_darkgray_500;

    &:focus {
      color: rgba(#fff, 0.6);
      background-color: $color_darkgray_500;
    }
    @include hover {
      &:hover,
      &:active {
        color: #fff;
        background-color: #38383a;
      }
    }
  }
  &.line {
    padding: 0.571em 1.214em;
    color: #fff;
    font-weight: 300;
    font-size: 0.857em;
    background: transparent;
    border: solid 1px #fff;

    &:focus {
      color: #fff;
      border-color: #fff;
    }
    @include hover {
      &:hover,
      &:active {
        color: $color_primary;
        border-color: $color_primary;
      }
    }
  }
}

.hide-tablet {
  @include tablet {
    display: none;
  }
}

.tab-view__search {
  margin-right: 1.071em;
}
.loading-leave-active {
  transition: opacity ease 0.4s;
}
.loading-leave {
  opacity: 1;
}
.loading-leave-to {
  opacity: 0;
}
