@charset "utf-8";

@import "common";

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 8;
  display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: $header_height;
  padding-right: 22.8571rem;
  padding-left: 22.8571rem;
  background: #252525;
}

.header-divider {
  width: 1px;
  height: 1.571rem;
  margin: auto 2.1429rem;
  background-color: rgba(#d8d8d8, 0.2);
}
.header-logo {
  display: flex;
  padding: 1.1429rem 0px;
}
