@charset "utf-8";

@import "common";

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $header_z_index;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $header_height;
  background: #252525;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 9.5136rem;
  height: 2.2286rem;
  margin-right: 1.4286rem;
}
