@charset "utf-8";

@import "common";

.remote-layout {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  background-color: $color_bg_default;
}
.remote-wrapper {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}
