@charset "utf-8";

@import "common";

.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 14px;
  background: url("~assets/image/support/img_support_bg.svg") $color_bg_display;
}

.support-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 8.5em;
  text-align: center;
  @include tablet {
    margin-top: -3.571em;
    padding: 0 1.429em;
  }
  @include mobile {
    margin: auto;
    padding: 0 0 4.5em 0;
  }
}

.support-body__graphic {
  margin: 0 auto;
  padding: 0.714em 0;
  line-height: 0;
  text-align: center;

  @include mobile {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.support-body__title {
  margin: 2em 1.429em 0;
  color: $color_text;
  font-weight: 700;
  font-size: 2.143em;
  word-break: keep-all;

  @include tablet {
    margin-top: 3px;
    font-size: 1.429em;
  }
  .c-emote {
    color: $color_primary;
  }
}

.support-body--description {
  margin: 1em 0 2.857em;
  color: $color_text;
  font-size: 1.143em;
  line-height: 1.62;
  opacity: 70%;

  @include tablet {
    margin: 0.429em 0 1.714em;
    font-size: 0.929em;
  }

  @include mobile {
    display: none;
  }
}

.support-body--mobile {
  display: none;
  margin: 1em 0 2.857em;
  color: $color_text;
  font-size: 1.143em;
  line-height: 1.62;
  opacity: 70%;
  @include mobile {
    display: block;
    margin-top: 1.929em;
    font-size: 1em;
  }
}

.support-body--button {
  width: 18em;
  height: 3.571em;
  color: $color_primary;
  font-weight: 500;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 209, 215);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);

  &:hover {
    background: #d8d8d8;
  }

  &:active {
    background: #afafaf;
    border: none;
  }

  @include tablet {
    width: 200px;
    padding: 1.071em 1.429em;
    font-size: 0.857em;
  }
  @include mobile {
    display: none;
  }
}

.support-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2.857em;
  text-align: center;

  .support-footer__inner {
    margin: 0 auto;
  }

  .support-footer__copyright {
    margin-top: 0.429em;
    color: $color_text;
    opacity: 50%;
    @include mobile {
      font-size: 0.929em;
    }
  }
}

.c-remote {
  color: $color_primary;
}
