@charset "utf-8";

* {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
}

html {
  overscroll-behavior: none;
  overflow: hidden;
}
body {
  overscroll-behavior-y: contain;
  height: 100%;
}

@import "common";
@import "transition";

@import "./workspace/workspace-layout";
@import "./workspace/workspace-welcome";

@import "./workspace/workspace-tab";
@import "./workspace/workspace-history";
@import "./workspace/workspace-remote";
@import "./workspace/workspace-user";
@import "./workspace/workspace-setting";
@import "./workspace/workspace-license";

.offsetwidth {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
