@charset "utf-8";

@import "common";
@import "transition";

@import "./workspace/workspace-layout";
@import "./workspace/workspace-welcome";

@import "./workspace/workspace-tab";
@import "./workspace/workspace-history";
@import "./workspace/workspace-remote";
@import "./workspace/workspace-user";
@import "./workspace/workspace-setting";

.offsetwidth {
  position: relative;
  width: 100%;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
}
