.workspace-welcome {
  flex: 0;
}

.workspace-welcome__body {
  width: 100%;
  height: $welcome-height;
  // margin: 2.143rem auto 10px;
  padding: 3.429rem 5.929rem;
  background: url(~assets/image/img_banner.svg) center right/auto 17.143rem
    no-repeat #12233a;
  border-radius: 8px;
  &.offsetwidth {
    margin: 2.143rem auto 0.714rem;
  }
  &.empty {
    display: flex;
    > .workspace-welcome__name {
      margin: auto 0;
    }
  }
  @include tablet {
    background: #12233a;
  }
}

.workspace-welcome__group {
  display: flex;
  > p {
    color: rgba($color_primary_400, 0.82);
    font-weight: 500;
    font-size: 1.286rem;
    @include ellipsis();
  }
}

.workspace-welcome__name {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0.429rem 0 1.643rem;
  color: $color_text;
  font-weight: 500;
  font-size: 1.857rem;
  > em {
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  > span {
    flex: 0;
    white-space: nowrap;
  }
}
.workspace-welcome__nickname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.workspace-welcome__text {
  flex: 0 0 auto;
}

.workspace-welcome__button {
  padding: 1.071rem 2.143rem;
  color: $color_text;
  font-weight: 500;
  font-size: 1.071rem;
  background-color: $color_primary;
  border-radius: 2px;
  &:hover {
    background-color: $color_primary;
  }
}

.btn.workspace-welcome__open {
  margin-left: 1.143rem;
  background-color: #009174;
  &:hover,
  &:active {
    background-color: #006853;
  }
  &:focus {
    background-color: #005545;
  }
}

@include responsive-mobile {
  .workspace-welcome .workspace-welcome__body {
    display: none;
  }
}
