.workspace-welcome {
  flex: 0;
}

.workspace-welcome__body {
  width: 100%;
  height: $welcome-height;
  // margin: 2.143rem auto 10px;
  padding: 3.429rem 5.929rem;
  background: url(~assets/image/img_banner.svg) center right no-repeat #12233a;
  border-radius: 8px;
  &.offsetwidth {
    margin: 0 auto 0.714rem;
  }
  @include tablet {
    background: #12233a;
  }
}

.workspace-welcome__group {
  display: flex;
  color: rgba($color_primary_400, 0.82);
  font-weight: 500;
  font-size: 1.286rem;
}

.workspace-welcome__name {
  margin: 1.071rem 0 1.643rem;
  color: $color_text;
  font-weight: 500;
  font-size: 1.857rem;
}

.workspace-welcome__button {
  padding: 1.071rem 2.143rem;
  color: $color_text;
  font-weight: 500;
  font-size: 1.071rem;
  background-color: $color_primary;
  border-radius: 2px;
  &:hover {
    background-color: $color_primary;
  }
}
