@import "~assets/style/vars";

.createroom-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 19.286em;
  max-height: 41.429em;
  margin: 3.571em 4.286em 2.143em 4em;
  .inputrow {
    margin-top: 2.143em;
  }
}
.createroom-info_regist-image {
  width: fit-content;
  margin: 1.143em auto 0.714em;
  font-size: 0.929em;
  line-height: 1.571em;
}
.createroom-info__add-member {
  font-size: 0.929em;
  opacity: 0.7;
}
.createroom-info__button {
  position: absolute;
  bottom: 0;
  width: 100%;
}
