.workspace-tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100% - 240px);
}

.workspace-tab__nav {
  flex: 0;
  width: 100%;
  max-width: 1480px;
  margin: auto;
  background-color: $color_bg_default;
  &.fix {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}

.vue-scrollbar__wrapper.workspace-scroller {
  flex: 1;
  width: 100%;
  background-color: $color_bg_display !important;
}

.workspace-tab__button {
  margin-right: 20px;
  > button {
    min-width: 70px;
    padding: 12px 3px;
    color: #ffffff;
    font-size: 15px;
    background-color: transparent;
    border-bottom: solid 2px transparent;
    opacity: 0.25;
    &:hover,
    &:active {
      // border-bottom: solid 1px #ffffff;
      opacity: 1;
    }
    &.active {
      border-bottom: solid 2px #ffffff;
      opacity: 1;
    }
  }
}

.tab-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 1480px;
  margin: auto;
  text-align: left;
  background-color: #1e1e20;
  &.fix {
    margin-top: 50px;
  }
  > div {
    position: relative;
    width: 100%;
    max-width: 1480px;
    margin: auto;
  }
}
.tab-view__header {
  position: relative;
  display: flex;
  flex: 0;
  flex-direction: column;
  padding: 51px 0 23px;
}
.tab-view__title {
  color: #d2d2d2;
  font-weight: 500;
  font-size: 22px;
}
.tab-view__description {
  margin-top: 9px;
  color: rgba(#fafafa, 0.3);
}
.tab-view__search.search {
  position: absolute;
  right: 0;
}

.tab-view__body {
  flex: 1;
  // height: calc(100% - 109px);
}
