.remote-layout {
  position: relative;
  min-width: $size_tab_min;
  height: 100%;
  overflow: hidden;
  background-color: $color_bg_default;
}
.remote-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - #{$header_height});
  margin-top: $header_height;
  // padding: $header_height 10px 20px 0;
  margin-right: 0;
  padding-bottom: 0;
  > .vue-scrollbar__area {
    height: 100%;
    transition: none;
  }
}

.workspace-wrapper {
  display: flex;
  flex-direction: column;
  // display: flex;
  // flex-direction: column;
  min-height: 100%;
  // padding-top: 2.143rem;
  // max-width: 1440px;
  // height: calc(100vh - 56px);
  // margin: 0 auto;
  // margin-top: 56px;
  // text-align: center;
  background-color: $color_bg;
}

@include responsive-mobile {
  .remote-wrapper {
    height: calc(100% - #{$header_m_height});
    margin-top: $header_m_height;
  }
}
