$color_license_white: #fbfbfb;
$color_plan_basic: #0f75f5;
$color_plan_business_term: #36ba6b;
$color_plan_business_permanent: #111012;

$color_negative: #ff7070;
$color_positivie: #66aaff;

.workspace-license {
  background-color: $color_bg_display;
}

.workspace-license__description {
  margin-top: 3.7857rem;
  margin-bottom: 2.7143rem;
}

.workspace-license__cards {
  display: flex;
  justify-content: center;
}

.workspace-license__description--title {
  color: $color_license_white;
  font-weight: 500;
  font-size: 2.1429rem;
  text-align: center;
}

.workspace-license__description--sub-title {
  color: rgba($color_license_white, 0.6);
  font-weight: 500;
  font-size: 1.2857rem;
  text-align: center;
}

/*license card*/
.license-card {
  position: relative;
  width: 30rem;
  height: 80rem;
  margin: 0 1.8571rem 0 0;
  padding: 4.2857rem 2.2857rem 2.2857rem 2.2857rem;
  background: $color_darkgray_600;
  border: solid 1px $color_darkgray_400;
  border-radius: 10px;

  &:hover {
    padding: 4.2143rem 2.2143rem 2.2143rem 2.2143rem;
    border: solid 2px $color_primary;
    border-radius: 10px;

    > .license-card__info {
      top: 26.9286rem;
      left: 3.4286rem;
    }

    > .license-card--buy {
      top: 73.8572rem;
    }
  }
}

.license-card--badge {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  height: 2.1429rem;
  margin: 0 auto;
  padding: 0.4286rem 1.4286rem;
  text-align: center;
  border-radius: 20px;
  &.basic {
    background-color: $color_plan_basic;
  }
  &.business_term {
    background-color: $color_plan_business_term;
  }
  &.business_permanent {
    background-color: $color_plan_business_permanent;
  }
}

.license-card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.5714rem;
  margin: 1.1429rem 0 2.3571rem 0;
}

.license-card__header--count {
  color: $color_white;
  font-size: 1.6429rem;
  text-align: center;
}
.license-card__header--price {
  color: $color_white;
  font-weight: bold;
  font-size: 2.5714rem;
  text-align: center;

  &.nocount {
    padding-bottom: 2.1429rem;
  }
}

.license-card__sub-header {
  width: 25.4286rem;
  background: #202023;
  border-radius: 4px;
}

.license-card__sub-header--name {
  padding: 1.1429rem 0 1.1429rem 1.7143rem;
  color: rgba($color_white, 0.7);
  font-size: 1.1429rem;
  text-align: left;
}

.license-card__sub-header--property {
  padding: 1.1429rem 1.6429rem 1.1429rem 0;
  color: $color_white;
  font-weight: 500;
  font-size: 1.1429rem;
  text-align: right;
}

.license-card__info {
  position: absolute;
  top: 27rem;
  left: 3.5rem;
  width: 22.5714rem;
}

.license-card__info--title {
  width: 100%;
  margin: 0rem 0rem 1.2143rem 0rem;
  color: #c7c7c7;
  font-weight: 500;
  font-size: 1.4286rem;
  text-align: left;
}

.license-card__info--underbar {
  width: 22.5714rem;
  height: 0.0714rem;
  margin: 0 0 1.2857rem 0;
  border-top: solid 0.0714rem #d8d8d8;
}

.license-card__info-table {
  width: 100%;
}

.license-card__info-table--name {
  padding: 0 0 1.2857rem 0;
  color: $color_white;
  font-weight: 500;
  font-size: 1.1429rem;
  text-align: left;
}

.license-card__info-table--property {
  padding: 0 0 1.2857rem 0;
  color: $color_white;
  font-weight: 500;
  font-size: 1.1429rem;
  text-align: right;

  &.negative {
    color: $color_negative;
  }

  &.positivie {
    color: $color_positivie;
  }

  &.default {
    color: $color_white;
  }
}

.license-card--buy {
  position: absolute;
  top: 73.9286rem;
  width: 25.4286rem;
  height: 4rem;
}
