@import "~assets/style/vars";
@import "~assets/style/mixin";

.createroom-user {
  display: flex;
  flex-direction: column;
  width: 45.714em;
  margin: 0.714em;
  margin-bottom: 2.143em;
  // border: solid 1px #fff;
}
.createroom-user__header {
  position: relative;
  width: 100%;
  margin-bottom: 1.071em;
  > .icon-button {
    position: absolute;
    top: -0.571em;
    right: 0;
  }
}
.createroom-user__title {
  color: $color_text_main;
}
.createroom-user__number {
  display: inline-block;
  margin-left: 0.643em;
  padding: 1px 0.857em;
  color: $color_text_main;
  font-size: 0.929em;
  line-height: 1.357em;
  background-color: #4d4d4d;
  border-radius: 0.857em;
}
.createroom-user__button {
  position: absolute;
  top: 0;
  right: 0;
  color: $color_text_main;
  font-size: 0.929em;
  opacity: 0.72;
  &::before {
    position: absolute;
    top: -0.143em;
    left: -1.571em;
    width: 1.571em;
    height: 1.571em;
    background: url(~assets/image/workspace/ic_renew.svg) 50% no-repeat;
    content: "";
  }

  &:hover,
  &:active {
    opacity: 1;
  }
}

.createroom-user__body {
  position: relative;
  flex: 1 1 auto;
}

.widecard.choice {
  background-color: $color_darkgray_600;
  border: solid 2px transparent;
  cursor: pointer;
  @include hover {
    &:hover,
    &:active {
      background-color: $color_darkgray_500;
    }
  }
  &.selected {
    border-color: $color_primary;
  }
}

.widecard.disabled{
  opacity: 0.4;
}

.createroom-user__empty {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $color_darkgray_600;
}
.createroom-user__empty-box {
  margin: auto;
  text-align: center;
  > img {
    width: 23.214em;
  }
}
.createroom-user__empty-title {
  // padding-top: 28.571em;
  color: $color_text_sub;
  font-size: 1.714em;
  text-align: center;
}
.createroom-user__empty-description {
  color: rgba($color_text_sub, 0.5);
  font-weight: 300;
  font-size: 1.429em;
  text-align: center;
}

.createroom-user__loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $color_darkgray_600;
}
.createroom-user__loading-logo {
  margin: auto;
}
