@import "~assets/style/vars";
@import "~assets/style/mixin";

.createroom-modal .modal--inner {
  max-width: 90%;
  // max-height: 90%;

  @include modal();
}

.createroom {
  position: relative;
  display: flex;
  height: 100%;
}

@include responsive-mobile {
  .workspace-mobile-createroom {
    h1 {
      @include fontLevel(200);
      color: $new_color_text_main;
    }

    .createroom-user {
      height: 100%;
    }

    .mobile-createroom__button {
      min-height: 4.8rem;
      margin: 0 1.6rem 1.6rem;
      color: $new_color_text_main;
      background-color: $new_color_bg_button_primary;
      border-radius: 0.4rem;
      @include fontLevel(200);
    }
  }

  .mobile-createroom__selected {
    position: relative;
    border-bottom: 6px solid $new_color_sub_border;

    .selected-header {
      display: flex;
      align-items: center;
      padding: 1.6rem;
      h1 {
        margin-right: 0.8rem;
        opacity: 0.8;
      }
      .selected-status {
        @include fontLevel(150);
        color: $new_color_text_blue;
      }
    }
    .profilelist {
      padding: 0 1rem 1.6rem 1.35rem;
      .profilelist-user {
        margin: 0 0.5rem;
      }
      .profilelist-user__image {
        margin: 0 0.85rem;
        overflow: visible;
      }
    }
  }
}
