.setting-wrapper {
  display: flex;
  flex: 1;
  padding-top: 3.786rem;
}

.setting-nav {
  min-width: 17.143rem;
  margin-right: 2.857rem;
  padding-top: 2.5rem;
  background: $color_darkgray_600;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
}

.setting-nav__header {
  margin-left: 2.071rem;
  font-size: 1.429rem;
}

.setting-nav__menu {
  margin: 1.286rem 0 0 3.429rem;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  &.active {
    color: $color_text;
    font-weight: 500;
    opacity: 1;
  }
}

.setting-view {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.setting-view__header {
  flex: 0;
  margin-bottom: 1.357rem;
  color: $color_text;
  font-size: 1.714rem;
}

.setting-view__body {
  flex: 1;
  background-color: $color_darkgray_600;
}

.setting-section {
  margin: 2.857rem 3.429rem 0;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  &:last-child {
    border-bottom: none;
  }
}

.setting-horizon-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1.071rem;
}

.setting__title {
  margin-bottom: 1.071rem;
  color: $color_text;
  font-size: 1.286rem;
}
.setting__figure {
  // flex: 1;
  max-width: 35.714rem;
  margin-top: 1.071rem;
  margin-right: 2.286rem;
  &:last-child {
    margin-right: 0;
  }
}

.setting__label {
  margin: 0.357rem 0.357rem 0.857rem 0px;
  color: rgba($color_text_main, 0.62);
  font-size: 1rem;
}

.setting__r-selecter {
  width: 28.571rem;
}
