.workspace-history {
  color: $color_text;
}

.history {
  .show-empty__image {
    top: 0 !important;
    height: 20rem;
  }
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label--noraml {
  color: $color_text_main;
  font-size: 1.071rem;
  text-align: center;
}

.label--date {
  color: $color_text_sub;
  font-size: 1.071rem;
  text-align: center;
  opacity: 50%;
}

.label__icon {
  display: flex;
  align-items: center;
  min-width: 12.143rem;
  padding-left: 2.143rem;
  opacity: 86%;
  .icon {
    width: 1.714rem;
    height: 1.714rem;
    margin-right: 0.357rem;
  }

  .text {
    overflow: hidden;
    color: $color_text_sub;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.widecard-tools__menu-button {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-left: 1.857rem;
  background: url(~assets/image/ic_more.svg) 50% no-repeat;
  &:hover {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color_white, 0.05);
      border-radius: 50%;
      content: "";
    }
  }
}
.popover.custom-popover {
  min-width: 8.571em;
  max-width: 8.571em;
  background-color: $color_bg_sub;
  border: solid 1px #3a3a3d;
  > .popover--body {
    padding: 0px;
  }
}
.groupcard-popover {
  padding: 4px 0;
}
.group-pop__button {
  width: 100%;
  padding: 0.929rem 1.429rem;
  color: $color_text;
  text-align: left;
  &:focus {
    background-color: rgba($color_bg_item, 0.15);
  }
  &:hover {
    background-color: rgba($color_bg_item, 0.3);
  }
  &:active {
    background-color: rgba($color_bg_item, 0.5);
  }
}
