.setting-wrapper {
  display: flex;
  flex: 1;
  // flex: 1;
  padding-top: 3.786rem;
}

.setting-nav {
  flex: 0 0;
  min-width: 17.143rem;
  margin-right: 2.857rem;
  padding-top: 2.5rem;
  background: $color_darkgray_600;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
}

.setting-nav__header {
  margin-left: 2.071rem;
  font-size: 1.429rem;
}

.setting-nav__menu {
  margin: 1.286rem 0 0 3.429rem;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  &.active {
    color: $color_text;
    font-weight: 500;
    opacity: 1;
  }
}

.setting-view {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  width: 100%;
  // flex-grow: 2;
}

.setting-view__header {
  flex: 0;
  margin-bottom: 1.357rem;
  color: $color_text;
  font-size: 1.714rem;
}

.setting-view__body {
  flex: 1;
  background-color: $color_darkgray_600;
  border: solid 1px #2e2e2e;
}

.setting-section {
  margin: 2.857rem 3.429rem 0;
  padding-bottom: 2.857rem;
  border-bottom: 1px solid rgba(#969696, 0.2);
  &:last-child {
    border-bottom: none;
  }
  &.list {
    margin-top: 2.286rem;
    padding-bottom: 0;
    border-bottom: none;
    &:first-child {
      margin-top: 2.857rem;
    }
    &:last-child {
      padding-bottom: 2.857rem;
    }
    &.horizon {
      display: flex;
      flex-wrap: wrap;
    }
    &.translate {
      margin-top: 1.215rem;
      margin-right: 1.143rem;
    }
  }
  // &:first-child {
  //   border-bottom: 1px solid rgba(#969696, 0.2);
  // }
  .radio-option {
    padding: 0.857rem 0;
  }
  > figure {
    // flex: 1;
    max-width: 35.714rem;
    margin-right: 2.286rem;
    // &:last-child {
    //   margin-right: 0;
    // }
  }
}

.setting-section__body {
  margin-top: -1.071rem;
  margin-right: -2.286rem;
  &.horizon {
    display: flex;
    flex-wrap: wrap;
  }
  > figure {
    flex: 0 1 28.571rem;
    max-width: 28.571rem;
    margin-top: 1.071rem;
    margin-right: 2.286rem;
  }
  & + & {
    margin-top: 0.714rem;
  }
}

.setting-section__title {
  margin-bottom: 1.071rem;
  color: $color_text;
  font-size: 1.286rem;
  transition: opacity 0.3s;
  &::first-letter {
    text-transform: capitalize;
  }
  &.disabled {
    opacity: 0.3;
  }
}
.setting-section__translate {
  flex: 0 1 28.571rem;
  margin-top: 1.071rem;
}
.setting__figure--wrapper {
  display: flex;
  align-items: center;
  > .tooltip.tooltip-guide {
    width: 1.714rem;
    height: 1.714rem;
    margin: 0.357rem 0 0.7143rem 0.357rem;
  }
}

.setting__label {
  margin: 0.357rem 0 0.857rem;
  color: rgba($color_text_main, 0.62);
  font-size: 1rem;

  &.dot {
    &:before {
      content: "\002A\00a0";
    }
  }
  &.warning {
    color: #ff757b;
  }
}

.setting__r-selecter {
  // width: 28.571rem;
  width: 100%;
  &.checking {
    > button {
      cursor: progress;
    }
  }
}

.setting-video {
  display: flex;
  max-width: 29rem;
  // min-height: 17rem;
  height: 20.571rem;
  background-color: #111012;
  border: solid 1px #363638;
  > video {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.setting-video__empty {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  > img {
    width: 3.214rem;
    height: 3.214rem;
    margin: auto;
  }
}

.setting__tooltip--icon {
  width: 1.714rem;
  height: 1.714rem;
}
