@import "~assets/style/vars";

@mixin hide {
  @media screen and (max-height: 825px) {
    display: none;
  }
}
@mixin smallHeight {
  @media screen and (max-height: 650px) {
    @content;
  }
}

.openroom-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 19.286em;
  max-height: 41.429em;
  margin: 2em auto;
  .inputrow {
    margin-top: 2.143em;
    @include smallHeight {
      margin-top: 0;
    }
  }
  > .profile-image {
    @include smallHeight {
      display: none;
    }
  }
}
.openroom-info_regist-image {
  width: fit-content;
  margin: 1.143em auto 0.714em;
  font-size: 0.929em;
  line-height: 1.571em;
  @include hide;
}
.btn.openroom-info__button {
  position: relative;
  width: 100%;
  margin-top: 2.143em;
  background-color: #009174;
  &:hover,
  &:active {
    background-color: #006853;
  }
  &:focus {
    background-color: #005545;
  }
  &.btn-loading {
    color: transparent;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2.857rem;
      height: 2.857rem;
      background: center center/2.857rem 2.857rem no-repeat
        url(~assets/image/workspace/loading.gif);
      transform: translate(-50%, -50%);
      content: "";
    }
  }
}
