@import "~assets/style/vars";

.roominfo {
  position: relative;
  display: flex;
  height: 100%;
}

.roominfo-nav {
  position: relative;
  display: flex;
  flex: 0;
  flex-direction: column;
  width: 15.714em;
  min-width: 15.714em;
  // height: 100%;
  padding: 3em;
  background-color: $color_darkgray_600;
}

.roominfo-nav__image {
  width: 5.143em;
  height: 5.143em;
  margin: 0 auto 2.5em;
  background-color: $color_white;
  border-radius: 50%;
}
.roominfo-nav__menu {
  margin-bottom: 1.143em;
  margin-left: 2.143em;
  color: rgba($color_text_main, 0.5);
  font-size: 1.143em;
  text-align: left;
  &:focus {
    color: rgba($color_text_main, 0.5);
  }
  &:hover {
    color: rgba($color_text_main, 0.9);
  }
  &:active {
    color: rgba($color_text_main, 0.7);
  }
  &.active {
    color: $color_text;
    font-weight: 500;
  }
}

.roominfo-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2.857em;
}
.roominfo-view__title {
  flex: 0;
  font-size: 1.714em;
}
.roominfo-view__body {
  flex: 1;
  margin-top: 1.071em;
}
.remoteinfo-usercard {
  &.offline {
    opacity: 0.5;
  }
}
.imageinput {
  &.regist {
    margin-right: 1.143em;
    padding: 0.857em 3.071em;
    color: $color_primary;
    font-size: 1.071em;
    border-color: $color_primary;
    &:focus {
      color: $color_primary;
      border-color: $color_primary;
    }
    &:hover {
      color: rgba($color_primary, 0.5);
      border-color: rgba($color_primary, 0.5);
    }
    &:active {
      color: rgba($color_primary, 0.8);
      border-color: rgba($color_primary, 0.8);
    }
  }
  &.delete {
    padding: 0.857em 3.071em;
    color: rgba(#979797, 0.5);
    font-size: 1.071em;
    border-color: rgba(#979797, 0.5);
    &:focus {
      color: rgba(#979797, 0.5);
      border-color: rgba(#979797, 0.5);
    }
    &:hover {
      color: #979797;
      border-color: #979797;
    }
    &:active {
      color: rgba(#979797, 0.7);
      border-color: rgba(#979797, 0.7);
    }
  }
}
.roominfo-view__footer {
  flex: 0;
  margin-top: 2.857em;
  padding-top: 1.429em;
  border-top: solid 1px rgba(#7f7f7f, 0.1);
}

.roominfo-view__data {
  margin-top: 1.071em;
}
.data-title {
  display: inline-block;
  width: 5em;
  color: rgba($color_text_main, 0.5);
  font-size: 0.929em;
}
.data-value {
  color: $color_text_main;
  font-weight: 500;
  font-size: 0.929em;
}
.roominfo-view__button {
  text-align: center;
  > button {
    margin-top: 4.286em;
    padding: 0.714em 6.071em;
  }
}

.roominfo-userinfo {
  display: flex;
  width: 100%;
  > .profile {
    flex: 1;
  }
}
.userinfo__image {
  flex: 0;
}
.userinfo__button {
  flex: 0;
  margin-left: 4.429em;
}

.roominfo-figure {
  margin-top: 1.786em;
}
.roominfo-figure__title {
  color: rgba($color_text_main, 0.5);
  font-size: 0.929em;
}
.roominfo-figure__text {
  margin-top: 0.5em;
}
