@import "~assets/style/vendors/elements/index";
.setting-wrapper {
  display: flex;
}

.setting-nav {
  min-width: 240px;
  height: 400px;
  margin-right: 50px;
  padding-top: 35px;
  background: #29292c;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
}

.setting-nav__header {
  margin-left: 29px;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  font-family: NotoSansCJKkr-Regular;
  letter-spacing: 0px;
}

.setting-nav__menu {
  margin-top: 18px;
  margin-left: 48px;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  font-family: NotoSansCJKkr-Regular;
  letter-spacing: 0px;
  opacity: 0.5;

  &.active {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    font-family: NotoSansCJKkr-Medium;
    letter-spacing: 0px;
    opacity: 1;
  }
}

.setting-view {
  flex-grow: 2;
}

.setting-view__header {
  margin-bottom: 19px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 24px;
  font-family: NotoSansCJKkr-Regular;
  letter-spacing: 0px;
}

.setting-view__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #29292c;
}

.workspace-setting {
  color: #fff;
}
.setting-section {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;

  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.setting-section:nth-of-type(1) {
  margin-top: 60px;
}

.setting-section:not(:last-child) {
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

.setting-vertical-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.setting-horizon-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}

.setting__title {
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  font-family: NotoSansCJKkr-Regular;
}

.setting__label {
  margin: 5px 5px 12px 0px;
  color: #d2d2d2;
  font-weight: normal;
  font-size: 14px;
  font-family: "NotoSansCJKkr-Regular";
  letter-spacing: 0px;
  opacity: 62%;
}

.setting__r-selecter {
  width: 446px;
  margin-right: 60px;
  margin-bottom: 5px;
}
