@import "~assets/style/vars";
@import "~assets/style/mixin";

.card.workcard {
  // max-width: 25rem;
  padding: 2.286rem;
  background-color: $color_darkgray_600;
  &:hover {
    background-color: $color_darkgray_500;
  }
}
.workcard-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.workcard-profile {
  flex: 1;
  padding-top: 2.429rem;
  text-align: center;
}
.profile__image {
  width: 5.143rem;
  height: 5.143rem;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
}
.profile__name {
  font-weight: 500;
  font-size: 1.286rem;
  word-break: break-all;
}
.btn.small.workcard-button {
  bottom: 0;
  left: 0;
  flex: 0;
  width: 100%;
  min-height: 3rem;
  // margin-top: 1.429rem;
  padding: 0.714rem 2.857rem;
  font-weight: normal;
}
.workcard-select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

//워크스페이스 카드항목 모바일
@include responsive-mobile {
  .card.workcard {
    position: relative;
    height: 18.1rem !important;
    padding: 2.4rem 1.2rem;
    border-radius: 0.6rem;
    .workcard-profile {
      padding-top: 0;
    }
    .workcard-button {
      display: none;
    }
  }
  //워크스페이스 클릭 이벤트 적용되는 element
  .workcard-select {
    display: block;
  }
}
