@import "~assets/style/vars";
@import "~assets/style/mixin";

.createroom-modal .modal--inner {
  max-width: 90%;
  // max-height: 90%;

  @include modal();
}

.createroom {
  position: relative;
  display: flex;
  height: 100%;
}
