.column-user {
  .avatar {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
  & > span {
    margin-left: 6px;
    vertical-align: middle;
  }
}

.column-plan {
  & > .el-tag {
    height: auto;
    margin: 0 6px;
    padding: 4px 6px;
    font-size: 11px;
    line-height: 11px;

    &.PRO {
      color: #0b5bd8;
      border-color: #0b5bd8;
    }
    &.BASIC {
      color: #828a97;
      border-color: #828a97;
    }
  }
}

.column-role {
  & > .el-tag {
    height: 24px;
    padding: 0 12px;
    color: #fff;
    font-size: 12px;
    line-height: 1.9;
    border: none;
  }
  .MASTER {
    background: #365595;
  }
  .MANAGER {
    background: #1f87e6;
  }
  .MEMBER {
    background: #7ac1fc;
  }
}

.column-links {
  & > a {
    margin-right: 8px;
    padding: 2px 10px 7px 5px;
    color: #314366;
    font-size: 12.6px;
    line-height: 20px;
    background-color: #f4f6f8;
    border-radius: 4px;

    img,
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.column-status {
  & > span {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    border: solid 1px transparent;
    border-radius: 3px;
  }
}

.column-boolean {
  & > span {
    color: #566173;
  }
  & > span:before {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 0.3em;
    vertical-align: middle;
    background: #566173;
    border-radius: 1em;
    content: "";
  }
  // true
  & > span.true {
    color: #186ae2;
  }
  & > span.true:before {
    background: #186ae2;
  }
}

.column-done {
  & > div {
    display: inline-block;
    padding: 6px 10px;
    line-height: 1.1em;
    white-space: nowrap;
    background-color: #fbfbfd;
    border: solid 1px #eaedf3;
    border-radius: 4px;

    & > span:first-child {
      color: $color-blue;
    }
    & > span:nth-child(2) {
      margin: 0 -0.1em;
      letter-spacing: 0.1em;
    }
  }
}

.column-progress {
  .el-progress-bar {
    padding-right: 30px;
  }
  .el-progress-bar__inner {
    background: $color-blue;
  }
  .el-progress__text {
    display: block;
    margin-top: 4px;
    padding-right: 30px;
    font-size: 13px !important;
    text-align: right;
  }
}

.column-date {
  & > span {
    word-spacing: 0.2em;
  }
}

.column-dropdown {
  cursor: pointer;
  img {
    width: 20px;
    max-width: none;
    vertical-align: sub;
  }
}

.column-closed {
  overflow: visible !important;
  & > span {
    display: inline-block;
    width: 48px;
    padding: 4px 0;
    color: #818a9d;
    font-size: 12.6px;
    line-height: 20px;
    text-align: center;
    background: rgba(229, 233, 239, 0.5);
    border-radius: 100px;
  }
}
