$container-width: 1280px;
$header-height: 64px;

a {
  color: $color-link;
}
main {
  min-width: $container-width;
  min-height: calc(100vh - #{$header-height});
  margin-top: $header-height;
  background: #fafbfc;
}
.container {
  position: relative;
  width: $container-width;
  margin: 0 auto;
  padding: 33px 20px;

  $card-margin: 28px;

  .container__left.el-col-24 {
    width: 320px;
    margin-right: $card-margin;
  }
  .container__center.el-col-24 {
    width: 1016px;
    margin-right: $card-margin;
  }
  .container__right.el-col-24 {
    width: 320px;
  }
}
