$container-width: 1752px;
$header-height: 64px;

a {
  color: $color-link;
}
main {
  min-width: $container-width;
  min-height: calc(100vh - #{$header-height});
  margin-top: $header-height;
  background: #fafbfc;
}
.container {
  position: relative;
  width: $container-width;
  margin: 0 auto;
  padding: 33px 20px;

  $card-margin: 28px;

  .container__left.el-col-24 {
    width: 320px;
    margin-right: $card-margin;
  }
  .container__center.el-col-24 {
    width: 1016px;
    margin-right: $card-margin;
  }
  .container__right.el-col-24 {
    width: 320px;
  }
}

.avatar {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: url("~assets/images/icon/ic-bg.svg") no-repeat;
  background-size: 100%;

  &:empty:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 80%;
    height: 80%;
    margin: 10%;
    background: url("~assets/images/icon/ic-user-profile.svg") no-repeat;
    background-size: 100%;
    content: "";
  }
  & .image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    mask: url("~assets/images/icon/ic-bg.svg") no-repeat;
    mask-size: 100%;
  }
}
