.navbar {
  $input-background-color: rgba(233, 237, 244, 0.5);
  $input-color: #5e6b82;
  $input-hover-color: #e6e9ee;
  $placeholder-color: #7a869a;

  margin-bottom: 32px;

  .el-col {
    width: 50%;
    & > * {
      display: inline-block;
      vertical-align: middle;
    }
    & > span {
      margin-right: 3px;
      color: #7a869a;
      font-size: 12.6px;
    }
  }
  .right {
    text-align: right;
  }

  .el-select,
  .right .el-input {
    padding-right: 13px;
    cursor: pointer;
  }
  .el-input__inner {
    width: 140px;
    padding: 9px 12px;
    color: $input-color;
    font-weight: 500;
    font-size: 12.6px;
    background: $input-background-color;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 3px;

    &::placeholder {
      color: $placeholder-color;
      opacity: 0.8;
    }
  }
  .el-input__inner,
  .el-input__icon {
    height: 34px;
    line-height: 34px;
  }

  // interaction
  .el-input,
  .el-select {
    &:hover .el-input__inner {
      background: $input-hover-color;
      border-color: transparent;
      transition: 0s;
    }
    &:focus-within .el-input__inner {
      background: #fff;
      border-color: $color-primary;
      transition: border-color 0.3s, background 0.3s;
    }
  }
}
