.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  // z-index: 20;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  height: $header_height;
  color: $color_text_main;
  text-align: center;
  background-color: $color_bg_sub;

  @include background-border(bottom);

  .header-logo {
    // min-width: 2.143rem;
    // max-width: 10.714rem;
    max-width: 100%;
    max-height: 2.143rem;
    margin: 0.929rem 1.214rem;
  }
}

//모바일 반응형 v2.5
@include responsive-mobile {
  //워크스페이스 반응형만 선반영되기 때문에 서비스 헤더에 영향 주지않기 위해 .workspace로 구분 한다
  //서비스 반응형도 반영될 때는 제거하고 다시 header 클래스 공통 사용 가능. WorkspaceHeader.vue의 header element의 workspace class 제거 해야함
  .header.workspace {
    height: $header_m_height;
    background-color: $new_color_bg; //@color 수정 필요
  }

  //workspace 선택 화면 이외에는 header의 아래 border선 제거
  .header.workspace-selected {
    &::after {
      display: none;
    }

    .header-workspace-selector {
      color: $new_color_text_main;
    }
  }
}
