.header-workspace {
  display: flex;
  height: 100%;
}

.header-divider {
  width: 1px;
  height: 22px;
  margin: auto 20px auto 0;
  background-color: rgba(#d8d8d8, 0.2);
}

.header-workspace-lnb {
  height: 100%;
  .popover--wrapper {
    height: 100%;
  }
  .header-workspace-selector {
    position: relative;
    height: 100%;
    padding-right: 25px;
    color: #dcdcdc;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    &::after {
      position: absolute;
      top: 50%;
      right: 5px;
      width: 10px;
      height: 13px;
      background: url(~assets/image/ic-select-dropdown.svg) 50% no-repeat;
      transform: translateY(-50%);
      content: "";
    }
  }
}

.header-lnb-selector.popover {
  background-color: $color_bg_sub;
  border: solid 1px $color_darkgray_400;
  border-radius: 4px;
  transform: translateX(40px);
  > .popover--body {
    padding: 6px 0;
  }
}
.header-lnb-selector__button {
  height: 64px;
  > button {
    position: relative;
    width: 100%;
    height: 100%;
    &:hover {
      background-color: rgba($color_bg_item, 0.7);
    }
    &.active {
      background-color: rgba($color_bg_item, 0.7);
    }
  }
}
.header-lnb-selector__check {
  position: absolute;
  top: 50%;
  left: 23px;
  width: 24px;
  height: 24px;
  border: solid 2px #555557;
  border-radius: 50%;
  transform: translateY(-50%);
  &.active {
    border-color: $color_primary;
    &::after {
      position: absolute;
      top: 3px;
      left: 7px;
      display: block;

      /*Make it a small rectangle so the border will create an L-shape*/
      width: 4px;
      height: 8px;

      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid $color_primary;
      border-width: 0 2px 2px 0;

      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
      content: "";
    }
  }
}
.header-lnb-selector__title {
  padding-left: 62px;
  color: $color_text;
  font-weight: 500;
  text-align: left;
}
.header-lnb-selector__description {
  padding-left: 62px;
  color: rgba($color_text_sub, 0.76);
  font-size: 0.857em;
  text-align: left;
}

.header-workspace-tools {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  padding: 11px 17px;
  > .tooltip,
  > .popover--wrapper {
    margin-left: 8px;
  }
  .notice {
    position: relative;
    &::after {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 6px;
      height: 6px;
      background-color: $color_red;
      border-radius: 50%;
      content: "";
    }
  }
}
