.header-service {
  display: flex;
  height: 100%;
}

.header-lnb {
  height: 100%;
}

.header-lnb__button {
  position: relative;
  display: inline-flex;
  height: 100%;
  padding: 0 10px;
  background-color: transparent;
  // border-bottom: solid 2px transparent;
  opacity: 0.6;
  transition: opacity 0.3s;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
    content: "";
  }
  &.active {
    // border-bottom: solid 2px #fff;
    opacity: 1;
    &::after {
      width: 100%;
    }
  }
}
.header-lnb__image {
  margin-right: 3px;
}
.header-lnb__text {
  margin: auto;
}

.header-tools {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 11px 17px;
  > .tooltip,
  > .popover--wrapper {
    display: inline-block;
    margin-left: 8px;
  }
  .header-tools__notice {
    position: relative;
    &::after {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 6px;
      height: 6px;
      background-color: $color_red;
      border-radius: 50%;
      content: "";
    }
  }

  .header-tools__calltime {
    display: inline-flex;
    min-width: 80px;
    height: 100%;
    margin-left: 16px;
    padding: 5px 20px;
    font-size: 15px;
    vertical-align: middle;
    background-color: #3a3b3f;
    border-radius: 17px;
  }

  .header-tools__leave {
    height: 100%;
    margin-left: 16px;
    padding: 6px 14px;
    color: transparent;
    background: url(~assets/image/call/gnb_ic_callout.svg) center no-repeat
      $color_red;
    border-radius: 17px;
  }
}
