.header-service {
  display: flex;
  height: 100%;
}

.header-lnbs {
  height: 100%;
}
.header-lnb {
  &.notice {
    position: relative;
    &::after {
      position: absolute;
      top: 1.143rem;
      right: 0;
      width: 0.429rem;
      height: 0.429rem;
      background-color: $color_red;
      border-radius: 50%;
      content: "";
    }
  }
}

.header-lnb__button {
  position: relative;
  display: inline-flex;
  height: 100%;
  padding: 0 0.714rem;
  background-color: transparent;
  // border-bottom: solid 2px transparent;
  opacity: 0.6;
  transition: opacity 0.3s;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0.143rem;
    background-color: #fff;
    transition: width 0.3s;
    content: "";
  }
  &.active {
    // border-bottom: solid 2px #fff;
    opacity: 1;
    &::after {
      width: 100%;
    }
  }
}
.header-lnb__image {
  margin: auto 3px auto 0;
}
.header-lnb__text {
  margin: auto;
}

.header-tools {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  padding: 0.786rem 1.214rem;
  > .tooltip,
  > .popover--wrapper {
    display: inline-block;
    margin-left: 0.571rem;
  }
  .header-tools__notice {
    position: relative;
    &::after {
      position: absolute;
      top: 0.286rem;
      right: 0.286rem;
      width: 0.429rem;
      height: 0.429rem;
      background-color: $color_red;
      border-radius: 50%;
      content: "";
    }
  }

  .header-tools__calltime {
    height: 100%;
    margin-left: 1.143rem;
    padding: 0.357rem 1.429rem;
    font-size: 1.071rem;
    vertical-align: middle;
    background-color: #3a3b3f;
    border-radius: 1.214rem;
  }

  .header-tools__leave {
    height: 100%;
    margin-left: 1.143rem;
    padding: 0.429rem 1rem;
    color: transparent;
    background: url(~assets/image/call/gnb_ic_callout.svg) center no-repeat
      $color_red;
    border-radius: 1.214rem;
  }
}
