.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  height: $header_height;
  color: $color_text_main;
  text-align: center;
  background-color: $color_bg_sub;

  @include background-border(bottom);

  .header-logo {
    max-width: 10.714rem;
    height: 2.143rem;
    margin: 0.929rem 1.214rem;
  }
}
