spring:
  application:
    name: download-server
  datasource:
    url: jdbc:mysql://192.168.6.3:4336/downloads?characterEncoding=UTF-8&serverTimezone=UTC
    username: virnect-downloads
    password: virnect1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 600MB
  zipkin:
    base-url: http://192.168.6.3:9411
    discovery-client-enabled: false
logging:
  level:
    com.virnect.download.application.*: DEBUG
    org.hibernate.type.descriptor.sql: trace

## Server Configuration
server:
  port: 8086

## Project Configuration
file:
  upload-path: "app/"
  url: "http://192.168.6.3:${server.port}/download/"
  allowed-extension: "apk"

## Eureka Server Configuration
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    registry-fetch-interval-seconds: 3
    enabled: false

## AWS Storage
cloud:
  aws:
    credentials:
      access-key: AKIARQGLJD3UCFBXNUWQ
      secret-key: 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
    region:
      auto: true
    s3:
      bucket:
        name: "virnect-download"
    cdn: "https://file.virnect.com/"

# monitoring
management:
  endpoints:
    web:
      exposure:
        include: prometheus

## Minio
minio:
  access-key: "virnect"
  secret-key: "Qjsprxm13@$"
  server: "https://192.168.6.3:2838"
  bucket: "virnect-download"
  bucket-resource: "app"
