spring:
  application:
    name: download-server
  datasource:
    url: jdbc:mysql://localhost:3306/download?characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    com.virnect.download.application.*: DEBUG

## Server Configuration
server:
  port: 8086

## Project Configuration
file:
  upload-path: "app/"
  url: "http://localhost:${server.port}/"
  allow-extension: "exe,apk"

## Eureka Server Configuration
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

## AWS Storage
cloud:
  aws:
    credentials:
      access-key: AKIARQGLJD3UCFBXNUWQ
      secret-key: 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
    region:
      auto: true
    s3:
      bucket:
        name: "virnect-download"
