spring:
  profiles: local
  application:
    name: content-server
  datasource:
    url: jdbc:mysql://192.168.6.3:4336/contents
    username: virnect-content
    password: virnect1234
    hikari:
      minimum-idle: 2
      max-lifetime: 30000
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  servlet:
    multipart:
      max-file-size: 300MB
      max-request-size: 400MB
  cloud:
    loadbalancer:
      ribbon:
        enabled: true
  zipkin:
    enabled: false

license-server:
  ribbon:
    listOfServers: http://192.168.6.3:8632

workspace-server:
  ribbon:
    listOfServers: http://192.168.6.3:8082
user-server:
  ribbon:
    listOfServers: http://192.168.6.3:8081

logging:
  level:
    com.virnect: DEBUG
    org.hibernate.type.descriptor.sql: trace

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    enabled: false

## Server Configuration
server:
  port: 8078

# File Upload Configuration
upload:
#  dir: "upload/"
#  serverUrl: "http://localhost:${server.port}/contents/"
  allowed-extension: '.ares,.mars,.Ares,.Mars'

## FEIGN Configuration
feign:
  okhttp:
    enabled: true

file:
  upload-path: "workspace/report/"
  url: "https://virnect-platform-qa.s3.ap-northeast-2.amazonaws.com/"

# monitoring
management:
  endpoints:
    web:
      exposure:
        include: prometheus
  metrics:
    tags:
      application: ${spring.application.name}

## Minio
minio:
  access-key: "virnect"
  secret-key: "Qjsprxm13@$"
  server: "https://192.168.6.3:2838"
  bucket: "virnect-platform"
  bucket-resource: "workspace/"

## AWS Configuration
cloud:
  aws:
    credentials:
      access-key: AKIAIYFYOR4X6LM3YKSQ
      secret-key: 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
    region:
      auto: true
    s3:
      bucket:
        name: "virnect-platform-qa"
        resource: "workspace/"