spring:
  application:
    name: WorkspaceServer
  datasource:
    url: jdbc:mysql://192.168.6.3:4336/smic?serverTimezone=UTC
    username: virnect-smic
    password: virnect1234!
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibnerate:
        format_sql: true
  mail:
    host: email-smtp.us-west-2.amazonaws.com
    port: 587
    username: AKIARQGLJD3UHE5MGO5U
    password: BDPEKBJR3TV38/5vwlb8ndX2jcNgj5QQLN+JdgR1JmVa
  redis:
    port: 6379
    database: 0
    password: qjsprxm0!
    host: 192.168.0.121

## Server Configuration
server:
  port: 8082


## Project Configuration
file:
  upload-path: "upload/"
  url: "http://localhost:${server.port}"
  allow-extension: "gif,jpg,jpeg,png"

# User Server Configuration
user:
  serverUrl: "http://192.168.6.3:8081/users"
