spring:
  application:
    name: download-server
  datasource:
    url: jdbc:mysql://192.168.6.3:4336/downloads?characterEncoding=UTF-8&serverTimezone=UTC
    username: virnect-downloads
    password: virnect1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
logging:
  level:
    com.virnect.download.application.*: DEBUG

## Server Configuration
server:
  port: 8086

## Project Configuration
file:
  upload-path: "app/"
  url: "http://192.168.6.3:${server.port}/download/"
  allow-extension: "exe,apk,zip"

## Eureka Server Configuration
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://192.168.6.3:8761/eureka

## AWS Storage
cloud:
  aws:
    credentials:
      access-key: AKIARQGLJD3UCFBXNUWQ
      secret-key: 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
    region:
      auto: true
    s3:
      bucket:
        name: "virnect-download"
