spring:
  application:
    name: login-service
  thymeleaf:
    cache: false
    mode: HTML

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://192.168.6.3:8761/eureka


logging:
  level:
    com.virnect.login.service: DEBUG

server:
  port: 8883
  ssl:
    enabled: true
    key-store: keystore.p12
    key-store-password: 1234
    key-store-type: PKCS12
    key-alias: bns-ssl
