spring:
  application:
    name: process-server
  datasource:
    url: jdbc:mysql://localhost:3306/processes
    username: virnect-process
    password: virnect1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  servlet:
    multipart:
      max-file-size: 300MB
      max-request-size: 400MB
  cloud:
    loadbalancer:
      ribbon:
        enabled: false

logging:
  level:
    com.virnect: DEBUG
    org.hibernate.type.descriptor.sql: trace

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

## Server Configuration
server:
  port: 8079

# File Upload Configuration
upload:
  dir: "upload/"
  serverUrl: "http://localhost:${server.port}/processes/"
  allowed-extension: '.ares,.mars,.Ares,.Mars'

## FEIGN Configuration
feign:
  okhttp:
    enabled: true