spring:
  application:
    name: content-server
  datasource:
    url: jdbc:mysql://192.168.6.3:4336/contents
    username: virnect-content
    password: virnect1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  servlet:
    multipart:
      max-file-size: 300MB
      max-request-size: 400MB
  cloud:
    loadbalancer:
      ribbon:
        enabled: false

#logging:
#  level:
#    org.hibernate.type.descriptor.sql: trace

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://192.168.6.3:8761/eureka

## Server Configuration
server:
  port: 8078

# File Upload Configuration
upload:
  dir: "upload/"
  serverUrl: "http://192.168.6.3:${server.port}/contents/"
  allowed-extension: '.ares,.mars,.Ares,.Mars'

## FEIGN Configuration
feign:
  okhttp:
    enabled: true

## AWS Configuration
cloud:
  aws:
    credentials:
      access-key: AKIAIYFYOR4X6LM3YKSQ
      secret-key: 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
    region:
      auto: true
    s3:
      bucket:
        name: "virnect-platform-qa"
        resource: "workspace/"