.el-dialog {
  &__header {
    padding: 20px 30px;
    border-bottom: solid 1px #eaedf3;

    .el-dialog__headerbtn {
      right: 28px;
    }
    .el-icon-close:before {
      color: $font-color-content;
      font-weight: bold;
    }
  }
  &__title {
    color: $font-color-content;
  }
  &__body {
    padding: 24px 30px;
    p {
      color: $font-color-content;
      line-height: 24px;
    }
  }
  &__footer {
    padding: 24px 30px;
  }
}
