// message
body .el-message {
  max-width: 426px;
  padding: 14px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25),
    0 0 1px 0 rgba(9, 30, 66, 0.31);

  &--error {
    background-color: #b92500;
    border-color: #b92500;
    .el-message__content {
      color: #fff;
    }
  }

  .el-message__content {
    margin-right: 20px;
    line-height: 1.5em;
  }
  .el-message__icon {
    display: none;
  }
  .el-icon-close:before {
    color: #fff;
  }
}

// messagebox
.el-message-box {
  margin-top: 36px;
  padding-bottom: 0;
  vertical-align: top;
}

.el-message-box__title {
  font-weight: 500;
}
.el-message-box__header {
  padding-bottom: 6px;
  &btn {
    display: none;
  }
}
.el-message-box__content {
  padding-top: 6px;
  font-weight: 500;
}

.el-message-box__btns {
  padding: 20px 24px 24px;
  .el-button--small {
    height: 36px;
    margin-top: 0;
    font-size: 14px;
    background-color: $point;
    border-color: $point;
    border-radius: 3px;
  }
}
