$container-width: 1240px;

a {
  color: $color-link;
}
main {
  min-width: $container-width;
  margin-top: 64px;
  background: #fafbfc;
}
.container {
  position: relative;
  width: $container-width;
  margin: 0 auto;
  padding: 80px 20px;

  &__left {
    width: 340px;
    margin-right: 30px;
  }
  &__right {
    width: 830px;
  }
}
