.mainhome {
    $header_height: 101px;

    &-body {
        padding-top: $header_height;
        text-align: center;
    }

    &-center {
        position: relative;
        display: inline-block;
    }

    &-links {
        a {
            width: 200px; height: 140px;
        }
        a:nth-child(1) { background-color: $color_remote; color: $color_remote_text; }
        a:nth-child(2) { background-color: $color_virnect; color: $color_virnect_text; }
        a:nth-child(3) { background-color: #373737; color: #fff; }
    }

    &-outlinks {
        li { float: left; }
        li + li { border-left: 1px solid #000; }
        li button { border: none; background: none; }
    }
}