.title {
  margin-bottom: 52px;
  color: $font-color-content;

  .el-breadcrumb {
    margin-bottom: 12px;
    font-size: 12px;

    &__inner {
      color: #5e6b81;
      font-weight: 500;
    }
    &__separator {
      margin: 0 4px;
    }
  }
  h2 {
    margin-bottom: 2px;
    margin-left: -2px;
    font-size: 28px;
  }
  p {
    font-size: 13px;
  }
}
