.board {
  height: 548px;
  margin-top: 34px;
  margin-bottom: 65px;
}

.board__header {
  position: relative;
  height: 4.8571rem;
  padding: 1.4286rem 0px 1.2143rem 1.4286rem;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.board__header--title {
  margin-right: 0.7143rem;
  color: rgb(11, 31, 72);
  font-weight: 500;
  font-size: 1.4286rem;
}

.board__header--description {
  color: rgb(122, 122, 122);
  font-weight: normal;
  font-size: 15px;
}

.board__header--datepicker {
  &.datepicker {
    position: absolute;
    top: 1rem;
    right: 1.0714rem;
  }

  .vdp-datepicker--input {
    height: 2.8571rem;
    border: 0.0714rem solid #e3e3e3;
  }
  .calendar-button {
    height: 2.8571rem;
    border: 0.0714rem solid #e3e3e3;
  }
}

// .board__body {
//   display: flex;
//   height: 342px;
// }

.custom-card-chart {
  width: 100%;
  height: 410px;

  margin-right: 12px;
}

.chart-holder {
  position: relative;
  // width: 85.3571rem;
  // height: 24.4286rem;
  margin: auto;
  padding-right: 2.7143rem;
  padding-left: 2.1429rem;
}

.board-figures {
  display: flex;
  gap: 0px 1.1429rem;
  height: 8.5714rem;
  margin-top: 1.2857rem;
}
