.board {
  height: 39.1429rem;
  margin-top: 2.4286rem;
  margin-bottom: 4.6429rem;
}

.board__header {
  position: relative;
  height: 4.8571rem;
  padding: 1.4286rem 0px 1.2143rem 1.4286rem;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.board__header--title {
  margin-right: 0.7143rem;
  color: rgb(11, 31, 72);
  font-weight: 500;
  font-size: 1.4286rem;
}

.board__header--description {
  color: rgb(122, 122, 122);
  font-weight: normal;
  font-size: 1.0714rem;
}

.board__header--datepicker {
  &.datepicker {
    position: absolute;
    top: 1rem;
    right: 1.0714rem;
  }

  .vdp-datepicker--input {
    height: 2.8571rem;
    border: 0.0714rem solid #e3e3e3;
  }
  .calendar-button {
    height: 2.8571rem;
    border: 0.0714rem solid #e3e3e3;
  }
}

.board-figures {
  display: flex;
  gap: 0px 1.1429rem;
  height: 8.5714rem;
  margin-top: 1.2857rem;
}

.custom-card-chart {
  width: 100%;
  height: 29.2857rem;

  margin-right: 0.8571rem;
}

.chart-holder {
  position: relative;
  height: 17.1429rem;
  margin: auto;
  padding-right: 2.7143rem;
  padding-left: 2.1429rem;
  color: transparent;
  &.loading {
    &:before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      content: "";
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5.7143rem;
      height: 5.7143rem;
      background: center center/40px 40px no-repeat
        url(~assets/image/loading.gif);
      transform: translate(-50%, -50%);
      content: "";
    }
  }
}

.chart-legend {
  display: flex;
  align-items: center;
  height: 4.8571rem;
  padding-left: 2.1429rem;

  & > .legend.round.grey {
    &::before {
      border: 4px solid #bbc8d9;
    }
  }

  & > .legend.square.grey {
    &::before {
      background-color: #bbc8d9;
    }
  }
}

#chartjs-tooltip {
  position: absolute;
  width: 9.1429rem;
  height: 5.7143rem;
  // min-height: 40px;
  color: white;
  background: #3b3b3b;
  // border: 1px solid rgb(52, 65, 81);
  border-radius: 4px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 1;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;

  table {
    position: relative;
    width: 100%;

    thead {
      color: rgb(255, 255, 255);
      font-weight: 400;
      font-size: 1.0714rem;
    }

    &::after {
      position: absolute;
      top: 5.2143rem;
      right: 3.5714rem;
      z-index: 999;
      width: 0;
      height: 0;
      border-top: 9px solid #3b3b3b;
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
      content: "";
    }
  }

  .tool-tip-legend {
    width: 0.7143rem;
    height: 0.7143rem;
    margin-right: 0.3571rem;
    margin-left: 0.3571rem;
  }
}

#chartjs-noarrow {
  position: absolute;
  width: 9.1429rem;
  height: 6.4286rem;
  color: white;
  background: #3b3b3b;
  border: 1px solid rgb(52, 65, 81);
  border-radius: 4px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 1;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;

  .chartjs-tooltip-head {
    color: white;
    font-weight: 400;
    font-size: 1.0714rem;
    text-align: left;

    p {
      padding-left: 0.4286rem;
    }
  }

  table {
    position: relative;
    width: 100%;
  }

  .tool-tip-legend {
    width: 0.7143rem;
    height: 0.7143rem;
    margin-right: 0.3571rem;
    margin-left: 0.3571rem;
    border-radius: 50%;
  }
}
