@charset "utf-8";

// messageBox.scss
@import "modules/messageBox.scss";

// date-picker.scss
@import "modules/date-picker.scss";
@media (min-width: 1000px) {
  .login-status-section .login-wrap {
    display: none;
  }
}

// .el-input__inner {
//   border-bottom: 2px solid #e6e9ee;
// }

.el-button {
  height: 50px;
  margin-top: 20px;
  border: 0;
  @media (max-width: $mobile) {
    border-radius: 4px;
  }

  &.block-btn {
    display: block;
    width: 100%;
    max-width: 380px;
    margin: 16px auto 0;

    & + .el-button {
      margin-top: 0;
      // margin-left: 0;
    }
  }

  &.next-btn {
    margin-top: 30px;
  }
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:active,
.el-button--info.is-disabled,
.el-button--info.is-disabled:hover,
.el-button--info.is-disabled:focus,
.el-button--info.is-disabled:active {
  color: #8d939c;
  background-color: #e2e6eb;
  border-color: #e2e6eb;
}

.login-service-modal {
  .el-dialog {
    border-radius: 4px;
  }
  .el-dialog__header {
    padding: 0;
    border-bottom: 0;
  }
  .el-dialog__body {
    padding-bottom: 56px;
    text-align: center;
    img {
      width: 150px;
    }
    strong {
      margin-bottom: 6px;
      font-weight: bold;
      font-size: 16px;
    }
    p {
      font-size: 13px;
    }
  }
}

// input.scss
@import "modules/input.scss";
@import '~assets/css/modules/policy.scss';