$font-color-content: #0b1e42;
$color-primary: #1468e2;
$color-primary-hover: #2c82ff;
$color-primary-active: #0a51b7;
$color-button: #f0f3f8;
$color-button-hover: #edf0f4;
$color-button-active: #c4dcff;

// fonts
// Poppins font set
$poppins-weight-light: 300 !default;
$poppins-weight-regular: 400 !default;
$poppins-weight-medium: 500 !default;
$poppins-weight-semibold: 600 !default;
$poppins-weight-map: (
  "light": $poppins-weight-light,
  "regular": $poppins-weight-regular,
  "semibold": $poppins-weight-semibold,
) !default;
$poppins-family: "Poppins" !default;
$poppins-style: normal !default;
$poppins-path: "~assets/fonts/Poppins/" !default;
$poppins-prefix: "poppins-" !default;

@each $name, $weight in $poppins-weight-map {
  $poppins-weight: to-upper-case(str-slice($name, 1, 1)) + str-slice($name, 2);
  $poppins-src: $poppins-path + $poppins-prefix + $poppins-weight;

  @font-face {
    font-weight: $weight;
    font-family: $poppins-family;
    font-style: $poppins-style;
    -webkit-font-smoothing: antialiased;
    src: url(unquote("#{$poppins-src}.eot"));
    src: local(※), url(unquote("#{$poppins-src}.woff")) format("font-woff"),
      url(unquote("#{$poppins-src}.woff2")) format("woff2");
    font-display: auto;
  }
}
