button {
  border: 0;
  outline: 0;
}

#__nuxt {
  #headerSection {
    position: fixed;
    .hover-box {
      z-index: 1;
    }
  }

  .el-button {
    border-radius: 3px;

    &--simple {
      color: $font-color-content;
      background: $color-button;
      border: none;
      &:hover,
      &:focus {
        color: $font-color-content;
        background: $color-button-hover;
      }
      &:active {
        color: $color-primary;
        background: $color-button-active;
      }
    }
    &--primary {
      background-color: $color-primary;
      border: none;
      &:hover,
      &:focus {
        background-color: $color-primary-hover;
      }
      &:active {
        background-color: $color-primary-active;
      }
    }
    &--text:not([disabled]) {
      color: #0b1e42;
      &:hover,
      &:focus {
        color: $color-primary-hover;
      }
      &:active {
        color: $color-primary-active;
      }
    }
  }

  .el-tabs [role="tab"] {
    color: #979fae;

    &.is-active,
    &:hover:not(.is-disabled) {
      color: #1655bf;
    }
  }
  .el-tabs__active-bar {
    background-color: #1655bf;
  }
}

.app-fade-enter-active,
.app-fade-leave-active {
  // position: absolute;
  // top: 0;
  // width: 100%;
  // height: 100%;
  transition: opacity 0.3s;
  // transition-delay: .3s;
}

.app-fade-enter,
.app-fade-leave-to {
  opacity: 0;
  z-index: 1;
}

.app-fade-leave,
.app-fade-enter-to {
  opacity: 1;
  z-index: 2;
}

.hover-box {
  .learning {
    margin-bottom: 8px;
    a:after {
      width: 0px !important;
      height: 0px !important;
    }
  }
}

.policy-section {
  margin-top: 24px;
}