#home {
  color: $font-color-content;
  font-weight: 500;
  text-align: center;

  .ribbon {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #e6f0ff;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .visual {
    height: 340px;
    padding: 129px;
    color: #fff;
    background: url("~assets/images/img-top.jpg") center;
    background-size: cover;

    h3 {
      font-weight: bold;
      font-size: 36px;
      font-family: Poppins;
      line-height: normal;
    }
    p {
      margin-top: 8px;
      font-size: 15px;
    }
  }
  .el-tabs {
    position: relative;
    margin: 0 auto;

    [role="tab"] {
      height: 64px;
      padding: 0 48px;
      font-size: 18px;
      line-height: 64px;

      &:nth-child(2) {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .el-tabs__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    border-bottom: solid 1px #f3f6f9;
    .el-tabs__nav-wrap {
      z-index: 10;
      max-width: 810px;
      margin: 0 auto;
    }
  }
  .el-tabs__nav-wrap::after {
    display: none;
  }
  .el-tabs.sticky .el-tabs__header {
    position: fixed;
    z-index: 10;
    pointer-events: none;
    .el-tabs__nav-wrap {
      pointer-events: initial;
    }
  }

  .el-tabs__content {
    max-width: 810px;
    min-height: 840px;
    margin: 0 auto;
    padding: 184px 0 128px;

    h4 {
      font-weight: bold;
      font-size: 24px;
      text-align: left;
    }
    .el-tab-pane > .el-row {
      &:not(:first-child) {
        margin-top: 80px;
        padding-top: 80px;
        border-top: solid 1px #eaedf3;
      }
    }
  }

  // transition
  .rise-enter {
    transform: translateY(10px);
    opacity: 0;
  }
  .rise-enter-to {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.3s;
    &-2 {
      transition: 0.5s 0.5s;
    }
  }

  /**
   * 모바일
   */
  @include responsive-to(max, "huge") {
    .el-tabs.sticky .el-tabs__header,
    .el-tabs__header .el-tabs__nav-wrap {
      z-index: 1;
    }
    .el-tabs.sticky .el-tabs__header {
      top: 60px;
      background: #fff;
    }
    .el-tabs__content {
      min-height: 0;
      padding: 60px 0 100px;

      h4 {
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 20px;
      }

      .el-tab-pane > .el-row {
        margin-top: 40px;
        padding: 0 24px;

        &:not(:first-child) {
          margin-top: 60px;
          padding-top: 0;
          border-top: none;
        }
      }
    }
  }
  @include responsive-to(max, "small") {
    .visual {
      height: auto;
      padding: 90px 20px;
      h3 {
        font-size: 24px;
      }
      p {
        font-weight: normal;
        font-size: 14px;
      }
    }
    .el-tabs__nav-scroll {
      width: 100%;
      margin: 0 auto;
      overflow: auto;
    }
    .el-tabs [role="tab"] {
      height: 56px;
      padding: 0 20px;
      font-size: 15px;
      line-height: 56px;
    }
    .el-tabs__nav-next,
    .el-tabs__nav-prev {
      display: none;
    }
  }
}
