
#home {
  color: $font-color-content;
  font-weight: 500;
  text-align: center;
}


.ribbon {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #e6f0ff;
  a {
    font-weight: bold;
    text-decoration: underline;
  }
}
.visual {
  height: 340px;
  padding: 129px;
  color: #fff;
  background: url("~assets/images/img-top.jpg") center;
  background-size: cover;

  h3 {
    font-weight: bold;
    font-size: 36px;
    font-family: Poppins;
    line-height: normal;
  }
  p {
    margin-top: 8px;
    font-size: 15px;
  }
  @include responsive-to(max, "small") {
    height: auto;
    padding: 90px 20px;
    h3 {
      font-size: 24px;
    }
    p {
      font-weight: normal;
      font-size: 14px;
    }
  }
}

.snb-wrapper {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f3f6f9;
  &.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    + .download-contents-wrapper {
      padding-top: 169px;
    }
  }
}
.snb {
  @include areaFlex(810px);
  display: flex;
  justify-content: space-between;
  li {
    &.active {
      border-bottom: 2px solid var(--color-blue-70);
      button {
        color: var(--color-blue-70);
      }
    }
    &:hover button {
      color: var(--color-blue-50);
    }
  }
  button { 
    padding : 18px 0;
    font-size: 18px;
    font-family: $font-stack-roboto;
      color: var(--color-gray-70);
  }
  @include responsive-to(max, "small") {
    flex-wrap: nowrap;
    overflow-x: scroll;
    button {
      padding : 15px 24px;
      white-space: nowrap;
      font-size: 15px;
    }
  }
}
.download-contents-wrapper {
  @include areaFlex(810px);
  padding: 100px 0 160px;
  min-height: 50vh;
  @include responsive-to(max, "small") {
    padding: 40px 24px 100px;
  }
  figure {
    padding-top: 20px;
    img {
      width: 234px;
    }
    .desc {
      margin-top: 20px;
      color: #445168;
    }
    .noti {
      margin-top: 8px;
      font-size: 13px;
      color: #0b1f48;
      opacity: .55;
    }
  }
}
.download-contents {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 80px 0;
  border-bottom: 1px solid #eaedf3;

  &:first {
    padding-top: 0;
  }
  h3 {
    font-family: $font-stack-noto;
    font-size: 24px;
    color: #112d5e;
    font-weight: bold;
  }

  .item {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    width: 630px;
    border: 1px solid #eaedf3;
    border-radius: 4px;
  }

  .info-wrapper {
    text-align: left;
    .os {
      font-size: 18px;
    }
    .title {
      font-size: 26px;
      color: var(--color-blue-70);
      font-weight: bold;
    }
    .version {
      font-size: 20px;
      margin-top: 20px;
    }
    .release {
      color: #8e95a1;
    }
  }

  .button-wrapper {
    position: relative;
    text-align: right;
    width: 240px;
    button {
      margin-bottom: 8px;
    }
    @include responsive-to(min, "medium") {
      .guide-button {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
      }
    }
  }
  @include responsive-to(max, "small") {
    display: block;
    padding: 30px 0;
    border-bottom: 0;
    h3 {
      text-align: left;
      font-size: 20px;
      margin-bottom: 12px;
    }
    .item {
      display: block;
      width: 100%;
      padding: 28px 26px 24px;
    }
    .info-wrapper {
      text-align: center;
      margin-bottom: 30px;
      .os {
        font-size: 16px;
      }
      .title {
        font-size: 24px;
      }
      .version {
        margin-top: 12px;
      }
    }
    .button-wrapper {
      text-align: center;
      width: 100%;
    }
  }
}