#home {
  color: $font-color-content;
  font-weight: 500;
  text-align: center;

  .ribbon {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #e6f0ff;
  }
  .visual {
    height: 340px;
    padding: 93px;
    color: #fff;
    background: url("~assets/images/img-top.jpg") center;
    background-size: cover;

    h3 {
      font-size: 30px;
    }
    p {
      margin-top: 10px;
      font-size: 15px;
    }
  }
  .el-tabs {
    position: relative;
    margin: 0 auto;

    [role="tab"] {
      height: 64px;
      padding: 0 40px;
      font-size: 18px;
      line-height: 64px;

      &:nth-child(2) {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .el-tabs__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    border-bottom: solid 1px #f3f6f9;
    .el-tabs__nav-wrap {
      z-index: 10;
      max-width: 760px;
      margin: 0 auto;
    }
  }
  .el-tabs__nav-wrap::after {
    display: none;
  }
  .el-tabs.sticky .el-tabs__header {
    position: fixed;
    z-index: 10;
    pointer-events: none;
    .el-tabs__nav-wrap {
      pointer-events: initial;
    }
  }

  .el-tabs__content {
    max-width: 1280px;
    min-height: 840px;
    margin: 0 auto;
    padding: 184px 0 128px;
  }
  .el-tabs__content .el-card {
    display: inline-block;
    width: 372px;
    min-height: 364px;
    margin: 0 18px 32px;
    vertical-align: top;
    box-shadow: none;
  }
  .el-card .el-card__body {
    padding: 36px 44px 20px;
    h6 {
      font-size: 18px;
    }
    h5 {
      font-size: 26px;
      overflow-wrap: break-word;
      span {
        color: $color-primary;
      }
    }
    img {
      width: 248px;
      margin: 10px auto 16px;
    }
    & > span {
      display: block;
    }
    .release {
      color: #8e95a1;
      font-weight: normal;
    }
    .version {
      margin-bottom: 23px;
      color: #3f465a;
      font-size: 18px;
    }
    .el-button {
      display: block;
      height: 36px;
      margin: 8px auto;
    }
  }

  // transition
  .rise-enter {
    transform: translateY(10px);
    opacity: 0;
  }
  .rise-enter-to {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.3s;
    &-2 {
      transition: 0.5s 0.5s;
    }
  }

  /**
   * 모바일
   */
  @media screen and (max-width: $tablet) {
    .el-tabs.sticky .el-tabs__header,
    .el-tabs__header .el-tabs__nav-wrap {
      z-index: 1;
    }
    .el-tabs.sticky .el-tabs__header {
      top: 60px;
      background: #fff;
    }
    .el-tabs__content {
      min-height: 0;
      padding: 60px 0 100px;
    }
    .el-tabs__content .el-card {
      max-width: 372px;
      margin: 18px 18px 0 18px;
    }
  }
  @media screen and (max-width: $short) {
    .el-tabs__content .el-card {
      width: calc(100% - 36px);
      max-width: none;
    }
    .visual {
      height: auto;
      padding: 90px 20px;
      h3 {
        font-size: 24px;
      }
      p {
        font-weight: normal;
        font-size: 14px;
      }
    }
    .el-tabs__nav-scroll {
      width: 100%;
      margin: 0 auto;
      overflow: auto;
    }
    .el-tabs [role="tab"] {
      height: 56px;
      padding: 0 20px;
      font-size: 15px;
      line-height: 56px;
    }
    .el-tabs__nav-next,
    .el-tabs__nav-prev {
      display: none;
    }
  }
}
