.el-button {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 1;
  background: $color-button;
  border: none;

  &:hover,
  &:focus {
    color: inherit;
    background: $color-button-hover;
  }
  &:active {
    color: $color-primary;
    background: $color-button-active;
  }

  & span,
  & img {
    vertical-align: middle;
  }
}
.el-button--simple {
  padding: 8px 14px;
  color: $font-color-content;

  & > span {
    font-size: 13px;
  }
}
.el-button--text {
  color: #45556d;
  background: none;
}
.el-button--info {
  background: $color-info;
  &:hover {
    color: #fff;
    background: $color-info-hover;
  }
  &:active {
    color: #fff;
    background: $color-info-active;
  }
  &:focus {
    color: #fff;
  }
}
.el-button--primary {
  color: #fff;
  background: $color-primary;
  &:hover {
    color: #fff;
    background: $color-primary-hover;
  }
  &:active {
    color: #fff;
    background: $color-primary-active;
  }
  &:focus {
    color: #fff;
  }
}
.el-button--danger {
  color: #fff;
  background: $color-danger;

  &:hover {
    color: #fff;
  }
  &:active {
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
}

.el-button.is-disabled,
.el-button.is-disabled:hover,
.el-button.is-disabled:focus,
.el-button.is-disabled:active {
  color: #8d939c;
  background-color: #edf0f4;
  border-color: #edf0f4;
  opacity: 0.6;
}
.el-button--text.is-disabled,
.el-button--text.is-disabled:hover,
.el-button--text.is-disabled:focus,
.el-button--text.is-disabled:active {
  background: none;
}

// radio-button
.el-radio-button {
  margin-right: 2px;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-radius: 3px 0 0 3px;
}
.el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 3px 3px 0;
}
.el-radio-button__inner {
  padding: 6px 20px;
  color: $font-color-content;
  line-height: 20px;
  background: rgba(236, 240, 245, 0.8);
  box-shadow: none;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #fff;
  background: $color-selected;
  border-color: $color-selected;
}
.el-radio-button__orig-radio:not(:checked) {
  & + .el-radio-button__inner:hover {
    background: rgba(219, 223, 228, 0.8);
    border-color: rgba(219, 223, 228, 0.8);
  }
  & + .el-radio-button__inner:active {
    color: #0066ea;
    background: #bfdcff;
    border-color: #bfdcff;
  }
}
