// 카드
.el-card {
  margin-bottom: 30px;
  box-shadow: none;
}
.el-card__header {
  position: relative;
  height: 56px;
  padding-right: 24px;
  padding-left: 24px;

  & > div > h3 {
    float: left;
    color: $font-color-content;
    font-size: 14px;
    line-height: 20px;
  }
  & > div > span {
    margin-left: 20px;
    color: $font-color-desc;
    font-size: 12.6px;
    line-height: 16px;
    vertical-align: bottom;
  }
  & > div > a,
  & > div > button {
    float: right;
    color: $color-link;
    font-size: 12px;
    line-height: 20px;
  }
  & > div > img {
    margin-left: 7px;
    vertical-align: middle;
  }
  & > div > .right {
    position: absolute;
    top: 0;
    right: 0;
    & > span {
      vertical-align: middle;
    }
    .num {
      padding: 0 28px 0 12px;
      color: #0065e0;
      font-size: 18px;
      line-height: 60px;
    }
  }
}
// 목록 테이블
.el-card--big {
  overflow: visible;
}
.el-card--big .el-card__header {
  height: 60px;
  padding-top: 19px;

  & > div > button {
    float: left;
    margin: -4px 16px;
    padding: 4px 10px;
    color: $font-color-content;
    font-size: 12.6px;

    & img {
      margin-right: 4px;
    }
  }
}
.el-card__body {
  padding: 20px 24px;
}
// 카드 - 테이블
.el-card--table .el-card__body {
  padding: 0;

  .el-table .el-table__row {
    height: 64px;
  }
  .el-table.clickable .el-table__row {
    cursor: pointer;
  }
  .el-table--enable-row-hover:not(.clickable) .el-table__body tr:hover > td {
    background-color: inherit;
  }
  .el-table .cell {
    overflow: inherit;
    white-space: inherit;
    text-overflow: inherit;
    word-break: inherit;

    & > div {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
  .el-table th {
    padding: 8px 0;
    overflow: visible;
    color: $font-color-desc;
    font-size: 12px;
  }
  .el-table td {
    padding: 0;
    color: $font-color-content;
  }
  th:first-child,
  td:first-child {
    padding-left: 14px;
  }
  th:nth-last-child(2),
  td:last-child {
    padding-right: 14px;
  }
  .el-table__empty-block {
    .el-table__empty-text {
      margin-top: 30px;
      margin-bottom: 62px;
      line-height: 1.6;
      & > p {
        margin-top: 10px;
        color: $font-color-content;
        font-weight: 500;
        font-size: 12.6px;
        opacity: 0.7;
      }
    }
  }
  .el-table-column--selection .cell {
    padding: 0 14px;
  }
  .el-table .caret-wrapper {
    margin: -10px -3px;
    transform: scale(0.8);
  }
  .el-table .ascending .sort-caret.ascending {
    border-bottom-color: $color-primary;
  }
  .el-table .descending .sort-caret.descending {
    border-top-color: $color-primary;
  }
}
// 카드 - 정보 테이블
.el-card--table--info {
  margin-bottom: 40px;

  .el-card__header {
    height: 48px;
    padding-top: 13px;
    padding-bottom: 13px;
    & > div > a {
      position: relative;
      left: -8px;
      float: left;
    }
    .right > span {
      padding-right: 30px;
      color: $font-color-desc;
      font-size: 12.6px;
      line-height: 48px;
    }
  }
  .el-table th.is-leaf {
    padding-bottom: 0;
    border-bottom: none;
  }
}
