.el-dialog {
  border-radius: 4px;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(74, 92, 129, 0.2);
    border-radius: 5px;
    opacity: 0.2;
  }

  &__header {
    padding: 20px 30px;
    border-bottom: solid 1px #eaedf3;

    .el-dialog__headerbtn {
      right: 28px;
    }
    .el-icon-close:before {
      color: $font-color-content;
      font-weight: bold;
    }
  }
  &__title {
    color: $font-color-content;
  }
  &__body {
    max-height: 52vh;
    padding: 24px 30px;
    color: $font-color-content;
    p {
      color: $font-color-content;
      line-height: 1.71;
    }
  }
  .el-form-item {
    margin-bottom: 30px;

    &:not(.horizon) .el-input + .el-input {
      margin-top: 10px;
    }
    &.horizon .el-form-item__content {
      display: inline-block;
      width: 100%;

      .el-input,
      .el-select {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__footer {
    padding: 24px 30px;
  }
}
