$label-color: #445168;
$input-color: #5e6b82;
$input-hover-color: #e6e9ee;
$content-color: #596881;
$placeholder-color: #7a869a;
$input-background-color: rgba(233, 237, 244, 0.5);

.el-form-item__label {
  margin-bottom: 4px;
  color: $label-color;
  font-size: 12.6px;
  line-height: 20px;

  & > span,
  & > img {
    display: inline-block;
    vertical-align: middle;
  }
}
.el-input__inner,
.el-textarea__inner,
.el-range-input {
  box-sizing: border-box;
  height: 38px;
  padding: 9px 12px;
  color: $input-color;
  font-weight: 500;
  font-size: 12.6px;
  background: $input-background-color;
  border: solid 2px rgba(0, 0, 0, 0);
  border-radius: 3px;

  &::placeholder {
    color: $placeholder-color;
    opacity: 0.8;
  }
}
.el-form-item {
  margin-bottom: 30px;
}
.el-form-item__content {
  position: relative;
  line-height: inherit;
  & > span {
    color: $content-color;
    font-size: 12px;
    opacity: 0.8;
  }
}
.el-form-item.is-required .el-form-item__label {
  position: relative;
  &:before {
    float: right;
    margin-left: 4px;
  }
  & > img {
    position: absolute;
    margin: 2px 12px;
  }
}
.el-select .el-input .el-select__caret {
  color: #000;
  font-weight: bold;
}
.el-date-editor {
  width: 100%;
  padding: 0;
  background: transparent;

  i {
    display: none;
  }
  .el-range-input {
    width: 50%;
    color: $content-color;
    font-size: 14px;
  }
}

.el-upload-dragger {
  width: 400px;
  height: 100px;
  margin: 10px;
  border: none;

  .avatar {
    margin: 0;
    & > i {
      position: absolute;
      right: -15px;
      bottom: -3px;
      width: 32px;
      height: 32px;
      background: #fff;
      border-radius: 32px;
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}
.el-upload__tip {
  position: absolute;
  top: 50px;
  left: 140px;
  color: $input-color;
  pointer-events: none;

  li {
    text-indent: -3px;
  }
  li:before {
    display: inline-block;
    margin-right: 2px;
    content: "-";
  }
}

// interaction
.el-input,
.el-select {
  &:hover .el-input__inner {
    background: $input-hover-color;
    border-color: transparent;
    transition: 0s;
  }
  &:focus-within .el-input__inner {
    background: #fff;
    border-color: $color-primary;
    transition: border-color 0.3s, background 0.3s;
  }

  &.is-disabled .el-input__inner {
    color: #a5adba;
  }
}
.el-textarea {
  &:hover .el-textarea__inner {
    background: $input-hover-color;
    border-color: transparent;
    transition: 0s;
  }
  &:focus-within .el-textarea__inner {
    background: #fff;
    border-color: $color-primary;
    transition: border-color 0.3s, background 0.3s;
  }
  &.is-disabled textarea {
    color: #a5adba;
  }
}
.el-range-editor:not(.is-disabled) {
  &:hover .el-range-input {
    background: $input-hover-color;
    border-color: transparent;
    transition: 0s;
  }
  &.is-active .el-range-input {
    background: #fff;
    border-color: $color-primary;
    transition: border-color 0.3s, background 0.3s;
  }
}
.el-form-item.is-error {
  .el-input .el-input__inner,
  .el-select .el-input__inner,
  .el-range-editor .el-range-input {
    border-color: #f31312;
  }
}
