// label
.el-form-item {
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-form-item__label {
  color: $font-color-label;
  line-height: normal;
}

// input
.input-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  &.must-check {
    &:after {
      padding-left: 2px;
      color: $color-danger;
      content: "*";
    }
  }
}

.firstname-input {
  width: 140px;
  margin-right: 16px;
}

.lastname-input {
  width: 220px;
}

.el-input {
  &.input-danger {
    .el-input__inner {
      border-bottom-color: $color-danger;
    }
  }
  .el-input__clear {
    color: #d8dde5;
    font-size: 22px;
  }
  .el-input__suffix {
    top: -1px;
  }
  input[type="text"] ~ .el-input__suffix .el-input__clear {
    color: #1468e2;
  }
}

.el-input__inner {
  height: 48px;
  padding: 0;
  color: $font-color-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  border: 0;
  border-bottom: 2px solid #e6e9ee;
  border-radius: 0;

  &:focus {
    border-color: #1468e2;
  }
  &::placeholder {
    color: #c7cfda;
    font-weight: normal;
  }
}

.checkbox-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.el-checkbox {
  margin-right: 12px;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  &:after {
    left: 3px;
    height: 6px;
    border-width: 2px;
  }
}

.must-check {
  .el-form-item__label {
    &:after {
      padding-left: 2px;
      color: $color-danger;
      content: "*";
    }
  }
}

.el-select {
  width: 100%;
}

.el-select-dropdown__item {
  padding: 0 15px;
}

// button
.el-button {
  padding: 12px 22px;
  border-radius: 3px;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:active {
  color: #8d939c;
  background-color: #edf0f4;
  border-color: #edf0f4;
  opacity: 0.6;
}

// element ui danger
.el-form-item__error {
  color: $color-danger;
}
.el-form-item.is-error {
  .el-input__inner {
    border-color: $color-danger;
  }
}
