// label
.el-form-item {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-form-item__label {
  color: $font-color-label;
  line-height: normal;
}

// input
.input-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  &.must-check {
    &:after {
      padding-left: 2px;
      color: $danger;
      content: "*";
    }
  }
}

.firstname-input {
  width: 140px;
  margin-right: 16px;
}

.lastname-input {
  width: 220px;
}

.el-input {
  &.input-danger {
    .el-input__inner {
      border-bottom-color: $danger;
    }
  }
  .el-input__clear {
    color: #d8dde5;
    font-size: 22px;
  }
  .el-input__suffix {
    top: -1px;
  }
  input[type="text"] ~ .el-input__suffix .el-input__clear {
    color: #1468e2;
  }
}

.el-input__inner {
  height: 48px;
  padding: 0;
  color: $baseColor;
  font-weight: 500;
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid #e6e9ee;
  border-radius: 0;

  &:focus {
    border-color: #1468e2;
  }
  &::placeholder {
    color: #c7cfda;
    font-weight: normal;
  }
}

.checkbox-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.el-checkbox {
  margin-right: 12px;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  &:after {
    left: 5px;
    height: 9px;
    border-width: 2px;
  }
}

.must-check {
  .el-checkbox__label {
    &:after {
      padding-left: 2px;
      color: $danger;
      content: "*";
    }
  }
}

.el-select {
  width: 100%;
}

.el-select-dropdown__item {
  padding: 0 15px;
}

// button
.el-button {
  padding: 12px 22px;
  border-radius: 3px;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:active {
  color: #8d939c;
  background-color: #edf0f4;
  border-color: #edf0f4;
  opacity: 0.6;
}

// upload
.el-upload-dragger {
  width: 400px;
  height: 100px;
  margin: 10px;
  border: none;

  .avatar {
    width: 80px;
    height: 80px;
    margin: 10px;
    & > i {
      position: absolute;
      right: -15px;
      bottom: -3px;
      width: 32px;
      height: 32px;
      background: #fff;
      border-radius: 32px;
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}
.el-upload__tip {
  position: absolute;
  top: 44px;
  left: 140px;
  color: #566173;
  line-height: 1.6;
  pointer-events: none;

  li {
    text-indent: -3px;
  }
  li:before {
    display: inline-block;
    margin-right: 2px;
    content: "-";
  }
}
