/*@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (
primary: md-get-palette-color(blue, A200),
accent: md-get-palette-color(red, A200)
));
@import "~vue-material/dist/theme/all";*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #4d4d4d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

main {
  height: 100%;
}

li {
  list-style: none;
}

#mirrored-video video {
  width: 100%;
}

.mat-spinner path {
  stroke: #4d4d4d;
}
