$color-primary: #1468e2;
$color-primary-hover: #2665d0;
$color-primary-active: #144dad;
$color-info: #4d5d74;
$color-info-hover: #56657b;
$color-info-active: #4d5d74;
$color-link: #0052cc;
$font-color-desc: #5e6b81;
$font-color-content: #0b1f48;
$font-color-label: #0d2a58;

// colors
$color-silver: #aebbcc;
$color-gray: #8d939c;
$color-dark-gray: #6e7277;
$color-blue: #186ae2;
$color-dark-blue: #1d5cb7;
$color-dark-red: #de3636;
$color-orange: #f89637;
$color-green: #2cbc65;

$the-sidebar-width: 60px;
