/* Layout */
$side_width: 66px;
$header_height: 56px;
$recent_call_width: 400px;

/* Color */
$color_remote: #0064ff;
$color_remote_text: #ffffff;
$color_remote_dark: #004ec6;
$color_virnect: #6700ff;
$color_virnect_text: #ffffff;
$color_virnect_dark: #5600ee;
$color_warning: #d50000;
$color_division: #dddddd;
$color_border: #e2e2e2;

/* Color - text */
$color_dark: #222222;
$color_dark_blur: rgba(34, 34, 34, 0.5);
$color_text_gray: #545658;
$color_text_red: #d30a0a;

/* Color - bg */
$color_bg_default: #262a31;
$color_bg_gray: #898f98;
$color_bg_input: #f4f5f6;

/* Color -status */
$color_online: #7ed321;
$color_offline: #cccccc;
$color_busy: #ef3e33;

$color_white_hover: #eff3fb;

/* Screen Size */
$size_pc_max: 1920px;
$size_pc_min: 1025px;
$size_pc_pad: 25px;
$size_tab_max: 1024px;
$size_tab_min: 768px;
$size_m_max: 767px;
$size_m_min: 320px;
$size_m_pad: 20px;

/* Font */
$font_family: "NotoSansKR";
$font_family2: "Roboto";
// $font_family2: "Noto Sans";
$font_family3: "Noto Sans SC";
