@charset "utf-8";

@import "common";
@import "./plugin/vue-toasted";
@import "./plugin/material-icons";
@import "./admin/element/index";

$header_height: 64px;
$side_width: 66px;
$submenu_width: 260px;

@import "./admin/admin-layout";
@import './admin/admin-common';
@import "./admin/admin-login";
@import './admin/admin-group';
@import "./admin/admin-message";
@import "./admin/admin-payment";
@import "./admin/admin-help";
@import "./admin/admin-setting";
