/* admin style override */
#app {
  th,
  td {
    padding: inherit;
  }
  .admin-container {
    height: inherit;
    overflow: inherit;
  }
  .admin-body {
    width: 1300px;
    padding: inherit;
  }
  .login-form--submit {
    height: 48px;
    background-color: #4d5d74;
    border-radius: 2px;
    &:hover,
    &:active,
    &:focus {
      background-color: #56657b;
      border-color: inherit;
    }
  }
  .top-nav__center,
  .top-nav__left {
    height: auto;
  }
  .top-nav__left {
    padding: 12px 22px;
  }
  .top-nav__center .logo-img,
  .top-nav__left .logo-img {
    height: auto;
    margin-top: 6px;
  }
  .sidebar,
  .sidebar--logo {
    width: 60px;
  }
  .sidebar {
    &--logo .popover--button {
      width: 44px;
      height: 44px;
      margin: 11px 8px 24px 8px;
    }
    &-inner {
      background-color: #1b293e;
    }
    &--item {
      padding: 0px 10px 16px 10px;
    }
    &--item:nth-child(3),
    &--item:nth-child(4),
    &--item:last-child {
      position: inherit;
      bottom: inherit;
    }
  }
  .el-dialog__headerbtn .el-dialog__close {
    font-weight: bold;
    font-size: 24px;
  }
  .el-progress-bar__inner {
    background-image: linear-gradient(#186ae2, #186ae2);
  }
}
.el-time-spinner__list::after,
.el-time-spinner__list::before {
  height: 72px;
}
/* admin style override end */

.admin-body__header {
  margin-bottom: 24px;
  padding: 8px 0px;
  color: #0d2a58;
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.text-center {
  text-align: center;
}
.swal2-container {
  z-index: 9999 !important;
}
.el-card__header {
  position: relative !important;
}
.el-card__body {
  padding: 0px !important;
  text-align: left !important;
}
.el-card {
  margin-bottom: 30px !important;
  background-color: #ffffff !important;
  border: solid 1px #e6e9ee !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04) !important;
}
.el-button {
  background-image: none !important;
}
.el-tabs__nav-wrap::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #eaedf3;
  content: "";
}
.el-tabs__nav {
  margin: 0px 30px !important;
}
.btn.btn--status {
  padding: 3px 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  border-radius: 3px;
  &.complete {
    background-color: #2cbc65;
  }
  &.imcomplete {
    background-color: #f55050;
  }
  &.idle {
    background-color: #aebbcc;
  }
  &.progress {
    background-color: #186ae2;
  }
}

.inline-table-pagination .el-pagination__jump {
  margin-left: 0px !important;
}
.card {
  margin-bottom: 30px;
  background-color: #ffffff;
  border: solid 1px #e6e9ee;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  .bar-chart-wrapper {
    padding: 20px 30px 10px 15px;
  }
  &__body tbody td {
    color: #0d2a58;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
  }
  &__header {
    padding: 22px 30px;
    color: #0d2a58;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    box-shadow: inset 0 -1px 0 0 #eaedf3;
    .title {
      color: #0d2a58;
      font-size: 16px;
      line-height: 1.75;
      vertical-align: middle;
      .small {
        margin-left: 1em;
        font-size: 0.7em;
        opacity: 0.8;
      }
    }
    .more {
      color: #1665d8;
      font-weight: 500;
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-decoration: underline;
    }
    .header-left__sub-title {
      display: inline-block;
      margin-left: 16px;
      padding: 0px 6px;
      background-color: #f2f5f9;
      border-radius: 4px;
      .sub-title {
        color: #0d2a58;
        font-weight: 500;
        font-size: 13px;
      }
      img {
        margin-right: 3px;
      }
      & > * {
        vertical-align: middle;
      }
    }
    .header-right__sub-title {
      .sub-title {
        margin-left: 16px;
        color: #455163;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        vertical-align: middle;
      }
    }
    &--left {
      display: inline-block;
      width: 40%;
      // float: left;
      .title {
        margin-right: 15px;
        color: #0d2a58;
        font-size: 18px;
        line-height: 1.56;
      }
      .sub-title {
        color: #455163;
        font-size: 14px;
        line-height: 2;
      }
    }
    &--right {
      display: inline-block;
      // float: right;
      width: 59%;
    }
    .more-link {
      color: #1665d8;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.67;
      text-decoration: underline !important;
    }

    &--secondary {
      padding: 12px 16px;
      box-shadow: inset 0 -1px 0 0 #eaedf3;
      .title {
        color: #0d2a58;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        vertical-align: middle;
      }
      i {
        margin-right: 4px;
        font-size: 16px;
        vertical-align: middle;
      }
      .more-link {
        color: #1665d8;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        text-decoration: underline !important;
      }
    }

    .value {
      color: #0065e0;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.56;
      vertical-align: middle;
    }
  }
}

.inline-table {
  margin-left: 0.2px;
  .el-table__body td {
    height: 64px !important;
    &.tool-col {
      padding: 0px;
      .cell {
        height: 100%;
      }
      .cell > div {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
    .nums {
      height: 28px;
      padding: 6px 10px;
      color: #114997;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      background-color: #fbfbfd;
      border: solid 1px #eaedf3;
      border-radius: 4px;
    }
  }
  &__header .sub-title {
    color: #0d2a58;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
  }
  .process-percent {
    margin-right: 10px;
    .el-progress-bar__outer {
      margin-right: 8px;
    }
  }
  .auth-wrapper {
    .auth-img {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      &,
      span {
        vertical-align: middle;
      }
    }
  }
  .total-done {
    .count {
      color: #186ae2;
    }
    .el-divider {
      margin: 0 12px;
    }
    .el-button {
      margin-left: 12px;
    }
  }
  .content-name {
    img {
      margin-right: 5px;
    }
    span,
    img {
      vertical-align: middle;
    }
  }
  th {
    color: #6d798b;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  tr th:first-child .cell {
    margin-left: 30px !important;
  }
  &.el-table th > .cell,
  &.el-table .cell {
    padding: 8px 0 !important;
    overflow: initial;
  }
  .el-table__row td:first-child .cell {
    margin-left: 30px !important;
  }
  .blub {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    &.on {
      background-color: #ee5c57;
    }
    &.off {
      background-color: #aabbce;
    }
  }
  .el-button {
    padding: 8px;
    color: #0d2a58;
    font-weight: 500;
    font-size: 13px;
    background-color: #f2f5f9;
    border: none;
    border-radius: 4px;
    &:hover {
      background: #e6e9ee;
    }
    &:active {
      color: #fff;
      background: #455163;
    }
  }
}
.issue-type {
  padding: 4px 8px;
  color: #ff514a;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  border: solid 1px #dc2a2a;
  border-radius: 4px;
}
.el-tabs .tabs__item {
  color: #6d798b !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.57 !important;
  letter-spacing: normal !important;
}
.login-form {
  .el-input input {
    height: 48px !important;
    padding: 1px !important;
    background-color: unset;
    border-width: 2px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
  }
  label.el-input--label {
    color: #0d2a58;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
.page-tab-nav {
  .el-tabs__nav-wrap::after {
    width: 0px !important;
    height: 0px !important;
    content: none !important;
  }
  .el-tabs__item {
    padding: 0px 8px;
  }
  .el-tabs__nav {
    margin-left: 0px !important;
  }
  .el-tabs__header {
    margin-bottom: 25px;
  }
}

#app {
  min-height: 100vh;
  background-color: #fafbfc;
}

.capitalize {
  text-transform: capitalize;
}
.text-right {
  text-align: right;
}

.page-nav {
  &--left {
    display: inline-block;
  }
  &--right {
    float: right;
    margin-top: 7px;
  }
  .search-wrapper {
    margin-bottom: 20px;
    .search {
      width: 196px;
      margin-right: 24px;
      .el-input__inner {
        float: right;
        width: 140px;
        margin-right: 0px;
      }
      .el-button--default {
        border: solid 2px rgba(0, 0, 0, 0);
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: 0.3s, background 0s;
      }
    }
    .filter {
      margin-right: 8px;
    }
    .el-input-group__append {
      padding: 7px 8px 8px;
      color: #7a869a;
      border: none;
      button {
        padding: 7px 8px;
        background-color: rgb(241, 243, 247);
        box-shadow: none;
        transition: none;
      }
      i {
        color: black;
      }
    }
    .el-input__inner {
      margin-right: 12px;
      padding: 7px 8px;
      background-color: rgb(241, 243, 247);
      .tool i {
        color: black;
      }
    }
    .el-select:hover .el-input__inner {
      background-color: #e6e9ee;
    }
    .el-select .el-input.is-focus .el-input__inner {
      background-color: #fff;
      border: #5696f0 solid 2px;
    }
    .tool {
      vertical-align: middle;
      i {
        color: black;
      }
      &.order button,
      &.filter button {
        padding: 7px 8px;
        color: #7a869a;
        background-color: rgb(241, 243, 247);
        border: none;
      }
    }
    & .el-input__inner,
    & button {
      height: 34px;
    }
    .el-input__suffix {
      right: 15px;
    }
    .el-icon-arrow-up,
    .el-icon-arrow-down {
      font-weight: bold;
    }
  }
}

.page-nav .search-wrapper .search,
.el-input {
  .el-input__inner {
    border: solid 2px rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  &:hover {
    .el-input__inner,
    .el-button--default {
      background: #e6e9ee;
      border-color: transparent;
      transition: 0s;
    }
  }
  &:focus-within {
    .el-input__inner,
    .el-button--default {
      background: #fff;
      border-color: #5696f0;
      transition: 0.3s;
    }
  }
}

// select
.page-nav .search-wrapper {
  .el-select.selected,
  .el-select.selected:hover,
  .el-select.selected:focus-within {
    .el-tag:after,
    .el-tag span,
    .el-select__caret {
      color: #fff;
    }
    .el-input__inner {
      background: #455163;
      border-color: #455163;
      transition: background 0.3s;
    }
  }
}
.el-select-dropdown.is-multiple {
  .el-select-dropdown__item {
    span {
      color: #0d2a58;
      font-weight: 500;
    }
    &::before {
      display: inline-block;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      margin: 0 8px 0 -8px;
      vertical-align: middle;
      background: #f4f6fa;
      border: solid 1px #ccd1d7;
      border-radius: 3px;
      content: "";
    }
    &.selected::before {
      background: #1665d8;
      border-color: transparent;
    }
    &.selected::after {
      top: 1px;
      right: auto;
      left: 14px;
      color: #fff;
    }
  }
}

.tag {
  &.silver {
    fill: #8d939c;
  }
  &.gray {
    fill: #aebbcc;
  }
  &.dark-gray {
    fill: #6e7277;
  }
  &.blue {
    fill: #186ae2;
  }
  &.dark-blue {
    fill: #1d5cb7;
  }
  &.dark-red {
    fill: #de3636;
  }
  &.orange {
    fill: #f89637;
  }
  &.green {
    fill: #2cbc65;
  }
}
.el-tag.custom {
  height: fit-content;
  padding: 3px 10px;
  color: #ffffff;
  line-height: normal;
  border: none;
  border-radius: 3px;
  &.silver {
    background-color: #8d939c;
  }
  &.gray {
    background-color: #aebbcc;
  }
  &.dark-gray {
    background-color: #6e7277;
  }
  &.blue {
    background-color: #186ae2;
  }
  &.dark-blue {
    background-color: #1d5cb7;
  }
  &.dark-red {
    background-color: #de3636;
  }
  &.orange {
    background-color: #f89637;
  }
  &.green {
    background-color: #2cbc65;
  }
}
.color-red {
  color: #dd1717;
}
.header__bread-crumb {
  margin: 0px 5px 12px 0px;
  color: #0d2a58;
  font-size: 12px;
}

.enroll-new-process {
  height: 36px;
  padding: 6px 20px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  background-color: #1468e2;
  border-radius: 3px;
  &:hover {
    background-color: #2c82ff;
  }
  &:active {
    background-color: #0a51b7;
  }
}

.float-right {
  float: right;
}
.el-dropdown-menu__item {
  padding: 0px !important;
  & > * {
    padding: 0px 16px;
  }
  &:not(.is-disabled):hover {
    background-color: #f4f6fa;
  }
}

// modal
.el-message-box {
  padding: 10px 10px 24px;

  .el-message-box__headerbtn {
    display: none;
  }
  .el-button {
    background: none;
    border: none;
    box-shadow: none;
    &.el-button--primary {
      color: #fff;
      background: #1468e2;
    }
  }
}
.el-dialog .el-button {
  background: none;
  border: none;
  box-shadow: none;
  &.el-button--primary {
    color: #fff;
    background: #1468e2;
  }
}

.publish-boolean {
  &.WAIT {
    color: #566173;
    &:before {
      margin-right: 2px;
      font-size: 42px;
      vertical-align: bottom;
      content: "·";
    }
  }
  &.PUBLISH {
    color: #186ae2;
    &:before {
      margin-right: 2px;
      font-size: 42px;
      vertical-align: bottom;
      content: "·";
    }
  }
  &.MANAGED {
    color: #2cbc65;
    &:before {
      margin-right: 2px;
      font-size: 42px;
      vertical-align: bottom;
      content: "·";
    }
  }
}

.process-dash-banner {
  .box-wrapper {
    display: flex;
    .box-wrapper {
      .box:first-child {
        min-width: inherit;
      }
    }
    .box {
      position: relative;
      padding: 0px 30px;
      border-right: 1px solid rgba(205, 209, 214, 0.5);
      &:first-child {
        flex: 1 1 150px;
        min-width: 150px;
        padding-left: 0px;
      }
      &:last-child {
        flex: 1 1 90%;
        border-right: none;
      }
      .main-title {
        width: max-content;
        margin-bottom: 16px;
        color: #0d2a58;
        font-weight: 500;
        font-size: 14px;
      }
      .main-percent {
        margin-bottom: 8px;
        color: #006deb;
        font-weight: 500;
        font-size: 32px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
      }
      .sub-title {
        margin-bottom: 10px;
        color: #566173;
        font-weight: 500;
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
      }
    }
  }
  hr.divider {
    margin: 24px 0px;
    border: 1px solid #eaedf3;
  }
  .text-item {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0px;
    }
    .key {
      color: #6d798b;
      font-size: 12px;
    }
    .value {
      float: right;
      color: #0d2a58;
      font-size: 12px;
    }
  }
  .item-container {
    display: flex;
    .item {
      width: max-content;
      margin-left: 30px;
      &:first-child {
        margin-left: 0px;
      }
      & > * {
        vertical-align: middle;
      }
      .value {
        margin-left: 12px;
        color: #385370;
        font-weight: 500;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
  }
}

.vn-label {
  display: inline-block;
  a {
    margin-right: 10px;
    padding: 2px 8px 2px 6px;
    line-height: 0px;
    background-color: #f2f5f9;
    border-radius: 4px;
    & > img,
    & > span {
      vertical-align: middle;
    }
    &:hover {
      background: #e6e9ee;
    }
    &:active {
      background: #455163;
      & img {
        filter: brightness(2) grayscale(1);
      }
      & span {
        color: #fff;
      }
    }
  }
  img,
  span {
    vertical-align: middle;
  }
  span {
    color: #0d2a58;
    font-size: 13px;
  }
  img {
    margin-right: 4px;
    // width: 24px;
    // height: 24px;
  }
}

input.on-error {
  border-bottom-color: #db1717 !important;
}
