.text-center {
  text-align: center;
}
.swal2-container {
  z-index: 9999 !important;
}
.el-card__header {
	position: relative !important;
}
.el-card__body {
  text-align: left !important;
  padding: 0px !important;
}
.el-card {
  border-radius: 4px !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04) !important;
  border: solid 1px #e6e9ee !important;
  background-color: #ffffff !important;
  margin-bottom: 30px !important;
}
.el-button {
  background-image: none !important;
}
.el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #eaedf3;
  z-index: 1;
}
.el-tabs__nav {
  margin: 0px 30px !important;
}
.btn.btn--status {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 3px;
  &.complete {
    background-color: #2cbc65;
  }
  &.imcomplete {
    background-color: #f55050;
  }
  &.idle {
    background-color: #aebbcc;
  }
  &.progress {
    background-color: #186ae2;
  }
}

.card {
	&__header {
		padding: 22px 30px;
		font-size: 18px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.56;
		letter-spacing: normal;
		color: #0d2a58;
    box-shadow: inset 0 -1px 0 0 #eaedf3;
    .more {
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #1665d8;
      text-decoration: underline;
    }
	}

	.bar-chart-wrapper {
		padding: 20px 30px 10px 15px;
	}
}

.el-tabs .tabs__item {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.57 !important;
  letter-spacing: normal !important;
  color: #6d798b !important;
}
.login-form {
  .el-input input {
    height: 48px !important;
    padding: 1px !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-radius: 0 !important;
    border-width: 2px !important;
    background-color: unset;
  }
  label.el-input--label{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d2a58;
  }
}
.page-tab-nav {
  .el-tabs__nav-wrap::after {
    content: none !important;
    width: 0px !important;
    height: 0px !important;
    
  }
  .el-tabs__item {
    padding: 0px 8px;
  }
  .el-tabs__nav {
    margin-left: 0px !important;
  }
  .el-tabs__header {
    margin-bottom: 25px;
  }
}

#app {
  background-color: #fafbfc;
  min-height: 100vh;
}

.capitalize {
  text-transform: capitalize;
}
.text-right {
  text-align: right;
}

.page-nav {
	&--left {
		display: inline-block;
	}
	&--right {
		float: right;
    margin-top: 7px;
	}
	.search-wrapper {
    margin-bottom: 20px;
		.search {
			width: 196px;
			margin-right: 24px;
			.el-input__inner {
				width: 140px;
				float: right;
				margin-right: 0px;
			}
		}
		.filter {
			margin-right: 8px;
		}
		.el-input-group__append {
      padding: 7px 8px;
      .el-button--default {
			  background-color: rgb(241,243,247);
      }
			border: none;
			color: #7a869a;
			button {
				padding: 7px 8px;
			}
			i {
				color: black;
			}
		}
		.el-input__inner {
			margin-right: 12px;
			padding: 7px 8px;
			background-color: rgb(241,243,247);
			box-shadow: none;
			border: none;
			.tool i {
				color: black;
			}
		}
		.tool {
			vertical-align: middle;
			i {
				color: black;
			}
			&.order button,
			&.filter button {
				padding: 7px 8px;
				background-color: rgb(241,243,247);
				border: none;
				color: #7a869a;
			}
		}
		& .el-input__inner,
		& button {
			height: 34px;
		}
	}
}

.el-tag.custom {
  border: none;
  padding: 3px 10px;
  border-radius: 3px;
  color:#ffffff;
  height: fit-content;
  line-height: normal;
  &.silver {
    background-color: #8d939c;
  }
  &.gray {
    background-color: #aebbcc;
  }
  &.dark-gray {
    background-color: #6e7277;
  }
  &.blue {
    background-color: #186ae2;
  }
  &.dark-blue {
    background-color: #1d5cb7;
  }
  &.dark-red {
    background-color: #de3636;
  }
  &.orange {
    background-color: #f89637;
  }
  &.green {
    background-color: #2cbc65;
  }
}
.color-red {
  color: #dd1717;
}
.header__bread-crumb {
  margin: 0px 5px 12px 0px;
  font-size: 12px;
  color: #0d2a58;
}

.enroll-new-process {
	height: 36px;
	border-radius: 3px;
	background-color: #1468e2;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	padding: 6px 20px;
}

.float-right {
  float: right;
}