$top-nav-height: 60px;
.top-nav {
	&__left {
		height: $top-nav-height;
		padding: 17px 27px;
		& > * {
			vertical-align: middle;
		}
		.logo-img {
			height: 26px;
		}
		.divider {
			display: inline-block;
			width: 1px;
			height: 20px;
			background-color: #cdd1d6;
			margin: 0px 15px;
		}
		.workspace {
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #0d2a58;
		}
	}
	&__right {
		position: absolute;
		right: 0;
		top: 0;
		height: $top-nav-height;
		padding: 12px 30px;
		& > * {
			vertical-align: middle;
		}
		.profile-img {
			border-radius: 50%;
			width: 28px;
			height: 28px;
			margin-right: 8px;
		}
		.username {
			font-size: 12px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #081730;
			margin-right: 30px;
		}
		.logout-btn {
			height: 36px;
			padding: 7px 20px;
			border-radius: 3px;
			background-color: #eaedf3;
		}
	}
	&__center {
		height: 64px;
		text-align: center;
		padding: 14px 0px;
		& > * {
			vertical-align: middle;
		}
		.logo-img {
			height: 36px;
		}
		.divider {
			display: inline-block;
			width: 1px;
			height: 20px;
			background-color: #cdd1d6;
			margin: 0px 15px;
		}
		.workspace {
			font-size: 18px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 0.77px;
			text-align: center;
			color: #4e4f51;
		}
	}
	&.border {
		border-bottom: 1px solid rgb(230, 233, 238);
	}
}