.modal.select-view .modal--inner {
  background-color: $color_darkgray_500;
  border-radius: 4px;
  box-shadow: none;
  > .modal--header {
    display: none;
  }
}

.select-view__layout {
  padding: 10px;
}
.select-view__header {
  margin-bottom: 41px;
  font-weight: 500;
  font-size: 15px;
}
.select-view__body {
  display: flex;
  > figure {
    display: flex;
    flex-direction: column;
    width: 192px;
    height: 170px;
    margin-left: 18px;
    padding: 12px;
    border: solid 1px #424242;
    border-radius: 4px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.select-view__box {
  display: flex;
  flex: 1;
  > img {
    width: 56px;
    height: 56px;
    margin: auto;
  }
}
.select-view__button {
  border-radius: 4px;
  &.normal_view {
    background-color: #24a667;
    &:hover {
      background-color: #20915a;
    }
  }
  &.share_view {
    background-color: #0f75f5;
    &:hover {
      background-color: #145fc6;
    }
  }
}
