.modal.select-view .modal--inner {
  background-color: $color_darkgray_500;
  border-radius: 4px;
  box-shadow: none;
  > .modal--header {
    display: none;
  }
}

.select-view__layout {
  padding: 0.714rem;
}
.select-view__header {
  margin-bottom: 2.857rem;
  font-weight: 500;
  font-size: 1.071rem;
}
.select-view__body {
  display: flex;
  > figure {
    display: flex;
    flex-direction: column;
    width: 13.714rem;
    height: 12.143rem;
    margin-left: 1.286rem;
    padding: 0.857rem;
    border: solid 1px #424242;
    border-radius: 4px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.select-view__box {
  display: flex;
  flex: 1;
  > img {
    width: 4rem;
    height: 4rem;
    margin: auto;
  }
}
.select-view__button {
  padding: 0.714em 0;
  border-radius: 4px;
  &.normal_view {
    background-color: #24a667;
    &:hover,
    &:active,
    &:focus {
      background-color: #20915a;
    }
  }
  &.share_view {
    background-color: #0f75f5;
    &:hover,
    &:active,
    &:focus {
      background-color: #145fc6;
    }
  }
}
