.tools {
  position: absolute;
  left: 50%;
  z-index: 2;
  display: flex;
  flex: 0;
  margin: 1rem auto;
  background-color: $color_darkgray_500;
  border: solid 1px rgba($color_bg_item, 0.42);
  border-radius: 2px;
  transform: translateX(-50%);
  > div {
    position: relative;
  }
}
.menus {
  position: relative;
  display: flex;
  flex: 0;
  margin: 1.786rem 0 1.786rem auto;
}

.picker {
  padding: 1rem;

  & + & {
    border-top: 1px solid #3d4147;
  }

  %colorchip {
    .picker--item {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin: 0.286rem;
      overflow: hidden;
      border-radius: 50%;

      button {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-indent: -99px;
        outline: none;
      }
      &.on {
        border: 1px solid $color_white;
      }
    }
  }

  &.line_color,
  &.point_color {
    @extend %colorchip;
    width: 12.286rem;

    & + .picker {
      width: 12.286rem;
    }

    .picker--item {
      display: inline-block;
      width: 1.857rem;
      height: 1.857rem;
      margin: 0.357rem 0.357rem 0;
      overflow: hidden;
      background: $color_white;
      border-radius: 50%;

      button {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-indent: -999px;
        background: none;
        border: none;
      }

      &.on {
        border: 1px solid $color_white;

        button {
          background: transparent url(~assets/image/icn-colorpa-checked.svg) 50%/60%
            no-repeat;
        }
      }
    }
  }

  &.line_width {
    width: 10.286rem;

    .picker--list {
      margin-top: 0.286rem;
    }
    .picker--item {
      margin: 0 -0.786rem;
      padding: 0.357rem 0.714rem;
    }
    .picker--item button {
      display: flex;
      align-items: center;
      width: 100%;
      color: $color_text;
      font-size: 0.714rem;
      line-height: 1.429rem;
      background: none;
      opacity: 0.7;

      .line {
        display: inline-block;
        width: 74%;
        margin-right: 0.286rem;
        background-color: #fff;
        content: "";
      }
    }

    .picker--item.on {
      background-color: rgba(239, 243, 251, 0.26);
      border-radius: 3px;

      & button {
        opacity: 1;
      }
    }
  }

  &.text_size {
    width: 10.286rem;

    .picker--list {
      margin-top: 0.286rem;
    }
    .picker--item {
      margin: 0 -0.786rem;
      padding: 0.357rem 0.714rem;
    }
    .picker--item button {
      width: 100%;
      line-height: 1.429rem;
      text-align: center;
      background: none;
      opacity: 0.7;
    }
    .picker--item.on {
      background-color: rgba(#eff3fb, 0.26);
      border-radius: 3px;

      & button {
        opacity: 1;
      }
    }
  }
}

.picker--container {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  margin-top: 0.429rem;
  background-color: #2f343d;
  border-radius: 0.286rem;
  box-shadow: 0 2px 5px 0 rgba(16, 16, 17, 0.25);
  transform: translateX(-50%);
}

.picker--wrapper {
  padding: 0.357rem 7px;
  background: #2b2d30;
}

.picker--title {
  margin-bottom: 0.357rem;
  color: #fff;
  font-size: 0.86rem;
  text-align: left;
}

.picker--list {
  text-align: center;
}

.picker--range {
  display: flex;
}

.picker--range__box {
  position: relative;
  width: calc(100% - 3rem);
}

.picker--range__input {
  position: relative;
  width: 100%;
  height: 1rem;
  margin: 0.286rem 0;
  overflow: hidden;
  background: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    margin-top: -0.286rem;
    background: transparent url(~assets/image/img-controller.svg) 50%/1rem
      no-repeat;
    -webkit-appearance: none;
  }

  // Track
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.571rem;
    background: rgba(#ccbfbf, 0.25);
    border: 1px solid #14151a;
    border-radius: 3px;
  }
}

.picker__guage {
  position: absolute;
  top: 0.571rem;
  left: 0;
  width: 0;
  height: 0.429rem;
  background-color: $color_primary;
  border-radius: 3px;
  pointer-events: none;
}

.picker__text {
  display: inline-block;
  width: 2.714rem;
  margin-left: 0.286rem;
  padding: 2px 3px;
  font-size: 0.786rem;
  text-align: center;
  border: 1px solid #494b50;
  border-radius: 3px;
}

.division {
  width: 1px;
  height: 2rem;
  margin: 0.786rem 0.857rem;
  background-color: rgba($color_white, 0.18);
}
