.chat-speech {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2.857rem 1.714rem 1.143rem;
  // height: 106px;
  background: #393a41;
  border-radius: 1.143rem 1.143rem 0 0;
}

.chat-speech__main {
  position: relative;
  display: flex;
  height: 3.857rem;
}

@keyframes speechStreaming {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.3;
  }
}

.chat-speech__icon {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
  width: 3.143rem;
  height: 3.143rem;
  margin: auto 0.929rem auto 0.357rem;
  &:before {
    position: absolute;
    top: -0.357rem;
    left: -0.357rem;
    width: 3.857rem;
    height: 3.857rem;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.1;
    content: "";
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.143rem;
    height: 3.143rem;
    background: url(~assets/image/call/ic_speech.svg) no-repeat center/2.143rem
      2.143rem;
    background-color: #797e85;
    border-radius: 50%;
    content: "";
  }

  &.active {
    cursor: default;
    &:before {
      background-color: #0f75f5;
      opacity: 0.3;
      animation-name: speechStreaming;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    &:after {
      background-color: #0f75f5;
    }
  }
  &.recording {
    &:before {
      opacity: 0;
    }
    &:after {
      background-color: #0f75f5;
    }
  }
}

.chat-speech__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.857rem;
  height: 3.857rem;
  > circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 1s linear;
  }
}

.chat-speech__text {
  flex: 1;
  align-self: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.071rem;
}

.chat-speech__send {
  flex: 0;
  height: fit-content;
  margin: auto 0 auto 0.357rem;
  padding: 0.214rem 0.857rem;
  color: $color_text_sub;
  background-color: $color_primary;
  border-radius: 2px;
  transition: background-color 0.2s;

  &:focus {
    background-color: $color_primary;
  }
  &:hover {
    background-color: $color_primary_700;
  }
  &:active {
    background-color: $color_primary_dark;
  }
  &.inactive {
    color: rgba(#fafafa, 0.5);
    background-color: #797e85;
    cursor: default;
  }
}

.chat-speach__textarea {
  width: 100%;
  height: 8.571rem;
  margin-top: 0.714rem;
  > textarea {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 0.786rem 0.929rem;
    color: rgba(#fff, 0.78);
    background-color: #2d2e33;
    border: none;
    border-radius: 3px;
    resize: none;

    &::placeholder {
      color: rgba(#fff, 0.78);
      opacity: 0.5;
    }
    &::selection {
      background-color: #a8cfff;
    }
  }
}

.chat-speech__close {
  @include ir;
  position: absolute;
  top: 0.714rem;
  right: 0.714rem;
  width: 1.714rem;
  height: 1.714rem;
  background: url(~assets/image/call/ic-close-w.svg) no-repeat center/100%;
}

@include responsive-mobile {
  .chat-speech {
    height: 39.3vh;
    padding: 4rem 1.6rem 1.6rem 1.6rem;
    background-color: $new_color_popup_bg;
    border-radius: 1.6rem 1.6rem 0 0;
  }

  .chat-speech__main {
    height: 5.9rem;
  }

  .chat-speech__progress {
    width: 5.9rem;
    height: 5.9rem;
  }

  .chat-speech__icon {
    width: 5.4rem;
    height: 5.4rem;
    margin-right: 1.3rem;
    margin-left: 0.3rem;
    &::before {
      display: none;
    }

    &::after {
      width: 5.4rem;
      height: 5.4rem;
      background-color: #868c94;
      background-size: 3rem;
    }

    &.recording {
      width: 4.4rem;
      height: 4.4rem;
      margin-right: 2.3rem;
      &::after {
        top: 0;
        left: 5px;
        width: 4.4rem;
        height: 4.4rem;
      }
    }
  }

  .chat-speech__text {
    @include fontLevel(150);
  }

  .chat-speech__send {
    flex: unset;
    width: 6.4rem;
    height: 3rem;
    color: $new_color_text_main;
    background-color: $new_color_bg_button_primary;
    border-radius: 5px;
    @include fontLevel(100);

    &.inactive {
      color: $new_color_text_main;
      background-color: $new_color_bg_button_inactive;
      opacity: 0.4;
    }
  }

  .chat-speach__textarea {
    height: calc(39.3vh - 12.2rem);
    > textarea {
      color: $new_color_text_main;
      background-color: $new_color_bg_textarea;
      @include fontLevel(150);
      &::placeholder {
        color: $new_color_text_sub_description;
      }
    }
  }

  .chat-speech__close {
    top: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    background: url(~assets/image/call/mdpi_icon_close_new.svg) no-repeat
      center/110%;
  }
}
