.tools {
  position: absolute;
  left: 50%;
  z-index: 2;
  display: flex;
  flex: 0;
  margin: 14px auto;
  background-color: #313135;
  border: solid 1px rgba(#4c5259, 0.42);
  border-radius: 2px;
  transform: translateX(-50%);
  > div {
    position: relative;
  }
}
.menus {
  position: relative;
  display: flex;
  flex: 0;
  margin: 25px 0 25px auto;
}

.picker {
  padding: 14px 14px;

  & + & {
    border-top: 1px solid #3d4147;
  }

  %colorchip {
    .picker--item {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin: 4px;
      overflow: hidden;
      border-radius: 50%;

      button {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-indent: -99px;
        outline: none;
      }
      &.on {
        border: 1px solid #fff;
      }
    }
  }

  &.line_color,
  &.point_color {
    @extend %colorchip;
    width: 172px;

    & + .picker {
      width: 172px;
    }

    .picker--item {
      display: inline-block;
      width: 26px;
      height: 26px;
      margin: 5px 5px 0;
      overflow: hidden;
      background: #fff;
      border-radius: 50%;

      button {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-indent: -999px;
        background: none;
        border: none;
      }

      &.on {
        border: 1px solid #ffffff;

        button {
          background: transparent url(~assets/image/icn-colorpa-checked.svg) 50%/60%
            no-repeat;
        }
      }
    }
  }

  &.line_width {
    width: 144px;

    .picker--list {
      margin-top: 4px;
    }
    .picker--item {
      margin: 0 -11px;
      padding: 5px 10px;
    }
    .picker--item button {
      display: flex;
      align-items: center;
      width: 100%;
      color: #fff;
      font-size: 10px;
      line-height: 20px;
      background: none;
      opacity: 0.7;

      .line {
        display: inline-block;
        width: 74%;
        margin-right: 4px;
        background-color: #fff;
        content: "";
      }
    }

    .picker--item.on {
      background-color: rgba(239, 243, 251, 0.26);
      border-radius: 3px;

      & button {
        opacity: 1;
      }
    }
  }

  &.text_size {
    width: 144px;

    .picker--list {
      margin-top: 4px;
    }
    .picker--item {
      margin: 0 -11px;
      padding: 5px 10px;
    }
    .picker--item button {
      width: 100%;
      line-height: 20px;
      text-align: center;
      background: none;
      opacity: 0.7;
    }
    .picker--item.on {
      background-color: rgba(239, 243, 251, 0.26);
      border-radius: 3px;

      & button {
        opacity: 1;
      }
    }
  }
}

.picker--container {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  margin-top: 6px;
  background-color: #2f343d;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(16, 16, 17, 0.25);
  transform: translateX(-50%);
}

.picker--wrapper {
  padding: 5px 7px;
  background: #2b2d30;
}

.picker--title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 0.86em;
  text-align: left;
}

.picker--list {
  text-align: center;
}

.picker--range {
  display: flex;
}

.picker--range__box {
  position: relative;
  width: calc(100% - 42px);
}

.picker--range__input {
  position: relative;
  width: 100%;
  height: 14px;
  margin: 4px 0;
  overflow: hidden;
  background: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    background: transparent url(~assets/image/img-controller.svg) 50%/14px
      no-repeat;
    -webkit-appearance: none;
  }

  // Track
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: rgba(#ccbfbf, 0.25);
    border: 1px solid #14151a;
    border-radius: 3px;
  }
}

.picker__guage {
  position: absolute;
  top: 8px;
  left: 0;
  width: 0;
  height: 6px;
  background-color: #1062ff;
  border-radius: 3px;
  pointer-events: none;
}

.picker__text {
  display: inline-block;
  width: 38px;
  margin-left: 4px;
  padding: 2px 3px;
  font-size: 11px;
  text-align: center;
  border: 1px solid #494b50;
  border-radius: 3px;
}

.division {
  width: 1px;
  height: 28px;
  margin: 11px 12px;
  background-color: rgba(#ffffff, 0.18);
}
