.subview-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: $subview_width;
  // z-index: 10;
  color: $color_text_main;
  background-color: $color_chat_bg_default;
  @include background-border(left);
}

.sub-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18rem;
  background: #111012;
}

.sub-video--screen {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sub-video--no-stream {
  width: 3.8571rem;
  height: 3.8571rem;
  background: url(~assets/image/call/chat_img_no_video_stream.svg) center
    no-repeat;
}
