.subview-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  // z-index: 10;
  width: $subview_width;
  color: $color_text_main;
  background-color: $color_darkgray;
  @include background-border(left);
  @include tablet {
    z-index: 10;
    // display: none;
    // transform: translateX(100%);
  }
}

.sub-video {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18rem;
}

.sub-video__wrapper {
  width: 100%;
  height: 100%;

  &.no-stream {
    width: initial;
    height: initial;
  }
}

.sub-video--screen {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sub-video--no-stream {
  width: 3.8571rem;
  height: 3.8571rem;
  background: url(~assets/image/call/chat_img_no_video_stream.svg) center
    no-repeat;
}

@include responsive-mobile {
  .subview-wrapper {
    width: 100%;
  }
}
