.remote-layout {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: $color_bg_display;
}
.remote-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - #{$header_height});
  margin-top: $header_height;
  // padding: $header_height 10px 20px 0;
  margin-right: 0;
  padding-bottom: 0;
}

.service-wrapper {
  // display: flex;
  // flex-direction: column;
  // // display: flex;
  // // flex-direction: column;
  // min-height: 100%;
}

.main-wrapper {
  position: relative;
  width: calc(100% - #{$subview_width});
  height: calc(100% - #{$videolist_height});
  color: $color_text_main;
  transition: all 0.3s;
  &.shareview {
    width: calc(100% - #{$subview_width + $share_width});
    margin-left: $share_width;
  }
}

.main-body {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  transform: translate(-50%, -50%);
  &.stream {
  }
  &.drawing {
  }

  &.ar {
  }
}
