.service-wrapper {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-color: $color_bg_default;
}

.main-wrapper {
  position: relative;
  width: calc(100% - #{$subview_width});
  top: $header_height;
  height: calc(100% - #{$header_height});
  color: $color_text_main;
}
