/** custom mdoal */
.modal.local-recsetting-modal .modal--inner {
  background-color: $color_darkgray_500;
  box-shadow: none;
}
.modal.local-recsetting-modal .modal--header {
  height: 3.2143rem;
  padding: 0.8571rem 0.7857rem 0 0;
  background-color: $color_darkgray_500;
  border-bottom: none;
}

.rec-setting {
  padding: 0;
}

.rec-setting__header {
  margin-bottom: 1.4286rem;
  color: $color_white;
  font-size: 1.2857rem;
}

.rec-setting__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.rec-setting__text {
  width: 12.8571rem;
  color: $color_text_main;
  font-size: 1rem;

  &.custom {
    display: flex;
    align-items: center;
  }

  > p {
    margin: 0px 0.2857rem 0px 0px;
    color: $color_text_main;
    font-size: 1rem;
  }
}

.rec-setting__selector {
  align-items: flex-start;
  width: 24rem;
  .radio-group {
    height: 2.4286rem;
  }
}

.rec-setting__underbar {
  margin: 2.6429rem 0rem 2.7143rem 0px;
  border-bottom-color: #454548;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.rec-setting--tooltip-icon {
  width: 1.2857rem;
  height: 1.3214rem;
  background: url("~assets/image/ic_tool_tip.svg") center no-repeat;
}
.rec-setting__tooltip--body {
  position: absolute;
  left: 7.8571rem;
  z-index: 9999;
  width: 24.4286rem;
  height: 4.8571rem;
  padding: 1.1429rem 1.7143rem 1.1429rem 2rem;
  background: url("~assets/image/img_tooltip_big.svg") center no-repeat;
}

.rec-setting__tooltip--text {
  color: #ffffff;
  font-size: 0.8571rem;
}

/*custom remote radio */
.rec-setting {
  .radio-group {
    flex-direction: row;
    padding: 0;

    .radio-option:not(:first-of-type) {
      padding-left: 1.8571rem;
    }
  }
}
.modal.local-recsetting-modal {
  .modal--body {
    padding: 0 1.2857rem 0 2.1429rem;
  }
}
