.ar-view {
  position: relative;
  flex: 1;
  width: 100%;
  height: calc(100% - #{$tool_height});
}

.ar-video {
  position: relative;
  width: 100%;
  height: 100%;
}
.ar-video__box {
  position: relative;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transform: translateY(-50%);
}

.ar-video__stream {
  max-width: 100%;
  max-height: 100%;
}

.ar-video__select {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba($color_primary_700, 0.3);
  border: solid 2px $color_primary;
  &::before {
    position: absolute;
    top: -0.286rem;
    left: -0.286rem;
    width: 0.2rem;
    height: 0.2rem;
    border-top: solid 2px $color_primary;
    border-left: solid 2px $color_primary;
    content: "";
  }
  &::after {
    position: absolute;
    top: -0.286rem;
    right: -0.286rem;
    width: 0.2rem;
    height: 0.2rem;
    border-top: solid 2px $color_primary;
    border-right: solid 2px $color_primary;
    content: "";
  }
  &:hover {
    > .ar-video__select-inner p {
      text-shadow: 0.286rem 0.286rem 0.286rem rgba($color_darkgray_1000, 0.59);
    }
  }
}
.ar-video__select-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    position: absolute;
    bottom: -0.286rem;
    left: -0.286rem;
    width: 0.2rem;
    height: 0.2rem;
    border-bottom: solid 2px $color_primary;
    border-left: solid 2px $color_primary;
    content: "";
  }
  &::after {
    position: absolute;
    right: -0.286rem;
    bottom: -0.286rem;
    width: 0.2rem;
    height: 0.2rem;
    border-right: solid 2px $color_primary;
    border-bottom: solid 2px $color_primary;
    content: "";
  }
}
.ar-video__select-inner {
  margin: auto;
  text-align: center;
  > p {
    color: $color_text;
    font-weight: 500;
    font-size: 1.714rem;
    text-shadow: 1px 2px 0.286rem rgba($color_darkgray_1000, 0.59);
    transition: all 0.3s;
    &.description {
      margin-top: 0.429rem;
      font-size: 0.929rem;
    }
  }
}

.ar-pointing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ar-video__loading {
  position: absolute;
  top: -0.143rem;
  left: -0.143rem;
  display: flex;
  width: calc(100% + 0.286rem);
  height: calc(100% + 0.286rem);
  background-color: #1e1e20;
}
.ar-video__loading-inner {
  margin: auto;
  text-align: center;
  user-select: none;
}
