.main-tools {
  position: relative;
  display: flex;
  margin: 32px 0 24px auto;

  &__button {
    display: flex;
    padding: 0 16px;
    font-size: 12px;
    background-color: transparent;
    border-left: solid 1px #d8d8d8;
    opacity: 0.7;

    &:first-child {
      border-left: none;
    }
    &:hover,
    &:active {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }

    > img {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }
}
