/** custom mdoal */
.modal.local-recsetting-modal .modal--inner {
  min-width: 40.5714rem;
  background-color: $color_darkgray_500;
  border-radius: 4px;
  box-shadow: none;
}
.modal.local-recsetting-modal .modal--header {
  height: auto;
  padding: 0;
  border-bottom: none;
}

.rec-setting {
  padding: 0;
}

.rec-setting--header {
  position: relative;
  margin-top: 2.143em;
  margin-bottom: 1.2857rem;
  padding-top: 2.571em;
  color: $color_white;
  font-size: 1.2857rem;
  border-top: solid 1px #454548;
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }

  &.disable {
    margin-bottom: 1rem;
  }
}

.rec-setting--warning {
  position: absolute;
  left: 12.857rem;
  margin-bottom: 1rem;
  color: #ff6363;
  font-size: 1rem;
}

.rec-setting__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  &.disable {
    opacity: 0.3;
    pointer-events: none;
  }
  &.vertical {
    flex-direction: column;
    align-items: baseline;
  }
}

.rec-setting__description {
  margin-bottom: 10px;
  color: $color_text_main;
  font-size: 0.929rem;
}

.rec-setting__text {
  width: 12.857rem;
  color: $color_text_main;
  font-size: 1rem;

  &.custom {
    display: flex;
    align-items: center;
  }

  > p {
    margin-right: 0.286rem;
    color: $color_text_main;
    font-size: 1rem;
  }
  > .popover--wrapper {
    display: flex;
  }
}

.rec-setting__selector {
  flex: 1;
  align-items: flex-start;
  > .radio-group {
    height: 2.429rem;
  }
}
.rec-setting--tooltip-icon {
  width: 1.714em;
  height: 1.714em;
  opacity: 0.6;
  transition: opacity 0.2;
  &:hover {
    opacity: 1;
  }
}

/*custom remote radio */
.rec-setting {
  .radio-group {
    flex-direction: row;
    padding: 0;

    .radio-option:not(:first-of-type) {
      padding-left: 1.8571rem;
    }
  }
}
.modal.local-recsetting-modal .modal--inner .modal--body {
  padding: 3.571em 2.857em 2.571em;
}
