.drawing-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
}

.drawing-canvas {
  position: relative;
  width: 100%;
  height: calc(100% - 230px);
  border: solid 1px #ddd;
}
