.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  > .vue-scrollbar__wrapper {
    width: 100%;
    // height: calc(100% - 120px);
    height: 100%;
    margin-right: auto;
    margin-bottom: 0px;
  }
}

.chat-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: $color_chat_header;
  border-bottom: solid 1px #26262a;
}

.chat-header__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.7857rem 1.5714rem 1.1429rem;
  color: rgba($color_text, 0.87);
  font-weight: 500;
  font-size: 1.1429rem;

  // .show-list {
  //   margin-left: 0.357rem;
  //   background: url(~assets/image/call/chat_icn_moreinfor.svg) center/1.429rem
  //     no-repeat;

  //   @include ir();
  // }
}
.chat-header__title--text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-header__menu {
  display: flex;
  height: 100%;

  .selector__icon--chat {
    width: 1.4286rem;
    height: 1.4286rem;
    margin-right: 0.4286rem;
    background: url(~assets/image/call/chat_ic_chat_b.svg) center no-repeat;

    &.chat__active {
      background: url(~assets/image/call/chat_ic_chat_w.svg) center no-repeat;
    }
  }

  .selector__icon--file {
    width: 1.4286rem;
    height: 1.4286rem;
    margin-right: 0.4286rem;
    background: url(~assets/image/call/chat_ic_folder_b.svg) center no-repeat;

    &.file__active {
      background: url(~assets/image/call/chat_ic_folder_w.svg) center no-repeat;
    }
  }
}

.chat-header__selector {
  display: flex;
  flex-grow: 0.5;
  align-items: center;
  justify-content: center;
  height: 3.2143rem;

  &.active {
    background: rgba(169, 169, 169, 0.2);
  }
  &.active:hover {
    cursor: default;
  }

  &:hover {
    cursor: pointer;
  }
}

.chat-header__selector--text {
  color: #5f5f5f;

  &.active {
    color: rgba(255, 255, 255, 0.87);
  }
}

.selector__icon--chat {
  width: 1.4286rem;
  height: 1.4286rem;
  margin-right: 0.4286rem;
  background: url(~assets/image/call/chat_ic_chat_b.svg) center no-repeat;

  &.active {
    background: url(~assets/image/call/chat_ic_chat_w.svg) center no-repeat;
  }
}

.selector__icon--file {
  width: 1.4286rem;
  height: 1.4286rem;
  margin-right: 0.4286rem;
  background: url(~assets/image/call/chat_ic_folder_b.svg) center no-repeat;

  &.active {
    background: url(~assets/image/call/chat_ic_folder_w.svg) center no-repeat;
  }
}

.chat-header__description {
  color: rgba($color_text_sub, 0.87);
  font-weight: 500;
  font-size: 0.857rem;
}
.chat-header__fold {
  position: absolute;
  top: 50%;
  right: 1.571rem;
  width: 1.429rem;
  background: url(~assets/image/call/chat_ic_fullscre.svg) center/1.571rem
    no-repeat;
  transform: translateY(-50%);

  @include ir();
}

.chat-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  // height: calc(100% - 60px);
  height: 100%;
  padding: 1.071rem;
}

// @TODO: make depth lower...
.chat-item {
  position: relative;
  max-width: 80%;
  margin: 6px 0.714rem;

  &.date {
    position: relative;
    align-self: center;
    margin-bottom: 1.429rem;
    color: rgba($color_text_sub, 0.7);
    font-size: 0.857rem;
    > p {
      &::before {
        position: absolute;
        top: 50%;
        right: 100%;
        width: 100px;
        height: 1px;
        margin-right: 0.714rem;
        background-color: rgba($color_white, 0.15);
        content: "";
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 100px;
        height: 1px;
        margin-left: 0.714rem;
        background-color: rgba($color_white, 0.15);
        content: "";
      }
    }
  }

  &.me {
    .profile,
    .name {
      display: none;
      height: 0;
    }
    .chat-item__body {
      width: 100%;
      .chatbox {
        margin-left: auto;
        padding: 0.786rem 0.929rem;
        line-height: 1.57;
        word-break: break-word;
        background-color: $color_chat_bg_me;
        border-radius: 7px 7px 0 7px;
        .text {
          color: rgba($color_darkgray_1000, 0.78);
          word-break: break-word;

          .chat-url {
            color: $color_primary_700;
            font-size: 0.9375rem;
            text-decoration: underline;
          }
        }
      }
    }
    .time {
      display: block;
      margin: 0.429rem 0 0.571rem;
      color: $color_text_main;
      font-size: 0.8rem;
      text-align: left;
      opacity: 0.5;
    }
  }

  &.opponent {
    display: flex;
    align-self: flex-start;

    .profile {
      flex-shrink: 0;
      width: 2.143rem;
      height: 2.143rem;
      background-color: transparent;
      border-radius: 50%;
    }
    .chat-item__body {
      margin-left: 0.714rem;
      .chatbox {
        padding: 7px 0.929rem;
        line-height: 1.57;
        word-break: break-word;
        background-color: $color_chat_bg_opponent;
        border-radius: 0 7px 7px 7px;
        .name {
          color: rgba($color_darkgray_1000, 0.9);
          font-weight: 500;
          font-size: 0.857rem;
        }
        .text {
          color: rgba($color_darkgray_1000, 0.78);
          word-break: break-word;

          .chat-url {
            color: $color_primary_700;
            font-size: 0.9375rem;
            text-decoration: underline;
          }
        }
      }
      .time {
        display: block;
        margin: 0.429rem 0 0.571rem;
        color: $color_text_main;
        font-size: 0.8rem;
        text-align: right;
        opacity: 0.5;
      }

      &.hidden {
        margin-left: 2.857rem;
      }
    }
  }

  &.system {
    align-self: center;
    max-width: 100%;
    margin: 0.5rem;
    border-radius: 4px;

    .emphasize {
      width: 30ch;
      overflow: hidden;
      color: #6bb4f9;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .profile,
    .name {
      display: none;
    }
    .chat-item__body {
      .text {
        color: rgba($color_text_sub, 0.9);
        line-height: 1.57;
        text-align: center;
        &.alarm {
          transform: translateX(14px);
          &::after {
            position: absolute;
            top: 0.214rem;
            left: -1.429rem;
            width: 1rem;
            height: 1rem;
            background: url(~assets/image/call/mdpi_ic_start_cowork.svg) center
              no-repeat;
            content: "";
          }
        }
        &.people {
          transform: translateX(14px);
          &::after {
            position: absolute;
            top: 0.214rem;
            left: -1.429rem;
            width: 1rem;
            height: 1rem;
            background: url(~assets/image/call/chat_ic_ppl.svg) center no-repeat;
            content: "";
          }
        }
        &.ar {
          transform: translateX(14px);
          &::after {
            position: absolute;
            top: 0.214rem;
            left: -1.429rem;
            width: 1rem;
            height: 1rem;
            background: url(~assets/image/call/chat_ic_ar.svg) center no-repeat;
            content: "";
          }
        }
        &.board {
          transform: translateX(14px);
          &::after {
            position: absolute;
            top: 0.214rem;
            left: -1.429rem;
            width: 1rem;
            height: 1rem;
            background: url(~assets/image/call/chat_ic_board.svg) center
              no-repeat;
            content: "";
          }
        }
        &.cancel {
          transform: translateX(14px);
          &::after {
            position: absolute;
            top: 0.214rem;
            left: -1.429rem;
            width: 1rem;
            height: 1rem;
            background: url(~assets/image/call/chat_ic_filecancel.svg) center
              no-repeat;
            content: "";
          }
        }
      }
      .time {
        display: block;
        margin: 0.286rem 0;
        color: $color_text_main;
        font-size: 0.8rem;
        text-align: center;
        opacity: 0.5;
      }
    }
  }

  &.file-share {
    width: auto;
  }
}

.chat-item__file {
  white-space: pre-line;
}

.chat-item__file--wrapper {
  display: flex;
  margin-top: 0.7857rem;
}

.chat-item__file--icon {
  width: 1.7143rem;
  height: 1.7143rem;
  margin-right: 0.4286rem;
  &.pdf {
    background: url(~assets/image/call/chat_ic_pdf_b.svg) center no-repeat;
  }
  &.txt {
    background: url(~assets/image/call/chat_ic_file_b.svg) center no-repeat;
  }
  &.jpg {
    background: url(~assets/image/call/chat_ic_jpgpng_b.svg) center no-repeat;
  }
  &.png {
    background: url(~assets/image/call/chat_ic_jpgpng_b.svg) center no-repeat;
  }
  &.mp3 {
    background: url(~assets/image/call/chat_ic_mp3_b.svg) center no-repeat;
  }
  &.video {
    background: url(~assets/image/call/chat_ic_video_b.svg) center no-repeat;
  }
}

.chat-item__file--name {
  width: 9.7143rem;
  overflow: hidden;
  color: rgba($color_darkgray_1000, 0.78);
  font-weight: 500;
  font-size: 1.2143rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: url() no-repeat;
}

.chat-item__file--size {
  margin: 0.3571rem 0;
  color: rgb(122, 122, 122);
  font-size: 0.8571rem;
}

.chat-item__file--button {
  width: 100%;
  height: 2.4286rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background: rgba(0, 0, 0, 0.3);
  }

  .button-text {
    color: rgba(0, 0, 0, 0.78);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
}

.chat-input {
  bottom: 0;
  flex-shrink: 0;
  width: 100%;
  background-color: rgba($color_bg_item, 0.3);
}

.chat-input__preview {
  height: 8.571rem;
  padding: 16px 1.429rem;

  > .vue-scrollbar__wrapper {
    height: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    > .vue-scrollbar__area {
      display: flex;
      height: 100%;
    }
  }
}

.chat-input__preview-list {
  display: flex;
}

.chat-input__preview-file {
  position: relative;
  width: fit-content;
  height: 100%;
  margin-right: 1.429rem;
  &:last-child {
    margin-right: 0;
  }
}

.chat-input__preview-image {
  max-height: 100%;
}

.chat-input__preview-remove {
  position: absolute;
  top: 0.214rem;
  right: 0.214rem;
  width: 1.429rem;
  height: 1.429rem;
  background: url(~assets/image/call/ic-close-w.svg) center/1.071rem 1.071rem
    no-repeat rgba($color_bg_item, 0.7);
  border-radius: 50%;

  @include ir();
}

.chat-input__form {
  display: flex;
  height: 4.286rem;
  padding: 1.071rem 1.286rem 1.071rem 0.857rem;
  border-top: solid 1px #26262a;
}

.chat-input__form-upload {
  width: 2.143rem;
  height: 100%;
  background: url(~assets/image/call/chat_ic_attachfile.svg) center no-repeat;

  @include ir();
}

.chat-input__form-write {
  width: 67%;
  height: 1.143rem;
  margin: 0.2857rem 0.714rem 0 0;
  overflow: hidden;
  color: $color_text_main;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  resize: none;

  &::placeholder {
    color: rgba($color_text_sub, 0.42);
  }
}

.chat-input__form-button {
  position: absolute;
  right: 1.286rem;
  padding: 0.357rem 0.857rem;
  color: $color_text_sub;
  font-size: 1.071rem;
  background-color: $color_primary;
  border-radius: 2px;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color_primary_700;
  }
  &:active {
    background-color: $color_primary_dark;
  }
  &:focus {
    background-color: $color_primary_dark;
  }
}

/*for chat files */
.chat-file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5714rem;
  padding: 1.1429rem 1.4286rem 1.1429rem 1.7857rem;

  &:hover {
    background: #3d3d41;
  }
  &.active {
    background: #3d3d41;
  }
  &.invalid {
    pointer-events: none;
    // &:hover {
    //   background-color: unset;
    // }
  }
}
.chat-file-item--wrapper {
  display: flex;
}

.chat-file-item--icon {
  width: 1.7143rem;
  height: 1.7143rem;
  margin-right: 0.8571rem;
  &.pdf {
    background: url(~assets/image/call/chat/ic_chat_pdf_w.svg) center no-repeat;
  }
  &.txt {
    background: url(~assets/image/call/chat/ic_chat_file_w.svg) center no-repeat;
  }
  &.jpg {
    background: url(~assets/image/call/chat/ic_chat_jpgpng_w.svg) center
      no-repeat;
  }
  &.png {
    background: url(~assets/image/call/chat/ic_chat_jpgpng_w.svg) center
      no-repeat;
  }
  &.mp3 {
    background: url(~assets/image/call/chat/ic_chat_mp3_w.svg) center no-repeat;
  }
  &.video {
    background: url(~assets/image/call/chat/ic_chat_video_w.svg) center
      no-repeat;
  }
}

.chat-file-item__center--file-name {
  width: 16.4286rem;
  height: 1.5rem;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.78);
  font-weight: 500;
  font-size: 1.1429rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  &.invalid {
    color: rgba(255, 255, 255, 0.3);
  }
}

.chat-file-item__sub--valid-text {
  margin: 0px 0.2857rem 0px 0px;
  color: #6bb4f9;
  font-size: 0.9286rem;

  &.invalid {
    color: #e34850;
  }
}

.chat-file-item__sub--file-size {
  color: rgba(255, 255, 255, 0.78);
  font-size: 0.9286rem;
  opacity: 0.6;
}

.chat-file-item--check-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4286rem;
  height: 1.4286rem;
  border: 1px solid #979797;
  border-radius: 50%;
  &.active {
    background-color: #0f75f5;
    border: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.chat-file-item--check-inner {
  &.active {
    width: 0.9286rem;
    height: 0.9286rem;
    background: url(~assets/image/call/chat/ic_chat_check.svg) center no-repeat;
  }
}

/*for chat files */
.chat-down {
  bottom: 0;
  flex-shrink: 0;
  width: 100%;
  background-color: rgba($color_bg_item, 0.3);
}

.chat-down__bar {
  display: flex;
  height: 4.286rem;
  padding: 1.071rem 1.286rem 1.071rem 0.857rem;
  border-top: solid 1px #26262a;
}

.chat-down__bar--cancel {
  width: 2.2857rem;
  height: 100%;
  margin: 0px 0.5714rem 0px 0px;
  background: url(~assets/image/call/chat/ic_chat_cancel_select.svg) center
    no-repeat;

  @include ir();
}

.chat-down__bar--count {
  margin: 0.2143rem 0px 0px 0px;
  color: rgba(255, 255, 255, 0.78);
  font-weight: 500;
  font-size: 1rem;
}

.chat-down__bar--button {
  position: absolute;
  right: 1.286rem;
  padding: 0.357rem 0.857rem;
  color: $color_text_sub;
  font-size: 1.071rem;
  background-color: $color_primary;
  border-radius: 2px;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color_primary_700;
  }
  &:active {
    background-color: $color_primary_dark;
  }
  &:focus {
    background-color: $color_primary_dark;
  }
}
