.remote-layout {
  position: relative;
  min-width: $size_tab_min;
  height: 100%;
  overflow: hidden;
  background-color: $color_bg_default;
}
.remote-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: calc(100% - #{$header_height});
  margin-top: $header_height;
  // padding: $header_height 10px 20px 0;
  margin-right: 0;
  padding-bottom: 0;
}

.service-wrapper {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // // display: flex;
  // // flex-direction: column;
  // min-height: 100%;
}

.subview-btn {
  position: absolute;
  top: 0.571rem;
  right: 0.571rem;
  z-index: 10;
  width: 2.143rem;
  height: 2.143rem;
  background: no-repeat center/100% url("~assets/image/call/ic_dbl_arrow.svg");
  transform: rotateY(180deg);
  opacity: 0.3;
  @include ir();
  transition: all 0.3s;
  &.hide {
    transform: rotateY(0);
  }
  // @include tablet {
  //   display: none;
  // }
}

.main-wrapper {
  position: relative;
  width: calc(100% - #{$subview_width});
  height: calc(100% - #{$videolist_height});
  color: $color_text_main;
  transition: all 0.3s;
  &.shareview {
    width: calc(100% - #{$subview_width + $share_width});
    margin-left: $share_width;
  }
  @include tablet {
    width: 100%;
    &.shareview {
      width: calc(100% - #{$share_width});
    }
  }
}

.main-body {
  position: absolute;
  width: 80%;
  height: 100%;
  margin: 0 10%;
  &.stream {
    opacity: 1;
    transition: opacity 0.3s 0.3s;
    &.hide {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &.drawing {
  }

  &.ar {
  }
}
