/** custom mdoal */
.modal.local-recsetting-modal .modal--inner {
  background-color: $color_darkgray_500;
  border-radius: 4px;
  box-shadow: none;
}
.modal.local-recsetting-modal .modal--header {
  height: auto;
  padding: 0;
  border-bottom: none;
}

.rec-setting {
  padding: 0;
}

.rec-setting__header {
  margin-bottom: 1.4286rem;
  color: $color_white;
  font-size: 1.2857rem;
}

.rec-setting__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  &.underbar {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 36px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #454548;
      content: "";
    }
  }
  &.checkbox {
    display: inline-flex;
    margin-top: 1rem;
  }
}

.rec-setting__text {
  width: 12.8571rem;
  color: $color_text_main;
  font-size: 1rem;

  &.custom {
    display: flex;
    align-items: center;
  }

  > p {
    margin: 0px 0.2857rem 0px 0px;
    margin-right: 8px;
    color: $color_text_main;
    font-size: 1rem;
  }
  > .popover--wrapper {
    display: flex;
  }
}

.rec-setting__selector {
  flex: 1;
  align-items: flex-start;
  .radio-group {
    height: 2.4286rem;
  }
}
.rec-setting--tooltip-icon {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  transition: opacity 0.2;
  &:hover {
    opacity: 1;
  }
}
.rec-setting__tooltip--body {
  width: 24.4286rem;
  height: 4.8571rem;
  padding: 1.1429rem 1.7143rem 1.1429rem 2rem;
  background: url("~assets/image/img_tooltip_big.svg") center no-repeat;
}

.rec-setting__tooltip--text {
  color: #ffffff;
  font-size: 0.8571rem;
}

/*custom remote radio */
.rec-setting {
  .radio-group {
    flex-direction: row;
    padding: 0;

    .radio-option:not(:first-of-type) {
      padding-left: 1.8571rem;
    }
  }
}
.modal.local-recsetting-modal .modal--inner .modal--body {
  padding: 50px 40px 36px;
}

.popover.rec-setting__custom-popover {
  box-shadow: none;
  > .popover--body {
    padding-left: 10px;
  }
}
