.chat {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $color_chat_bg_default;
  transition: all 0.3s;
  > .vue-scrollbar__wrapper {
    width: 100%;
    // height: calc(100% - 120px);
    height: 100%;
    margin-right: auto;
    margin-bottom: 0px;
  }
  &.subView {
    top: 18rem;
    height: calc(100% - 18rem);
  }
}

.chat-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background-color: $color_chat_header;
  border-bottom: solid 1px $color_chat_bg_default;
}

.chat-header__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.7857rem 1.5714rem 1.1429rem;
  color: rgba($color_text, 0.87);
  font-weight: 500;
  font-size: 1.1429rem;

  // .show-list {
  //   margin-left: 0.357rem;
  //   background: url(~assets/image/call/chat_icn_moreinfor.svg) center/1.429rem
  //     no-repeat;

  //   @include ir();
  // }
}
.chat-header__title--text {
  min-height: 1.786rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-header__close {
  display: none;
}

.chat-header__menu {
  display: flex;
  height: 100%;
}

.chat-header__selector {
  flex: 1;
  height: 3.2143rem;
  opacity: 0.3;
  transition: background-color 0.3s;
  &:hover {
    opacity: 0.5;
  }

  &.active {
    background-color: rgba(#a9a9a9, 0.2);
    opacity: 0.87;
    pointer-events: none;
  }
}

.chat-header__selector--button {
  width: 100%;
  height: 100%;
  text-align: center;
}

.chat-header__selector--text {
  position: relative;
  display: inline-flex;
  color: #fff;
  line-height: 1.4286rem;
  transform: translateY(1px);
  > img {
    width: 1.4286rem;
    height: 1.4286rem;
    margin-right: 0.429rem;
  }
}

.chat-header__description {
  color: rgba($color_text_sub, 0.87);
  font-weight: 500;
  font-size: 0.857rem;
}
.chat-header__fold {
  position: absolute;
  top: 50%;
  right: 1.571rem;
  width: 1.429rem;
  background: url(~assets/image/call/chat_ic_fullscre.svg) center/1.571rem
    no-repeat;
  transform: translateY(-50%);

  @include ir();
}

.chat-body {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}
.chat-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  > .vue-scrollbar__wrapper {
    flex: 1;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
  }
}
.chat-list__empty {
  display: flex;
  flex: 1;
  width: 100%;
}
.chat-list__empty-inner {
  margin: auto;
  text-align: center;
  > img {
    width: 7.143em;
    height: 7.143em;
  }
  > p {
    color: #a7a7a7;
    font-size: 1.143em;
  }
}

.chat-msglist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 1.071rem 1.071rem 1.071rem 1.714rem;
}

.chat-item {
  // position: relative;
  max-width: 80%;
  margin: 0.429rem 0;

  &.date {
    position: relative;
    align-self: center;
    margin-bottom: 1.429rem;
    color: rgba($color_text_sub, 0.7);
    font-size: 0.857rem;
    > p {
      &::before {
        position: absolute;
        top: 50%;
        right: 100%;
        width: 7.143rem;
        height: 1px;
        margin-right: 0.714rem;
        background-color: rgba($color_white, 0.15);
        content: "";
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 7.143rem;
        height: 1px;
        margin-left: 0.714rem;
        background-color: rgba($color_white, 0.15);
        content: "";
      }
    }
  }

  &.opponent {
    align-self: flex-start;

    .chat-item__profile {
      position: absolute;
      width: 2.143rem;
      height: 2.143rem;
      background-color: transparent;
      border-radius: 50%;
    }
  }

  &.system {
    align-self: center;
    max-width: 100%;
    margin: 0.5rem 0;
    border-radius: 4px;
  }

  &.file-share {
    width: auto;
  }
}

.chat-item__body {
  // width: 100%;
  color: rgba($color_darkgray_1000, 0.78);
  &.system {
    color: rgba($color_text_sub, 0.9);
    .chat-item__body--text {
      font-weight: 300;
      text-align: center;
      text-indent: 1.429rem;
      &::before {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transform: translate(-4px, 2px);
        content: "";
      }
    }
  }
  &.opponent {
    flex: 1 1 auto;
    // max-width: calc(100% - 2.857rem);
    // max-width: calc(100% - 2.857rem);
    margin-left: 2.857rem;

    &.hidden {
      margin-left: 2.857rem;
      .chat-item__body--chatbox {
        padding: 0.786rem 0.929rem;
      }
    }
    .chat-item__body--chatbox {
      position: relative;
      width: fit-content;
      max-width: 100%;
      padding: 0.5rem 0.929rem;
      line-height: 1.57;
      word-break: break-word;
      background-color: $color_chat_bg_opponent;
      border-radius: 0 0.5rem 0.5rem 0.5rem;
    }
    .chat-item__body--time {
      text-align: right;
    }
    .chat-item__file--exp {
      background-color: #b2b2b2;
    }
  }
  &.me {
    .chat-item__body--chatbox {
      width: fit-content;
      max-width: 100%;
      margin-left: auto;
      padding: 0.786rem 0.929rem;
      line-height: 1.57;
      word-break: break-word;
      background-color: $color_chat_bg_me;
      border-radius: 0.5rem 0.5rem 0 0.5rem;
    }
    .chat-item__body--time {
      text-align: left;
    }
    .chat-item__file--exp {
      background-color: #7499c2;
    }
  }
}

.chat-item__body--textbox {
  position: relative;
}

.chat-item__body--text {
  position: relative;
  overflow: hidden;
  font-weight: 400;
  // line-height: 1.57;
  word-break: break-word;
  transition: opacity 0.3s ease-in-out;
  &.multiple {
    margin-top: 0.643em;
    padding-top: 0.643em;
    border-top: dashed 1px #c7c7c7;
  }
  &.inactive {
    height: 0;
    opacity: 0;
  }
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
  &.init::before {
    background-image: url(~assets/image/call/ic_chat_remote.svg);
  }
  &.alarm::before {
    background-image: url(~assets/image/call/ic_chat_alarm.svg);
  }
  &.sharing::before {
    background-image: url(~assets/image/call/ic_chat_sharing.svg);
  }
  &.people::before {
    background-image: url(~assets/image/call/ic_chat_ppl.svg);
  }
  &.ar::before {
    background-image: url(~assets/image/call/ic_chat_ar.svg);
  }
  &.board::before {
    background-image: url(~assets/image/call/ic_chat_board.svg);
  }
  &.cancel::before {
    background-image: url(~assets/image/call/ic_chat_filecancel.svg);
  }
  &.pointing::before {
    background-image: url(~assets/image/call/ic_chat_pointing.svg);
  }
  &.record::before {
    background-image: url(~assets/image/call/ic_chat_local_record.svg);
  }
  &.screen::before {
    background-image: url(~assets/image/call/ic_chat_screen.svg);
  }
  &.camera::before {
    background-image: url(~assets/image/call/ic_chat_camera.svg);
  }

  > em {
    display: inline-block;
    max-width: calc(100% - 1.429rem);
    overflow: hidden;
    color: $color_primary_500;
    white-space: nowrap;
    text-indent: 0;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  > b {
    font-weight: 500;
  }
  .chat-url {
    color: $color_primary_700;
    font-size: 0.9375rem;
    text-decoration: underline;
    word-break: break-word;
  }
}

.chat-item__body--name {
  display: inline-block;
  max-width: 100%;
  color: rgba($color_darkgray_1000, 0.9);
  font-weight: 500;
  font-size: 0.857rem;
  vertical-align: top;
  @include ellipsis();
}

.chat-item__body--time {
  display: block;
  margin: 0.286rem 0;
  color: $color_text_main;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.5;
}

.chat-item__file {
  white-space: pre-line;
}

.chat-item__file--wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.0714rem;
}

.chat-item__file--name {
  position: relative;
  width: 9.714rem;
  overflow: hidden;
  color: rgba($color_darkgray_1000, 0.78);
  font-weight: 500;
  font-size: 1.0714rem;
  white-space: nowrap;
  text-indent: 2.071rem;
  text-overflow: ellipsis;
  &:before {
    position: absolute;
    left: 0;
    width: 1.7143rem;
    height: 1.7143rem;
    margin-right: 0.429rem;
    background: center/100% no-repeat;
    content: "";
  }
  &.threed:before {
    background-image: url(~assets/image/call/chat/ic_3d_b.svg);
  }
  &.zip:before {
    background-image: url(~assets/image/call/chat/ic_zip_b.svg);
  }
  &.pdf:before {
    background-image: url(~assets/image/call/chat/ic_pdf_b.svg);
  }
  &.audio:before {
    background-image: url(~assets/image/call/chat/ic_audio_b.svg);
  }
  &.video:before {
    background-image: url(~assets/image/call/chat/ic_video_b.svg);
  }
  &.image:before {
    background-image: url(~assets/image/call/chat/ic_image_b.svg);
  }
  &.doc:before {
    background-image: url(~assets/image/call/chat/ic_ms_b.svg);
  }
  &.file:before {
    background-image: url(~assets/image/call/chat/ic_file_b.svg);
  }
}

.chat-item__file--exp {
  display: inline-block;
  margin: 0.5rem 0.357rem 0 2.143rem;
  padding: 2px 0.5rem 3px;
  color: #fff;
  font-size: 0.857rem;
  line-height: 1.2rem;
  white-space: normal;
  border-radius: 2px;
}

.chat-item__file--size {
  color: #7a7a7a;
  font-size: 0.8571rem;
}

.chat-item__translate--button {
  position: absolute;
  top: 0;
  right: -30px;
  width: 24px;
  height: 24px;
  background: url(~assets/image/call/chat/ic_trans.svg) no-repeat center
    center/20px;
  background-color: #4f4f54;
  border-radius: 3px;
  transition: background-color 0.3s;
  @include ir();
  &.active {
    background-color: #0f75f5;
  }
}
.chat-item__file--button {
  width: 100%;
  height: 2.4286rem;
  margin: 0.929em 0 0.2571rem;
  background: rgba(#000000, 0.1);
  border-radius: 3px;
  &:hover {
    background: rgba(#000000, 0.2);
  }

  &:active {
    background: rgba(#000000, 0.3);
  }

  .button-text {
    color: rgba(#000000, 0.78);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
}

.chat-input {
  bottom: 0;
  left: 0;
  flex: 0;
  width: 100%;
  background-color: rgba($color_bg_item, 0.3);
}

.chat-input__preview {
  height: 8.571rem;
  padding: 16px 1.429rem;

  > .vue-scrollbar__wrapper {
    height: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    > .vue-scrollbar__area {
      display: flex;
      height: 100%;
    }
  }
}

.chat-input__preview-list {
  display: flex;
}

.chat-input__preview-file {
  position: relative;
  width: fit-content;
  height: 100%;
  margin-right: 1.429rem;
  &:last-child {
    margin-right: 0;
  }
}

.chat-input__preview-image {
  max-height: 100%;
}

.chat-input__preview-remove {
  position: absolute;
  top: 0.214rem;
  right: 0.214rem;
  width: 1.429rem;
  height: 1.429rem;
  background: url(~assets/image/call/ic-close-w.svg) center/1.071rem 1.071rem
    no-repeat rgba($color_bg_item, 0.7);
  border-radius: 50%;

  @include ir();
}

.chat-input__form {
  display: flex;
  height: 4.286rem;
  padding: 1.071rem 1.286rem 1.071rem 1.143rem;
  border-top: solid 1px $color_chat_bg_default;
}

.chat-input__form-speech {
  width: 1.714rem;
  height: 1.714rem;
  margin: auto 0.357rem;
  background: url(~assets/image/call/ic_voice_recognition.svg) center/100%
    no-repeat;

  @include ir();
}
.chat-input__form-upload {
  width: 1.714rem;
  height: 1.714rem;
  margin: auto 0;
  background: url(~assets/image/call/chat_ic_attachfile.svg) center/100%
    no-repeat;

  @include ir();
}

.chat-input__form-remove {
  width: 2.2857rem;
  height: 100%;
  margin-right: 0.5714rem;
  background: url(~assets/image/call/chat/ic_chat_cancel_select.svg) center/100%
    no-repeat;

  @include ir();
}

.chat-input__form-write {
  flex: 1;
  overflow: hidden;
  color: $color_text_main;
  font-size: 1rem;
  line-height: 1.786rem;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;

  &::placeholder {
    color: rgba($color_text_sub, 0.42);
  }
}

.chat-input__form-filetext {
  flex: 1;
  align-self: center;
  overflow: scroll;
  color: rgba($color_text_sub, 0.42);
  &::-webkit-scrollbar {
    display: none;
  }
}

.chat-input__form-button {
  margin-left: 5px;
  padding: 0.214rem 0.857rem;
  color: $color_text_sub;
  background-color: $color_primary;
  border-radius: 2px;
  transition: background-color 0.2s;

  &:focus {
    background-color: $color_primary;
  }
  &:hover {
    background-color: $color_primary_700;
  }
  &:active {
    background-color: $color_primary_dark;
  }
}

/*for chat files */
.chat-file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5714rem;
  padding: 1.1429rem 1.4286rem 1.1429rem 1.7857rem;
  border-top: solid 1px transparent;

  &:hover {
    background: rgba(#555559, 0.2);
  }
  &:after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4286rem;
    height: 1.4286rem;
    border: 1px solid #979797;
    border-radius: 50%;
    content: "";
  }
  &.active {
    background: rgba(#555559, 0.5);
    border-color: rgba($color_chat_bg_default, 0.3);
    &:after {
      background: url(~assets/image/call/chat/ic_chat_check.svg) center/70%
        no-repeat;
      background-color: $color_primary;
      border: none;
    }
  }
  &.invalid {
    pointer-events: none;
    &:after {
      display: none;
    }
    // &:hover {
    //   background-color: unset;
    // }
  }
}
.chat-file-item__wrapper {
  display: flex;
}

.chat-file-item__icon {
  width: 1.7143rem;
  height: 1.7143rem;
  margin: 0 0.8571rem auto 0;
}

.chat-file-item__name {
  width: 16.4286rem;
  height: 1.7rem;
  overflow: hidden;
  color: rgba(#ffffff, 0.78);
  font-weight: 500;
  font-size: 1.1429rem;
  line-height: 1.5rem;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  &.invalid {
    color: rgba(#ffffff, 0.3);
  }
}
.chat-file-item__sub {
  text-align: left;
}

.chat-file-item__valid {
  color: #cacaca;
  font-size: 0.929rem;
  text-align: left;
  > span {
    display: inline-block;
    padding: 1px 0.429rem 2px;
    line-height: 1.143rem;
    background-color: #5a5a5e;
    border: solid 1px #7a7a83;
    border-radius: 2px;
  }

  // &.invalid {
  //   color: #e34850;
  // }

  & > em {
    margin-left: 0.429rem;
    color: rgba(#ffffff, 0.78);
    font-size: 0.929rem;
    opacity: 0.6;
  }
}

/*for chat files */
.chat-down {
  bottom: 0;
  flex: 0;
  flex-shrink: 0;
  width: 100%;
  background-color: rgba($color_bg_item, 0.3);
}

.chat-down__bar {
  display: flex;
  height: 4.286rem;
  padding: 1.071rem 1.286rem 1.071rem 1.429rem;
  border-top: solid 1px $color_chat_bg_default;
}

.chat-down__bar--cancel {
  width: 2.2857rem;
  height: 100%;
  margin-right: 0.5714rem;
  background: url(~assets/image/call/chat/ic_chat_cancel_select.svg) center/100%
    no-repeat;

  @include ir();
}

.chat-down__bar--count {
  margin: 0.2143rem 0px 0px 0px;
  color: rgba(#ffffff, 0.78);
  font-weight: 500;
  font-size: 1rem;
}

.btn.chat-down__bar--button {
  position: absolute;
  right: 1.286rem;
  min-height: auto;
  padding: 0.214rem 0.857rem;
  // color: $color_text_sub;
  font-weight: 300;
  font-size: 1em;
  transition: background-color 0.2s;
  &:disabled {
    color: rgba($color_text_sub, 0.5);
  }
}

@include responsive-mobile {
  .chat-header__close {
    position: absolute;
    top: 1.5rem;
    right: 1.6rem;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(~assets/image/ic_close_24.svg) 50% no-repeat;
  }
}
