$color-primary: #1655bf;
$color-primary-hover: #2665d0;
$color-primary-active: #144dad;
$color-info: #4d5d74;
$color-info-hover: #56657b;
$color-info-active: #4d5d74;
$color-link: #0052cc;
$font-color-desc: #5e6b81;
$font-color-content: #0b1f48;
$font-color-label: #0d2a58;
