.column-user {
  .virnect-thumbnail {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
  span {
    margin-left: 6px;
    vertical-align: middle;
  }
  .el-tooltip {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.column-plan {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  & > img {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-top: 1px;
    margin-right: 4px;
    border: solid 1px #dde1ea;
    border-radius: 100px;
  }
  & > .el-tag {
    height: auto;
    margin: 1px 6px 0;
    padding: 4px 6px;
    font-size: 11px;
    line-height: 11px;

    &.PRO {
      color: #0b5bd8;
      border-color: #0b5bd8;
    }
    &.PUBLIC {
      color: #828a97;
      border-color: #828a97;
    }
  }
}

.column-role {
  & > .el-tag {
    height: 24px;
    padding: 0 12px;
    color: #fff;
    font-size: 12px;
    line-height: 1.9;
    border: none;
  }
  .MASTER {
    background: #365595;
  }
  .MANAGER {
    background: #1f87e6;
  }
  .MEMBER {
    background: #7ac1fc;
  }
}

.column-status {
  & > span {
    display: inline-block;
    box-sizing: border-box;
    min-width: 74px;
    margin: -10px 0;
    padding: 4px 10px;
    font-size: 13px;
    text-align: center;
    border: solid 1px;
    border-radius: 100px;
  }
}
