.column-user {
  // virnect thumbnail component
  .virnect-thumbnail {
    display: inline-block !important;
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
  span {
    margin-left: 6px;
    vertical-align: middle;
  }
  .el-tooltip {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.deleted {
    opacity: 0.5;
  }
}

.column-plan {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  & > img {
    box-sizing: border-box;
    margin-top: 1px;
    margin-right: 4px;
    border: solid 1px #dde1ea;
    border-radius: 100px;
  }
  & > .el-tag {
    height: auto;
    margin: 1px 6px 0;
    padding: 4px 6px;
    font-size: 11px;
    line-height: 11px;

    &.PUBLIC {
      color: #828a97;
      border-color: #828a97;
    }
  }
}

.column-role,
.member-role-select .el-select__tags > span {
  & > .el-tag {
    height: 24px;
    padding: 0 9px;
    color: #fff;
    font-size: 12px;
    line-height: 1.9;
    border: none;
  }
  .MASTER {
    background: #365595;
  }
  .MANAGER {
    background: #1f87e6;
  }
  .MEMBER {
    background: #7ac1fc;
  }
  .SEAT {
    background: #7ac1fc;
  }
}

.column-links {
  overflow: visible;
  & > a {
    display: inline-block;
    height: 28px;
    margin-right: 8px;
    padding: 2px 10px 6px 5px;
    color: #314366;
    font-size: 13px;
    line-height: 20px;
    background: $color-button;
    border-radius: 4px;

    img,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      background: $color-button-hover;
    }
    &:active {
      color: $color-primary;
      background: $color-button-active;
    }
  }
}

.column-modes {
  @mixin border($color) {
    & {
      border: solid 1.2px $color;
    }
    & > span {
      color: $color;
    }
  }

  overflow: visible;
  & > a {
    display: inline-block;
    text-align: center;
    width: 68px;
    height: 28px;
    margin-right: 8px;
    padding: 3px 12px 5px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
    background-color: rgba(32, 102, 243, 0.02);

    &:first-child {
      @include border(#2066f3);
    }

    &:nth-child(2) {
      @include border(#237ffe);
    }

    &:nth-child(3) {
      @include border(#0091ff);
    }

    &:hover {
      background: $color-button-hover;
    }
    &:active {
      color: $color-primary;
      background: $color-button-active;
    }
  }
}

.column-status {
  & > span {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    border: solid 1px transparent;
    border-radius: 3px;
  }
}

.column-boolean {
  & > span {
    color: #566173;
  }
  & > span:before {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 0.3em;
    vertical-align: middle;
    background: #566173;
    border-radius: 1em;
    content: "";
  }
  // true
  & > span.true {
    color: #186ae2;
  }
  & > span.true:before {
    background: #186ae2;
  }
}

.column-done {
  & > div {
    display: inline-block;
    padding: 6px 10px;
    line-height: 1.1em;
    white-space: nowrap;
    background-color: #fbfbfd;
    border: solid 1px #eaedf3;
    border-radius: 4px;

    & > span:first-child {
      color: $color-blue;
    }
    & > span:nth-child(2) {
      margin: 0 -0.1em;
      letter-spacing: 0.1em;
    }
  }
}

.column-progress {
  .el-progress-bar {
    padding-right: 30px;
  }
  .el-progress-bar__inner {
    background: $color-blue;
  }
  .el-progress__text {
    display: block;
    margin-top: 4px;
    padding-right: 30px;
    font-size: 13px !important;
    text-align: right;
  }
}

.column-date {
  & > span {
    word-spacing: 0.2em;
  }
}

.column-file-size {
  & > span {
    word-spacing: 0.2em;
  }
}

.column-dropdown {
  cursor: pointer;
  img {
    width: 20px;
    max-width: none;
    vertical-align: sub;
  }
}

.column-closed {
  overflow: visible !important;
  & > span {
    display: inline-block;
    width: 48px;
    padding: 4px 0;
    color: #818a9d;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background: rgba(229, 233, 239, 0.5);
    border-radius: 100px;
  }
}
