.task {
  .title {
    position: relative;
    .el-button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .tab-wrapper {
    margin-bottom: 20px;

    .searchbar__keyword {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 34px;
      margin: auto 0;
    }
  }
  .btn-wrapper {
    margin-bottom: 16px;
  }
  .column-boolean .true {
    color: inherit;
    &:before {
      background-color: #ee5c57;
    }
  }
}
