$color_bg_default: #ffffff;

$admin_border: solid 1px #e8edf1;

$remote_blue: #3957e1;
$warning_color: #f86161;

$gray_dot: #aeb6c4;

$role_color_master: #8073f3;
$role_color_manager: #768efe;
$role_color_member: #6fc197;
$role_color_sub: #8ea3bd;
$role_border_master: solid 1px #e2dbff;
$role_border_manager: solid 1px #d0deff;
$role_border_member: solid 1px #bbdecc;
$role_border_sub: solid 1px #d1dceb;