//그룹 정보 영역 (조직관리 > 그룹관리 > [선택그룹])
.group-info {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 310px;
    padding: 0 28px 18px;
    border: 1px solid #eee;
    z-index: 1;

    &--card {
        &__content {
            margin-top: 40px;
            text-align: center;
        }
        .figurebox {
            margin-bottom: 10px;
            line-height: 0;
        }
        .user-image {
            width: 98px;
            height: 98px;
            margin: 0 auto;
            border-radius: 50%;
            color: #fdfdfd;
            font-size: 30px;
            line-height: 98px;
            font-weight: 300;
            text-align: center;
            object-fit: cover;
            border: solid 1px #eee;
        }
        .user-name {
            display: flex;
            align-items: center;
            justify-content: center;
            // min-height: 56px;
            padding: 0 18px 0 18px;
            font-size: 22px;
            font-weight: 700;
            color: #1a1c1d;
			text-align: center;
			word-break: break-word;
        }
        .user-description {
            margin-top: 4px;
            font-size: 12px;
            font-weight: 500;
			color: #aeb7c9;
			padding: 0 18px;
        }
    }

    &--content {
        margin-top: 60px;
        
        &__title {
            text-align: left;
            color: #3f465a;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 4px;
        }
        
        &__item {
            position: relative;
            min-height: 54px;
            & + .group-info--content__item {
                border-top: 1px solid #eef1f4;
            }

            .category {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                float: left;    
                font-size: 14px;
                font-weight: 500;
                color: #979fb0;

                &::before {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    background: transparent 50%/16px no-repeat;
                    vertical-align: middle;
                }

                // &.member::before {
                //     content: '';
                //     background-image: url(~assets/image/admin/ic-member.svg);
                // }
                // &.manager::before {
                //     content: '';
                //     background-image: url(~assets/image/admin/ic-manager.svg);
                // }
            }
            .number {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;    
                color: #3957e1;
                font-size: 20px;
                font-weight: 700;
            }
        }
        
        &__thumbnails {
            // height: 28px;
            margin-top: 4px;
            text-align: right;

            span {
                vertical-align: middle;
            }

            .user-item {
                display: inline-block;
                width: 28px;
                height: 28px;
                margin-left: 4px;
                font-size: 12px;
                font-weight: 500;
                color: #979fb0;
                
                &.plus {
                    border-radius: 50%;
                    margin-left: 2px;
                    line-height: 26px;
                    border: 1px solid #ccd1d7;
                    text-align: center;
                    cursor: pointer;
                }

                &__tooltip {
                    width: 28px;
                    height: 28px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-bottom: 7px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: solid 1px #eee;
                    border-radius: 50%;
                }

                
            }
        }
    }
}