@import './_vars';

.admin-confirm-modal {
    .swal2-modal {
        border-radius: 4px;
        min-width: 480px;
        .swal2-header {
            .swal2-image {
                margin: 50px 0 9px;
            }
            .swal2-title {
                font-size: 28px;
                font-weight: 300;
                width: auto;
                border: none;
                color: #2f3340;
				padding: 0;
				text-align: center;
            }
        }
        .swal2-content {
            font-size: 14px;
            width: auto;
            color: #646d80;
            text-align: center;
            padding: 0;
        }
        .swal2-actions {
            justify-content: center;
			margin-top: 46px;
			margin-bottom: 40px;
            .swal2-confirm, .swal2-cancel {
                width: 120px;
                margin: 0 10px;
            }
        }
	}
}
.admin-confirm-modal-text {
    .swal2-modal {
        border-radius: 4px;
		min-width: 440px;
		width: auto;
        .swal2-content {
            font-size: 20px;
            font-weight: 500;
            width: auto;
            color: #646d80;
            text-align: center;
            padding-top: 50px;
        }
        .swal2-actions {
            justify-content: center;
            margin: 42px auto 45px;
            .swal2-confirm, .swal2-cancel {
                width: 110px;
                margin: 0 10px;
            }
        }
	}
}
.admin-confirm-modal-title-text {
    .swal2-modal {
        border-radius: 4px;
		min-width: 440px;
		width: auto;
		.swal2-title {
			margin: 56px auto 0 auto;
			padding: 0;
			font-size: 20px;
			font-weight: 500;
			color: #646d80;
			justify-content: center;
			border: none;
		}
        .swal2-content {
			font-size: 18px;
			font-weight: normal;
			color: #979fb0;
			text-align: center;
			padding-top: 6px;
        }
        .swal2-actions {
            justify-content: center;
            margin: 42px auto 45px;
            .swal2-confirm, .swal2-cancel {
                width: 110px;
                margin: 0 10px;
            }
        }
	}
}

.el-input.is-invalid {
	.el-input__inner {
		color: #3f465a;
	}
}