$color_bg_default: #ffffff;

.admin-wrapper {
    position: relative;
    box-sizing: border-box;
    background-color: $color_bg_default;
}

@import 'admin-header';
@import 'admin-sidebar';
@import 'admin-submenu';

.admin-container {
    overflow: hidden;
    height: 100vh;
    padding-left: $side_width;
}
.admin-body {
    overflow: hidden;
    position: relative;
    max-width: 1524px;
    padding: 0 50px 40px;
    margin: auto;
}

.el-select-dropdown__wrap {
    max-height: none;
}

.require {
    color: #d50000;
}