@import 'vars';

.admin-group {
	position: relative;

	&--wrapper {
			position: relative;
	}

	.group-detail {
		margin-left: 340px;
				
		&.user-list,
		&.group-list {
			margin-left: 320px;
			padding-bottom: 0;

			.scroll--inner {
				padding-bottom: 20px;
				display: grid;
				grid-gap: 0;
				grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
				min-width: 552px;
			}
		}
	}
	
	.is-invalid .el-input__inner {
			color: #1c1c1d;
	}

	.vue-scrollbar__wrapper .scroll--inner {
		padding-top: 0;

		&::after {
			display: block;
			clear: both;
			content: '';
		}
	}

	@import './admin-group-master.scss';
	@import './admin-group-info.scss';

	.no-list {
		margin-left: 30px;
		color: #9ba2b0;
		font-size: 15px;
	}
    .image-body {
        display: block;
        text-align: center;
        
        >img {
            height: 310px;
        }
        .image-body-title {
            font-size: 26px;
            font-weight: 500;
            color: #2f3340;
            margin-top: 18px;
        }
        .image-body-text {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.52;
            color: #979fb0;
            margin: 8px 0 22px;
        }
    }
    .button-body {
        display: block;
		text-align: center;
		padding: 30px 0;
        >button {
            height: 45px;
            min-width: 110px;
            margin-left: 15px;
            padding: 11px 30px;
        }
    }
}

.modal-export {
	border-radius: 4px;
	
	.el-dialog__title {
		font-size: 20px;
		font-weight: 700;
		color: #4a4b4e;
	}
	
	.el-dialog__body {
		position: relative;
		padding: 9px 30px 0;

		.modal-body {
			margin-bottom: 0;
			
			&__card {
				position: relative;

				.user-card {
					// display: block;
					float: none;
					margin: 0 auto;
					width: 256px;
				}
				
				.dot-popover--button {
					display: none;
				}
			}
			&__question {
				font-size: 16px;
				font-weight: 500;
				color: #646d80;
				// width: 296px;
				margin: 22px auto;
				text-align: center;
				word-break: break-all;
   				max-width: 360px;
				.blue {
					color: #3957e1;
				}
				.bold {
					color: #2f3340;
				}
			}
		}
	}
	
	.el-dialog__footer {
		padding: 0 34px 45px;
		text-align: center;
		
		.el-button {
			width: 110px;
		}
		.el-button + .el-button {
			margin-left: 10px;
		}
	}
}

.popover--group-info {
	padding: 0;
	margin-top: -40px;

	.el-popover__title {
		height: 40px;
		line-height: 40px;
		font-size: 12px;
		font-weight: 300;
		color: #878d91;
		border-bottom: solid 1px rgba(226, 231, 237, 0.6);
		padding: 0 18px;
	}
	.el-popover__body {
		max-height: 228px;

		&.vue-scrollbar__wrapper {
			margin-right: 0;
			padding-right: 0;
		}
		
		.scroll--inner {
			padding: 6px 0;
		}
		
		.user {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 6px 14px;

			&--thumb {
				overflow: hidden;
				position: relative;
				width: 30px;
				height: 30px;
				margin-right: 11px;
				border-radius: 50%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&--name {
				position: relative;
				max-width: 111px;
				font-size: 12px;
				font-weight: 500;
				color: rgba(32, 32, 32, 0.87);
				margin: auto 0;
			}
		}
	}
}