.el-button {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 1em;
  border: none;
}
.el-button--simple {
  padding: 8px 14px;
  color: $font-color-content;
  background: rgba(237, 240, 244, 0.6);

  & > span {
    font-size: 12.6px;
  }
}
.el-button--info {
  // font-weight: 300;
  background: $color-info;
  &:hover {
    background: $color-info-hover;
  }
  &:active {
    background: $color-info-active;
  }
}
.profile__info {
  .el-button--info {
    // font-weight: 300;
    color: #0b1f48;
    background: #f0f3f8;
  }
}
.el-button--primary {
  color: #fff;
  font-weight: 300;
  background: $color-primary;
  &:hover {
    background: $color-primary-hover;
  }
  &:active {
    background: $color-primary-active;
  }
}

.el-button.is-disabled,
.el-button.is-disabled:hover,
.el-button.is-disabled:focus,
.el-button.is-disabled:active {
  color: #8d939c;
  background-color: #edf0f4;
  border-color: #edf0f4;
  opacity: 0.6;
}
.el-button--text.is-disabled,
.el-button--text.is-disabled:hover,
.el-button--text.is-disabled:focus,
.el-button--text.is-disabled:active {
  background: none;
}
