.el-dialog {
  &__header {
    padding: 20px 30px;
    border-bottom: solid 1px #eaedf3;

    .el-dialog__headerbtn {
      right: 28px;
    }
    .el-icon-close:before {
      color: $font-color-content;
      font-weight: bold;
    }
  }
  &__title {
    color: $font-color-content;
  }
  &__body {
    padding: 24px 30px;
    p {
      color: $font-color-content;
      line-height: 1.71;
    }
    .el-form {
      margin: 30px 0 54px;
      .el-form-item {
        margin-bottom: 30px;
      }
      .el-input + .el-input {
        margin-top: 10px;
      }
    }
  }
  &__footer {
    padding: 24px 30px;
  }
}
