@charset "utf-8";
@import "./mixin.scss";
@import "./reset.scss";

.resend-btn {
    width: 100%;
    margin-top: 12px;
    color: $baseColor;
    font-weight: 500;
    font-size: 13px;
    text-align: right;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.restriction-text {
    margin-top: 8px;
    color: #566173;
    font-weight: 500;
    font-size: 13px;
    text-align: left;
}

.profile-image {
    @include clearfix();
}

.image-holder {
    position: relative;
    float: left;
    // overflow: hidden;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 20px 16px;
    text-align: center;
    background: #e2e7ed;

    input {
        position: absolute;
        top: 0;
        left: -9999px;
    }

    label {
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 50%;
        cursor: pointer;

        img {
            width: 64px;
        }
    }
}

.camera-ico {
    position: absolute;
    right: -12px;
    bottom: -12px;
    width: 32px;
    height: 32px;
    padding-top: 9px;
    background-color: #fff;
    border-radius: 50%;

    img {
        width: 18px;
    }
}

.text-wrap {
    float: left;
    width: 260px;
    padding-top: 32px;
    padding-left: 8px;
    color: #566173;
    font-weight: 500;
    font-size: 13px;
    text-align: left;

    p {
        position: relative;
        padding-left: 8px;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "-";
        }
    }
}

.container {
    padding-top: 144px;
    padding-bottom: 240px;
}

.row-bg {
    height: 100%;
    text-align: center;

    > div {
        width: 380px;
    }
}

.find-wrap {
    margin-top: 20px;

    a {
        position: relative;
        display: inline-block;
        padding: 0 13px 0 11px;
        font-weight: 500;

        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 12px;
            margin-top: -5px;
            background: $baseColor;
            content: "";
        }

        &:last-child::after {
            display: none;
        }
    }
}

h2 {
    font-weight: 500;
    font-size: 28px;
    font-family: $noto;

    + p {
        margin-top: 8px;
        font-weight: 500;
        font-size: 15px;
    }
}

.danger-color {
    color: $danger;
}

.warning-msg {
    margin-top: 8px;
    font-size: 14px;
    text-align: left;
}

// messageBox.scss
@import "modules/messageBox.scss";

// input.scss
@import "modules/input.scss";

.el-button {
    height: 50px;
    margin-top: 20px;
    border: 0;

    &.block-btn {
        width: 100%;

        & + .el-button {
            margin-top: 0;
            margin-left: 0;
        }
    }

    &.next-btn {
        margin-top: 30px;
    }
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:active,
.el-button--info.is-disabled,
.el-button--info.is-disabled:hover,
.el-button--info.is-disabled:focus,
.el-button--info.is-disabled:active {
    color: #8d939c;
    background-color: #e2e6eb;
    border-color: #e2e6eb;
}

.recover-info {
    margin-top: 60px;
    font-weight: 500;
    text-align: left;

    dt {
        margin-bottom: 4px;
        font-size: 16px;
    }

    dd {
        font-size: 13px;
    }
}

.app-fade-enter-active,
.app-fade-leave-active {
    transition: opacity 0.3s;
}

.app-fade-enter,
.app-fade-leave-to {
    opacity: 0;
}

.app-fade-leave,
.app-fade-enter-to {
    opacity: 1;
}

.el-message {
    align-items: normal;
    width: 540px;
    padding: 14px 17px 18px;
    border-radius: 4px;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25),
        0 0 1px 0 rgba(9, 30, 66, 0.31);

    &--success {
        color: #fff;
        background-color: #1655bf;
        border-color: #1655bf;
    }

    &--error {
        color: #fff;
        background-color: #b92500;
        border-color: #b92500;
    }

    h3 {
        margin-bottom: 4px;
        font-weight: bold;
    }

    .el-message__closeBtn {
        top: 24px;
        right: 14px;
        font-size: 18px;
    }

    .el-message__icon {
        display: inline-block;
        width: 16px;
        min-width: 16px;
        height: 16px;
        margin-top: 4px;
        overflow: hidden;
        border-radius: 8px;

        &:before {
            display: inline-block;
            margin-top: -4px;
            margin-left: -4px;
            font-size: 25px;
        }
    }

    .el-icon- {
        &success {
            color: #fff;
            font-size: 18px;
        }

        &error {
            color: #fff;
            font-size: 18px;
        }
    }

    // .el-message__icon {
    //   display: none;
    // }
    .el-icon-close:before {
        color: #fff;
    }
}
